## 1. String 字符串

In [94]:
var1 = 'Hello World!'
var2 = "Runoob"
print(type(var1))
print(len(var1))
print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

<class 'str'>
12
var1[0]:  H
var2[1:5]:  unoo

In [95]:
var1 = 'Hello World!'
 
print ("已更新字符串 : ", var1[:6] + 'Runoob!')

已更新字符串 :  Hello Runoob!

In [96]:
'Hello ' * 5
'H' in 'Hello'

True

In [97]:
name = 'Lucy'
print(f'I am {name}')
print(r'I\'m OK')

I am Lucy
I\'m OK

## 1.1 字符串内建函数

In [98]:
sentence = 'hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [99]:
var="www.runoob.com"
sub='o'
print ("var.count('o') : ", var.count(sub))

sub='run'
print ("var.count('run', 0, 10) : ", var.count(sub,0,10))

var.count('o') :  3
var.count('run', 0, 10) :  1

In [100]:
str1 = "runoob"
str2 = "runoob菜鸟教程"
str3 = "Runoob example....wow!!!"
str4 = "runoob2016"
str5 = "2016"
str6 = "二零一六"

print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('*' * 50)
print (str1.isalnum())
print (str2.isalnum())
print (str3.isalnum())
print (str4.isalnum())
print (str5.isalnum())
print (str6.isalnum())
print('*' * 50)
print (str1.isdigit())
print (str2.isdigit())
print (str3.isdigit())
print (str4.isdigit())
print (str5.isdigit())
print (str6.isdigit())
print('*' * 50)
print (str1.isnumeric())
print (str2.isnumeric())
print (str3.isnumeric())
print (str4.isnumeric())
print (str5.isnumeric())
print (str6.isnumeric())

True
True
False
False
False
True
**************************************************
True
True
False
True
True
True
**************************************************
False
False
False
False
True
False
**************************************************
False
False
False
False
True
True

In [101]:
var = "this is string example....wow!!!"
print (var.startswith( 'this' ))   # 字符串是否以 this 开头
print (var.startswith( 'string', 8 ))  # 从第九个字符开始的字符串是否以 string 开头
print (var.startswith( 'this', 2, 4 )) # 从第2个字符开始到第四个字符结束的字符串是否以 this 开头

True
True
False

In [102]:
var='Runoob example....wow!!!'
suffix='!!'
print (var.endswith(suffix))
print (var.endswith(suffix, len(var) - 1))
suffix='Run'
print (var.endswith(suffix))
print (var.endswith(suffix, 0, 3))

True
False
False
True

In [103]:
str1 = "Runoob example....wow!!!"
str2 = "exam";
 
print (str1.find(str2))
print (str1.find(str2, 5))
print (str1.find(str2, 10))
# print (str1.index(str2, 10))

7
7
-1

In [104]:
str1 = "    *****this is **string** example....wow!!!*****    "
str1 = str1.strip() # 默认空格
print (str1)
str1 = str1.strip('*') # 指定字符串 *
str1

*****this is **string** example....wow!!!*****

'this is **string** example....wow!!!'

In [105]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
# 第二个参数为 1，返回两个参数列表
x = txt.split("#", 1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [106]:
str1 = "www.w3cschool.cc"
print ("菜鸟教程旧地址：", str1)
print ("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))
 
str2 = "this is string example....wow!!!"
print (str2.replace("is", "was", 3))

菜鸟教程旧地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string example....wow!!!

## 1.2 Regular Expression 正则表达式

<h2>正则表达式模式</h2>
<p>模式字符串使用特殊的语法来表示一个正则表达式：</p>
<p>字母和数字表示他们自身。一个正则表达式模式中的字母和数字匹配同样的字符串。</p>
<p>多数字母和数字前加一个反斜杠时会拥有不同的含义。</p>
<p>标点符号只有被转义时才匹配自身，否则它们表示特殊的含义。</p>
<p>反斜杠本身需要使用反斜杠转义。</p>
<p>由于正则表达式通常都包含反斜杠，所以你最好使用原始字符串来表示它们。模式元素(如 <span class="marked">r'\t'</span>，等价于 <span class="marked">\\t</span> )匹配相应的特殊字符。</p>
<p>下表列出了正则表达式模式语法中的特殊元素。如果你使用模式的同时提供了可选的标志参数，某些模式元素的含义会改变。</p>
<table class="reference">
<tbody><tr><th style="width:25%">模式</th><th>描述</th></tr>
<tr><td>^</td><td>匹配字符串的开头</td></tr>
<tr><td>$</td><td>匹配字符串的末尾。</td></tr>
<tr><td>.</td><td>匹配任意字符，除了换行符，当re.DOTALL标记被指定时，则可以匹配包括换行符的任意字符。</td></tr>
<tr><td>[...]</td><td>用来表示一组字符,单独列出：[amk] 匹配 'a'，'m'或'k'</td></tr>
<tr><td>[^...]</td><td>不在[]中的字符：[^abc] 匹配除了a,b,c之外的字符。</td></tr>
<tr><td>re*</td><td>匹配0个或多个的表达式。</td></tr>
<tr><td>re+</td><td>匹配1个或多个的表达式。</td></tr>
<tr><td>re?</td><td>   匹配0个或1个由前面的正则表达式定义的片段，非贪婪方式</td></tr>
<tr><td>re{ n}</td><td>匹配n个前面表达式。例如，"o{2}"不能匹配"Bob"中的"o"，但是能匹配"food"中的两个o。</td></tr>
<tr><td>re{ n,}</td><td>精确匹配n个前面表达式。例如，"o{2,}"不能匹配"Bob"中的"o"，但能匹配"foooood"中的所有o。"o{1,}"等价于"o+"。"o{0,}"则等价于"o*"。</td></tr>
<tr><td>re{ n, m}</td><td>匹配 n 到 m 次由前面的正则表达式定义的片段，贪婪方式</td></tr>
<tr><td>a| b</td><td>匹配a或b</td></tr>
<tr><td>(re)</td><td>匹配括号内的表达式，也表示一个组</td></tr>
<tr><td>(?imx)</td><td>正则表达式包含三种可选标志：i, m, 或 x 。只影响括号中的区域。</td></tr>
<tr><td>(?-imx)</td><td>正则表达式关闭 i, m, 或 x 可选标志。只影响括号中的区域。</td></tr>
<tr><td>(?: re)</td><td> 类似 (...), 但是不表示一个组</td></tr>
<tr><td>(?imx: re)</td><td>在括号中使用i, m, 或 x 可选标志</td></tr>
<tr><td>(?-imx: re)</td><td>在括号中不使用i, m, 或 x 可选标志</td></tr>
<tr><td>(?#...)</td><td>注释.</td></tr>
<tr><td>(?= re)</td><td>前向肯定界定符。如果所含正则表达式，以 ... 表示，在当前位置成功匹配时成功，否则失败。但一旦所含表达式已经尝试，匹配引擎根本没有提高；模式的剩余部分还要尝试界定符的右边。</td></tr>
<tr><td>(?! re)</td><td>前向否定界定符。与肯定界定符相反；当所含表达式不能在字符串当前位置匹配时成功。</td></tr>
<tr><td>(?&gt; re)</td><td>匹配的独立模式，省去回溯。</td></tr>
<tr><td>\w</td><td> 匹配数字字母下划线</td></tr>
<tr><td>\W</td><td>匹配非数字字母下划线</td></tr>
<tr><td>\s</td><td> 匹配任意空白字符，等价于 [\t\n\r\f]。</td></tr>
<tr><td>\S</td><td>匹配任意非空字符</td></tr>
<tr><td>\d</td><td> 匹配任意数字，等价于 [0-9]。</td></tr>
<tr><td>\D</td><td>匹配任意非数字</td></tr>
<tr><td>\A</td><td>匹配字符串开始</td></tr>
<tr><td>\Z</td><td>匹配字符串结束，如果是存在换行，只匹配到换行前的结束字符串。</td></tr>
<tr><td>\z</td><td>匹配字符串结束</td></tr>
<tr><td>\G</td><td>匹配最后匹配完成的位置。</td></tr>
<tr><td>\b</td><td>匹配一个单词边界，也就是指单词和空格间的位置。例如， 'er\b' 可以匹配"never" 中的 'er'，但不能匹配 "verb" 中的 'er'。</td></tr>
<tr><td>\B</td><td>匹配非单词边界。'er\B' 能匹配 "verb" 中的 'er'，但不能匹配 "never" 中的 'er'。</td></tr>
<tr><td>\n, \t, 等。</td><td>匹配一个换行符。匹配一个制表符, 等</td></tr>
<tr><td>\1...\9</td><td>匹配第n个分组的内容。</td></tr>
<tr><td>\10</td><td>匹配第n个分组的内容，如果它经匹配。否则指的是八进制字符码的表达式。</td></tr>
</tbody></table>

<h2 id="flags">正则表达式修饰符 - 可选标志</h2>
<p>正则表达式可以包含一些可选标志修饰符来控制匹配的模式。修饰符被指定为一个可选的标志。多个标志可以通过按位 OR(|) 它们来指定。如 re.I | re.M 被设置成 I 和 M 标志：</p>
<table class="reference">
<tbody><tr><th style="width:25%">修饰符</th><th>描述</th></tr>
<tr><td>re.I</td><td>使匹配对大小写不敏感</td></tr>
<tr><td>re.L</td><td>做本地化识别（locale-aware）匹配</td></tr>
<tr><td>re.M</td><td>多行匹配，影响 ^ 和 $</td></tr>
<tr><td>re.S</td><td>使 . 匹配包括换行在内的所有字符</td></tr>
<tr><td>re.U</td><td>根据Unicode字符集解析字符。这个标志影响 \w, \W, \b, \B.</td></tr>
<tr><td>re.X</td><td>该标志通过给予你更灵活的格式以便你将正则表达式写得更易于理解。</td></tr>
</tbody></table>

### 1.2.1 re 模块

In [107]:
import re
re.match(r'\d{3}\-\d{3,8}$', '010-12345')

In [108]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 12345'))

None

### 1.2.2 切分字符串

In [109]:
'a b   c'.split(' ')

['a', 'b', '', '', 'c']

In [110]:
re.split(r'\s+', 'a b   c')

['a', 'b', 'c']

In [111]:
re.split(r'[\s\,]+', 'a,b, c  d')

['a', 'b', 'c', 'd']

In [112]:
re.split(r'[\s\,\;]+', 'a,b;; c  d')

['a', 'b', 'c', 'd']

### 1.2.3 分组

In [113]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [114]:
t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

### 1.2.4 贪婪匹配

In [115]:
re.match(r'^(\d+)(0*)$', '102300').groups()
# 由于\d+采用贪婪匹配，直接把后面的0全部匹配了，结果0*只能匹配空字符串了。

('102300', '')

In [116]:
# 必须让\d+采用非贪婪匹配（也就是尽可能少匹配），才能把后面的0匹配出来，加个?就可以让\d+采用非贪婪匹配：
re.match(r'^(\d+?)(0*)$', '102300').groups()

('1023', '00')

## 2.1 List 列表

In [117]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [118]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

red
green
blue
black
white
yellow

In [119]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [120]:
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [121]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [122]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
del colors[2]
colors.remove('red')
colors

['green', 'yellow', 'white', 'black']

In [123]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors.append('pink')
colors.insert(2, 'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [124]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black', 'red']
print(colors.count('red'))
print(colors.index('green'))

2
1

In [125]:
numbers = [0 ,1, 2, 4, 5, 6, 8, 9, 3, 1]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]
[]

In [126]:
squares = []
squares += [1, 4, 9, 16, 25]
squares += [36, 49, 64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [127]:
squares.extend([81, 100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [128]:
['Hello', 'World'] * 5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [129]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [130]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [131]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

## 2.2 Tuple 元组

In [132]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"   #  不需要括号也可以
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [133]:
tup1[0]

'Google'

In [134]:
tup1 + tup2

('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [135]:
tuple(range(5))

(0, 1, 2, 3, 4)

## 2.3 Set 集合

In [136]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'apple', 'orange', 'pear', 'banana'}
{'H', 'e', 'r', 'd', 'W', 'l', ' ', 'o'}

In [137]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'orange', 'pear', 'banana', 'apple', 'melon'}
{'orange', 'pear', 'banana', 'melon'}

In [138]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'orange', 'pear', 'banana', 'e', 'apple', 'm', 'n', 'l', 'o'}
{'orange', 'pear', 'banana', 'e', 'apple', 'melon', 'm', 'n', 'l', 'lemon', 'o'}

In [139]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b) # 集合a中包含而集合b中不包含的元素
print(a | b) # 集合a或b中包含的所有元素
print(a & b) # 集合a和b中都包含了的元素
print(a ^ b) # 不同时包含于a和b的元素

{'b', 'r', 'd', 'c', 'a'}
{'z', 'm', 'l', 'c', 'a'}
{'d', 'b', 'r'}
{'z', 'b', 'r', 'm', 'd', 'l', 'c', 'a'}
{'c', 'a'}
{'z', 'd', 'b', 'l', 'r', 'm'}

## 2.4 Dictionary 字典

In [140]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(type(dict1))
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

<class 'dict'>
dict1['Name']:  Runoob
dict1['Age']:  7

In [141]:
dict1 = {
    'Name': 'Runoob', 
    'Age': 7, 
    'Class': 'First'
}
 
dict1['Age'] = 8             # 更新 Age
dict1['School'] = "菜鸟教程"  # 添加信息
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [142]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
del dict1['Name'] # 删除键 'Name'
print(dict1)
dict1.clear()     # 清空字典
print(dict1)

{'Age': 7, 'Class': 'First'}
{}

In [143]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [144]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [145]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
 
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

## 2.5 遍历 List, Tuple, Dictionary, Set

In [146]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
# basket = ('apple', 'orange', 'apple', 'pear', 'orange', 'banana')
# basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [147]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [148]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
print(list(enumerate(basket)))
for i, v in enumerate(basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [149]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
indexes = range(len(basket))
print(list(zip(indexes, basket)))
for i, v in zip(indexes, basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [150]:
r1 = range(10)
r2 = range(10, 20)
for i, j in zip(r1, r2):
    print(f'{i} * {j} is {i * j}')

0 * 10 is 0
1 * 11 is 11
2 * 12 is 24
3 * 13 is 39
4 * 14 is 56
5 * 15 is 75
6 * 16 is 96
7 * 17 is 119
8 * 18 is 144
9 * 19 is 171

In [151]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
for k in dict1.keys():
    print(k)
for v in dict1.values():
    print(v)
for k, v in dict1.items():
    print(f'{k}{"-" * 10}{v}')

Name
Age
Class
Runoob
7
First
Name----------Runoob
Age----------7
Class----------First

## 2.6 嵌套

In [152]:
basket = ['apple', 'pear', 'banana']
numbers = list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [153]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2]

## 2.7 迭代器与生成器

In [154]:
l = [1,2,3,4]
it = iter(l)    # 创建迭代器对象
print(next(it))   # 输出迭代器的下一个元素
print (next(it))

1
2

In [155]:
l=[1,2,3,4]
it = iter(l)    # 创建迭代器对象
for x in it:
    print (x, end=" ")

1 2 3 4

In [156]:
def fibonacci(n): # 生成器函数 - 斐波那契
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n): 
            return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacci(10) # f 是一个迭代器，由生成器返回生成

for x in f:
    print (x, end=" ")

0 1 1 2 3 5 8 13 21 34 55

## 2.8 Lambda Operator, filter, reduce and map

In [157]:
def add(x, y): 
    return x + y
  
# Call the function
add(2, 3)  # Output: 5

5

In [158]:
add = lambda x, y : x + y 
  
add(2, 3) # Output: 5

5

In [159]:
a = filter(lambda x : x % 2 != 0, [1,2,3,4])
list(a)

[1, 3]

In [160]:
a = map(lambda x : x + 10, [1,2,3,4])
list(a)

[11, 12, 13, 14]

In [161]:
from functools import reduce
reduce(lambda x, y : x + y, [1,2,3,4])

10

In [162]:
class Parent(object):
    def override(self):
        print("PARENT override()")

    def implicit(self):
        print("PARENT implicit()")

    def altered(self):
        print("PARENT altered()")

class Child(Parent):
    def override(self):
        print("CHILD override()")

    def altered(self):
        print("CHILD, BEFORE PARENT altered()")
        super(Child, self).altered()
        print("CHILD, AFTER PARENT altered()")
        
dad = Parent()
son = Child()

dad.implicit()
son.implicit()

dad.override()
son.override()

dad.altered()
son.altered()

PARENT implicit()
PARENT implicit()
PARENT override()
CHILD override()
PARENT altered()
CHILD, BEFORE PARENT altered()
PARENT altered()
CHILD, AFTER PARENT altered()

In [163]:
class Other(object): 
    def override(self):
        print("OTHER override()") 
    def implicit(self):
        print("OTHER implicit()") 
    def altered(self):
        print("OTHER altered()") 
        
class Child(object):
    def __init__(self): 
        self.other = Other()
    def implicit(self): 
        self.other.implicit()
    def override(self): 
        print("CHILD override()")
    def altered(self):
        print("CHILD, BEFORE OTHER altered()") 
        self.other.altered()
        print("CHILD, AFTER OTHER altered()")

son = Child()
son.implicit() 
son.override() 
son.altered()

OTHER implicit()
CHILD override()
CHILD, BEFORE OTHER altered()
OTHER altered()
CHILD, AFTER OTHER altered()

In [164]:
issubclass(Child, Other)

False

In [165]:
wtony = Whitetiger("Tony", 10, 100)
wtony.eatmore() # 'I am eating more'
wtony.realname() # 'Actually my name is Tony'

NameError: name 'Whitetiger' is not defined

## 4. Python3 标准库概览

In [166]:
# Operating System Interface
import os
os.getcwd()      # Return the current working directory

'C:\\Users\\syf'

In [167]:
# File Wildcards
import glob
glob.glob('*.py')

[]

In [168]:
# Command Line Arguments
import sys
print(sys.argv)

['E:\\Anaconda\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\syf\\AppData\\Roaming\\jupyter\\runtime\\kernel-1b6da60b-9c20-4c8d-9a3c-8d814ffd67e2.json']

In [169]:
# Mathematics
import math
math.cos(math.pi / 4)
math.log(1024, 2)

10.0

In [170]:
import random
random.choice(['apple', 'pear', 'banana'])
random.sample(range(100), 10)
random.random()
random.randrange(6)

0

In [171]:
import statistics
data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]
statistics.mean(data)
statistics.median(data)
statistics.variance(data)

1.3720238095238095

In [172]:
# Internet Access
from urllib.request import urlopen
with urlopen('http://news.xjtu.edu.cn/zyxw.htm') as response:
    for line in response:
        line = line.decode('utf-8')  # Decoding the binary data to text.
        if '西迁精神' in line or '十九大' in line:  # look for Eastern Time
            print(line)

                            <a href="info/1033/127345.htm" target="_blank" title="西安交通大学举行西迁精神座谈会暨系列图书发布会" class="y">2020-12</a>

                            <a href="info/1033/127345.htm" target="_blank" title="西安交通大学举行西迁精神座谈会暨系列图书发布会" class="r">17</a>

                            <a href="info/1033/127345.htm" target="_blank" title="西安交通大学举行西迁精神座谈会暨系列图书发布会" class="bt">西安交通大学举行西迁精神座谈会暨系列图书发布会

                            <a hhref="info/1033/127345.htm" target="_blank" title="西安交通大学举行西迁精神座谈会暨系列图书发布会" class="zy2">适逢习近平总书记关于西迁精神重要指示三周年，12月16日上午，西安交通大学在交大西迁博物馆举行西迁精神座谈会暨系列图书发布会。西迁老教授、西安交通大学原党委书记潘季，陕西省文联副主席、著名文化学者肖云儒，西安交通大学党委常委、宣传部部长成进...</a>

                            <a hhref="info/1033/127334.htm" target="_blank" title="西安交通大学党委书记卢建军会见陕文投党委书记、董事长王勇一行" class="zy2">12月15日，陕文投集团董事长王勇，集团副总经理、影视公司董事长孙昌博等一行调研中国西部科技创新港，西安交通大学党委书记卢建军、副校长席光会晤来宾并座谈交流，双方围绕深入学习贯彻习近平总书记对西迁精神的重要指示精神，挖掘西迁精神时代内涵，深...</a>

In [173]:
# Dates and Times
# dates are easily constructed and formatted
from datetime import date
now = date.today()
now
now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B.")
# dates support calendar arithmetic
birthday = date(1964, 7, 31)
age = now - birthday
age.days

20593

In [174]:
# Output Formatting
import reprlib
reprlib.repr(set('supercalifragilisticexpialidocious'))

"{'a', 'c', 'd', 'e', 'f', 'g', ...}"

In [175]:
import pprint
t = [[[['black', 'cyan'], 'white', ['green', 'red']], [['magenta',
    'yellow'], 'blue']]]

pprint.pprint(t, width=30)

[[[['black', 'cyan'],
   'white',
   ['green', 'red']],
  [['magenta', 'yellow'],
   'blue']]]

In [179]:
>>> tup1 = ('Google', 'Runoob', 1997, 2000)
>>> tup2 = (1, 2, 3, 4, 5 )
>>> tup3 = "a", "b", "c", "d"   #  不需要括号也可以
>>> type(tup3)

tuple

In [180]:
tup1 = ('Google', 'Runoob', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
 
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  Google
tup2[1:5]:  (2, 3, 4, 5)

In [188]:
 
a = "Hello"
b = "Python"
 
print("a + b 输出结果：", a + b)
print("a * 2 输出结果：", a * 2)
print("a[1] 输出结果：", a[1])
print("a[1:4] 输出结果：", a[1:4])
 
if( "H" in a) :
    print("H 在变量 a 中")
else :
    print("H 不在变量 a 中")
 
if( "M" not in a) :
    print("M 不在变量 a 中")
else :
    print("M 在变量 a 中")
 
print (r'\n')
print (R'\n')

a + b 输出结果： HelloPython
a * 2 输出结果： HelloHello
a[1] 输出结果： e
a[1:4] 输出结果： ell
H 在变量 a 中
M 不在变量 a 中
\n
\n

In [189]:
str = "runoob2016"
print (str.isdecimal())

str = "23443434"
print (str.isdecimal())

False
True

In [190]:
str = "RUNOOB example....wow!!!"
print (str.islower())

str = "runoob example....wow!!!"
print (str.islower())

False
True

In [191]:
print ("min(80, 100, 1000) : ", min(80, 100, 1000))
print ("min(-20, 100, 400) : ", min(-20, 100, 400))
print ("min(-80, -20, -10) : ", min(-80, -20, -10))
print ("min(0, 100, -400) : ", min(0, 100, -400))

min(80, 100, 1000) :  80
min(-20, 100, 400) :  -20
min(-80, -20, -10) :  -80
min(0, 100, -400) :  -400