In [6]:
import numpy as np
import pandas as pd

In [8]:
grads = pd.read_excel('成绩.xlsx', index_col='id')
grads

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
3120105068,7.0,7.0,6.0,225.0,19.0,19.0,18.0,298.0,14.0,14.0,14.0,201.0,14.0,14.0,14.0,203.0
3120301259,21.0,21.0,20.0,163.0,25.0,24.0,22.0,162.0,27.0,26.0,25.0,204.0,19.0,19.0,18.0,191.0
3120332023,37.0,37.0,35.0,164.0,28.0,28.0,27.0,376.0,94.0,94.0,93.0,521.0,NaN,NaN,NaN,NaN
3120132004,37.0,37.0,36.0,171.0,26.0,26.0,25.0,368.0,57.0,57.0,56.0,250.0,NaN,NaN,NaN,NaN
3120118053,104.0,104.0,101.0,203.0,22.0,22.0,20.0,264.0,67.0,67.0,65.0,345.0,35.0,34.0,32.0,340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120132011,37.0,37.0,35.0,172.0,27.0,25.0,24.0,351.0,94.0,94.0,93.0,524.0,29.0,29.0,28.0,376.0
3120305403,NaN,NaN,NaN,NaN,3.0,3.0,2.0,73.0,NaN,NaN,NaN,NaN,5.0,5.0,4.0,207.0
3120109017,37.0,30.0,19.0,112.0,12.0,10.0,3.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20118038,NaN,NaN,NaN,NaN,38.0,38.0,26.0,372.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120303087,99.0,97.0,94.0,126.0,33.0,33.0,32.0,155.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
grads.head()

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
3120105068,7.0,7.0,6.0,225.0,19.0,19.0,18.0,298.0,14.0,14.0,14.0,201.0,14.0,14.0,14.0,203.0
3120301259,21.0,21.0,20.0,163.0,25.0,24.0,22.0,162.0,27.0,26.0,25.0,204.0,19.0,19.0,18.0,191.0
3120332023,37.0,37.0,35.0,164.0,28.0,28.0,27.0,376.0,94.0,94.0,93.0,521.0,NaN,NaN,NaN,NaN
3120132004,37.0,37.0,36.0,171.0,26.0,26.0,25.0,368.0,57.0,57.0,56.0,250.0,NaN,NaN,NaN,NaN
3120118053,104.0,104.0,101.0,203.0,22.0,22.0,20.0,264.0,67.0,67.0,65.0,345.0,35.0,34.0,32.0,340.0

In [11]:
grads[grads['line_01'] >= 200]

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
3120105068,7.0,7.0,6.0,225.0,19.0,19.0,18.0,298.0,14.0,14.0,14.0,201.0,14.0,14.0,14.0,203.0
3120118053,104.0,104.0,101.0,203.0,22.0,22.0,20.0,264.0,67.0,67.0,65.0,345.0,35.0,34.0,32.0,340.0
3120301183,76.0,76.0,71.0,292.0,26.0,26.0,25.0,284.0,50.0,50.0,49.0,275.0,3.0,3.0,1.0,211.0
3120303014,129.0,129.0,116.0,281.0,66.0,65.0,61.0,220.0,53.0,53.0,51.0,133.0,85.0,85.0,53.0,238.0
3120305664,156.0,147.0,142.0,389.0,37.0,34.0,31.0,366.0,153.0,134.0,133.0,649.0,NaN,NaN,NaN,NaN
3120301047,57.0,56.0,55.0,307.0,41.0,41.0,39.0,561.0,89.0,89.0,88.0,514.0,23.0,23.0,22.0,304.0
3120319111,182.0,182.0,162.0,214.0,196.0,196.0,167.0,305.0,200.0,200.0,181.0,212.0,209.0,209.0,192.0,282.0
3120301223,203.0,203.0,195.0,586.0,201.0,201.0,194.0,458.0,54.0,54.0,52.0,329.0,79.0,79.0,76.0,168.0
3120332025,280.0,280.0,185.0,307.0,20.0,20.0,19.0,303.0,82.0,82.0,75.0,344.0,75.0,75.0,73.0,449.0
3120103152,125.0,125.0,120.0,363.0,45.0,44.0,32.0,273.0,100.0,100.0,99.0,497.0,127.0,127.0,125.0,990.0
3120305679,62.0,62.0,61.0,278.0,28.0,27.0,22.0,271.0,35.0,35.0,34.0,282.0,86.0,80.0,76.0,407.0
3120332044,62.0,62.0,60.0,222.0,37.0,36.0,35.0,338.0,109.0,90.0,89.0,432.0,53.0,43.0,42.0,407.0
3120101238,74.0,74.0,70.0,514.0,3.0,3.0,1.0,220.0,2.0,2.0,1.0,308.0,8.0,8.0,5.0,244.0
3120101240,11.0,11.0,9.0,257.0,19.0,19.0,18.0,253.0,8.0,8.0,7.0,202.0,4.0,4.0,4.0,248.0
4120101106,90.0,90.0,87.0,277.0,65.0,65.0,61.0,244.0,86.0,86.0,78.0,214.0,46.0,46.0,43.0,328.0
3120118049,152.0,150.0,127.0,309.0,67.0,67.0,66.0,339.0,159.0,159.0,154.0,292.0,22.0,22.0,15.0,212.0
3120305683,151.0,142.0,137.0,363.0,37.0,34.0,31.0,370.0,113.0,94.0,93.0,522.0,28.0,28.0,27.0,212.0
3120101246,10.0,10.0,9.0,201.0,3.0,3.0,2.0,268.0,4.0,4.0,3.0,204.0,3.0,3.0,2.0,219.0
3120105015,32.0,32.0,31.0,219.0,29.0,29.0,28.0,251.0,82.0,82.0,81.0,416.0,26.0,26.0,25.0,261.0
3120332026,179.0,179.0,174.0,336.0,24.0,24.0,22.0,257.0,100.0,100.0,96.0,355.0,28.0,27.0,23.0,126.0
3120301080,27.0,27.0,26.0,225.0,23.0,23.0,22.0,206.0,7.0,7.0,6.0,204.0,25.0,25.0,24.0,247.0
3120101260,204.0,204.0,197.0,411.0,43.0,43.0,39.0,264.0,96.0,96.0,93.0,213.0,45.0,45.0,42.0,179.0
3120104196,98.0,98.0,92.0,238.0,100.0,100.0,90.0,201.0,35.0,35.0,34.0,215.0,22.0,22.0,17.0,182.0
3120305579,86.0,86.0,82.0,220.0,36.0,36.0,35.0,214.0,65.0,65.0,64.0,270.0,32.0,32.0,30.0,228.0
3120101244,160.0,159.0,139.0,324.0,51.0,51.0,48.0,271.0,16.0,16.0,4.0,163.0,5.0,5.0,4.0,338.0
3120305689,53.0,21.0,21.0,396.0,9.0,9.0,8.0,204.0,112.0,92.0,92.0,521.0,30.0,30.0,29.0,206.0
3120103322,101.0,101.0,100.0,423.0,109.0,109.0,106.0,516.0,125.0,125.0,77.0,473.0,121.0,119.0,117.0,1461.0
3120319059,94.0,94.0,72.0,239.0,146.0,141.0,0.0,0.0,12.0,9.0,5.0,93.0,80.0,80.0,79.0,304.0
3120301231,202.0,202.0,183.0,327.0,47.0,47.0,46.0,208.0,87.0,87.0,87.0,206.0,71.0,71.0,68.0,212.0
3120101273,15.0,15.0,14.0,231.0,26.0,25.0,23.0,250.0,89.0,88.0,76.0,459.0,19.0,15.0,14.0,282.0
3120301269,30.0,30.0,29.0,223.0,37.0,37.0,36.0,411.0,63.0,63.0,62.0,233.0,90.0,82.0,80.0,304.0
3120101212,98.0,98.0,96.0,231.0,47.0,45.0,44.0,230.0,57.0,56.0,55.0,267.0,39.0,39.0,38.0,334.0
3120118047,244.0,213.0,163.0,353.0,171.0,131.0,115.0,380.0,198.0,175.0,171.0,521.0,135.0,127.0,118.0,516.0
3120101074,28.0,18.0,18.0,206.0,62.0,57.0,57.0,279.0,13.0,13.0,13.0,285.0,25.0,25.0,23.0,227.0
3120332011,48.0,48.0,46.0,202.0,30.0,29.0,26.0,337.0,40.0,40.0,39.0,427.0,49.0,49.0,48.0,215.0
3120332035,51.0,51.0,49.0,230.0,45.0,45.0,44.0,321.0,43.0,43.0,42.0,283.0,46.0,46.0,39.0,219.0
3120101271,71.0,70.0,68.0,229.0,42.0,42.0,41.0,261.0,92.0,92.0,89.0,442.0,20.0,20.0,18.0,226.0
3120118038,62.0,62.0,55.0,236.0,38.0,38.0,26.0,372.0,80.0,80.0,68.0,336.0,73.0,73.0,70.0,401.0
3120305456,53.0,53.0,50.0,357.0,37.0,37.0,36.0,358.0,36.0,36.0,34.0,212.0,26.0,26.0,24.0,257.0
3120305454,23.0,13.0,12.0,253.0,15.0,13.0,13.0,230.0,9.0,9.0,8.0,179.0,NaN,NaN,NaN,NaN
3120101095,31.0,31.0,30.0,237.0,20.0,20.0,20.0,223.0,44.0,44.0,43.0,204.0,26.0,26.0,24.0,227.0
3120101215,24.0,24.0,23.0,203.0,36.0,36.0,35.0,197.0,31.0,31.0,30.0,195.0,NaN,NaN,NaN,NaN
3120305590,37.0,37.0,35.0,298.0,23.0,23.0,19.0,213.0,42.0,42.0,41.0,280.0,15.0,15.0,14.0,218.0
3120101151,23.0,23.0,22.0,211.0,38.0,38.0,37.0,281.0,44.0,44.0,43.0,205.0,15.0,15.0,14.0,255.0
3120118046,106.0,106.0,101.0,238.0,33.0,33.0,31.0,249.0,46.0,46.0,45.0,205.0,46.0,46.0,45.0,205.0
3120101211,85.0,56.0,44.0,454.0,55.0,34.0,22.0,286.0,48.0,37.0,34.0,281.0,17.0,15.0,13.0,261.0
3120101208,81.0,80.0,78.0,296.0,37.0,37.0,35.0,369.0,124.0,121.0,119.0,541.0,80.0,70.0,69.0,630.0
3120332034,54.0,53.0,51.0,219.0,31.0,29.0,27.0,352.0,108.0,90.0,89.0,413.0,38.0,38.0,36.0,197.0
3120101016,4.0,4.0,3.0,236.0,45.0,31.0,29.0,356.0,52.0,49.0,46.0,216.0,27.0,27.0,26.0,552.0
3120305697,43.0,17.0,17.0,232.0,40.0,27.0,26.0,378.0,112.0,92.0,92.0,521.0,53.0,21.0,21.0,396.0

In [13]:
grads['line_01'] >= 200

id
3120105068     True
3120301259    False
3120332023    False
3120132004    False
3120118053     True
              ...
3120132011    False
3120305403    False
3120109017    False
20118038      False
3120303087    False
Name: line_01, Length: 82, dtype: bool

In [14]:
grads[grads == np.nan]

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
3120105068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120301259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120332023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120132004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120118053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120132011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120305403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120109017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20118038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120303087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
grads.iat[1, 1] = 0
grads.iat[1, 1]

0.0

In [16]:
grads.loc[:, 'line_01'] = np.array([200] * len(grads))
grads.loc[:, 'line_01']

id
3120105068    200
3120301259    200
3120332023    200
3120132004    200
3120118053    200
             ...
3120132011    200
3120305403    200
3120109017    200
20118038      200
3120303087    200
Name: line_01, Length: 82, dtype: int32

In [17]:
grads['total'] = np.nan
grads['total']

id
3120105068   NaN
3120301259   NaN
3120332023   NaN
3120132004   NaN
3120118053   NaN
              ..
3120132011   NaN
3120305403   NaN
3120109017   NaN
20118038     NaN
3120303087   NaN
Name: total, Length: 82, dtype: float64

In [19]:
grads['total'] = grads['line_01']+grads['line_02']
grads['total']

id
3120105068    498.0
3120301259    362.0
3120332023    576.0
3120132004    568.0
3120118053    464.0
              ...
3120132011    551.0
3120305403    273.0
3120109017    220.0
20118038      572.0
3120303087    355.0
Name: total, Length: 82, dtype: float64

In [20]:
good = grads.dropna(how='any')
good.shape

(63, 17)

In [21]:
grads['line_01'].fillna(value=1000)

id
3120105068    200
3120301259    200
3120332023    200
3120132004    200
3120118053    200
             ...
3120132011    200
3120305403    200
3120109017    200
20118038      200
3120303087    200
Name: line_01, Length: 82, dtype: int32

In [22]:
grads.isna()

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04,total
id,,,,,,,,,,,,,,,,,
3120105068,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3120301259,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3120332023,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
3120132004,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
3120118053,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120132011,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3120305403,True,True,True,False,False,False,False,False,True,True,True,True,False,False,False,False,False
3120109017,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,False
20118038,True,True,True,False,False,False,False,False,True,True,True,True,True,True,True,True,False
3120303087,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,False

In [23]:
grads.mean()

cell_01           72.000000
code_cell_01      69.443038
valid_cell_01     62.974684
line_01          200.000000
cell_02           43.691358
code_cell_02      41.888889
valid_cell_02     36.370370
line_02          264.493827
cell_03           63.333333
code_cell_03      60.884615
valid_cell_03     57.500000
line_03          297.089744
cell_04           41.969231
code_cell_04      40.507692
valid_cell_04     37.446154
line_04          403.846154
total            464.493827
dtype: float64

In [24]:
grads.mean(1)

id
3120105068     91.764706
3120301259     80.294118
3120332023    165.076923
3120132004    134.076923
3120118053    134.470588
                 ...
3120132011    150.235294
3120305403     77.500000
3120109017     61.222222
20118038      207.666667
3120303087    122.000000
Length: 82, dtype: float64

In [25]:
grads['total'] = grads[['line_01', 'line_02', 'line_03', 'line_04']].apply(np.sum, axis=1)
grads['total']

id
3120105068     902.0
3120301259     757.0
3120332023    1097.0
3120132004     818.0
3120118053    1149.0
               ...
3120132011    1451.0
3120305403     480.0
3120109017     220.0
20118038       572.0
3120303087     355.0
Name: total, Length: 82, dtype: float64

In [26]:
grads['total'] = grads[['line_01', 'line_02', 'line_03', 'line_04']].apply(np.sum, axis=0)
grads['total']

id
3120105068   NaN
3120301259   NaN
3120332023   NaN
3120132004   NaN
3120118053   NaN
              ..
3120132011   NaN
3120305403   NaN
3120109017   NaN
20118038     NaN
3120303087   NaN
Name: total, Length: 82, dtype: float64

In [28]:
grads['total'] = grads[['line_01', 'line_02', 'line_03', 'line_04']].apply(lambda x: x['line_01']+x['line_02'],axis=1)
grads['total']

id
3120105068    498.0
3120301259    362.0
3120332023    576.0
3120132004    568.0
3120118053    464.0
              ...
3120132011    551.0
3120305403    273.0
3120109017    220.0
20118038      572.0
3120303087    355.0
Name: total, Length: 82, dtype: float64

In [30]:
grads['total'] = grads[['line_01', 'line_02', 'line_03', 'line_04']].apply(lambda x: x[1]+x[2],axis=1)
grads['total']

id
3120105068    499.0
3120301259    366.0
3120332023    897.0
3120132004    618.0
3120118053    609.0
              ...
3120132011    875.0
3120305403      NaN
3120109017      NaN
20118038        NaN
3120303087      NaN
Name: total, Length: 82, dtype: float64

In [31]:
grads.groupby('cell_01').sum()

,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04,total
cell_01,,,,,,,,,,,,,,,,
1.0,1.0,0.0,200,4.0,4.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0
4.0,8.0,6.0,400,59.0,45.0,39.0,446.0,61.0,58.0,53.0,350.0,59.0,59.0,56.0,882.0,796.0
7.0,14.0,12.0,400,24.0,24.0,22.0,520.0,22.0,22.0,21.0,479.0,18.0,18.0,17.0,433.0,999.0
10.0,10.0,9.0,200,3.0,3.0,2.0,268.0,4.0,4.0,3.0,204.0,3.0,3.0,2.0,219.0,472.0
11.0,11.0,9.0,200,19.0,19.0,18.0,253.0,8.0,8.0,7.0,202.0,4.0,4.0,4.0,248.0,455.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202.0,202.0,183.0,200,47.0,47.0,46.0,208.0,87.0,87.0,87.0,206.0,71.0,71.0,68.0,212.0,414.0
203.0,203.0,195.0,200,201.0,201.0,194.0,458.0,54.0,54.0,52.0,329.0,79.0,79.0,76.0,168.0,787.0
204.0,204.0,197.0,200,43.0,43.0,39.0,264.0,96.0,96.0,93.0,213.0,45.0,45.0,42.0,179.0,477.0
244.0,213.0,163.0,200,171.0,131.0,115.0,380.0,198.0,175.0,171.0,521.0,135.0,127.0,118.0,516.0,901.0
280.0,280.0,185.0,200,20.0,20.0,19.0,303.0,82.0,82.0,75.0,344.0,75.0,75.0,73.0,449.0,647.0

In [32]:
grads.to_excel('new_grads.xlsx')

In [40]:
def id_to_school(id):
    id=str(id)
    if id.startwith('3120'):
        return '新闻学院'
    else:
        return'其他学院'

In [38]:
grads['学院']=grads.apply(lambda x: print(x.name),axis=1)

3120105068
3120301259
3120332023
3120132004
3120118053
3120305718
3120132006
3120301183
3120303014
3120305664
3120301047
3120319111
3120101220
3120301223
3120332025
3120305660
3120103152
3120101059
3120305679
3120305601
3120332044
3120319056
3120101202
3120101127
3120101238
3120101019
3120101240
4120101106
3120101221
3120999178
3120118049
3120305683
3120101246
3120105015
3120332026
3120301080
3120305442
3120118037
3120101260
3120103153
3120319071
3120104196
3120305579
3120101244
3120305689
3120103322
3120319059
3120301233
3120301231
3120101273
3120101017
3120301269
3120101212
3120118047
3120305694
3120101074
3120332011
3120101015
3120332035
3120101271
3120118038
3120319067
3120101097
3120305456
3120305454
3120101095
3120101215
3120305590
3120101151
3120118046
3120101211
3120101208
3120332034
3120332036
3120101016
3120301255
3120305697
3120132011
3120305403
3120109017
20118038
3120303087

In [3]:
print('hello my girl')

hello my girl

In [4]:
print('I don not know how to learn python well! ')

I don not know how to learn python well!

In [5]:
counter=100
miles=100.0
name="rush my boy"

In [6]:
counter

100

In [7]:
miles

100.0

In [8]:
name

'rush my boy'

In [14]:
a=b=c=d=1

In [10]:
a

1

In [11]:
b

1

In [12]:
c

1

In [15]:
d

1

In [16]:
a,b,c,d=1,2,3,"rush my boy"

In [17]:
a

1

In [18]:
b

2

In [19]:
c

3

In [20]:
d

'rush my boy'

In [21]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [22]:
print("Hens",30+25/5)

Hens 35.0

In [23]:
3+4+5+9/3

15.0

In [24]:
print("It is right?",5>2)

It is right? True

In [25]:
5>=2

True

In [26]:
3<0

False

In [27]:
a,b=10,20

In [28]:
c=b-a

In [29]:
c

10

In [30]:
my_name='yu shiyu'

In [32]:
print(f"my name is {my_name}")

my name is yu shiyu

In [33]:
a="努力"

In [34]:
print(f"我一定会{a}")

我一定会努力

In [35]:
a_b=10

In [36]:
x=f"my age is {a_b}"

In [37]:
print(x)

my age is 10

In [38]:
a="C"

In [39]:
b="h"

In [40]:
c="i"

In [41]:
d="n"

In [42]:
e='a'

In [43]:
print("a+b+c+d+e")

a+b+c+d+e

In [44]:
print(a+b+c)

Chi

In [45]:
print(a+b+c+d+e)

China

In [46]:
a="{}{}{}{}"

In [48]:
print(a.format(1,2,3,4))

1234

In [49]:
print(a.format('i','love','you','!'))

iloveyou!

In [50]:
a="1,2,3,4,5,6,7,8,9"

In [51]:
print(f"here are {a}")

here are 1,2,3,4,5,6,7,8,9

In [52]:
print("How old are you?",end='')

How old are you?

In [53]:
age=input()

 12

In [54]:
print("my age is {age}")

my age is {age}

In [55]:
print(f"my age is {age}")

my age is 12

In [56]:
from sys import argv

In [57]:
script,first,second=argv

In [58]:
print("The script is called:",script)

The script is called: D:\Users\Study\anaconda3\lib\site-packages\ipykernel_launcher.py

In [59]:
print("The first variable is:",first)

The first variable is: -f

In [60]:
print("Your second is:",second)

Your second is: C:\Users\Study\AppData\Roaming\jupyter\runtime\kernel-031fba44-177a-4347-a9da-8512544bf6a1.json

In [62]:
def print_two(*args):
    arg1,arg2=args
    print(f"arg1: {arg1},arg2:{arg2}")

In [67]:
filename='Desktop/ooo.txt'

In [68]:
txt=open(filename)

In [69]:
print(f"Here is my file: {filename}")

Here is my file: Desktop/ooo.txt

In [70]:
txt.close()

In [71]:
target=open(filename,'w')

In [72]:
print("Truncating the file.")

Truncating the file.

In [73]:
line1=input()
line2=input()

 1
 1

In [74]:
target.write(line1)

1

In [75]:
target.write("/n")

2

In [76]:
target.write(line2)

1

In [77]:
target.write("/n")

2

In [78]:
target.close()

In [79]:
a=10
b=15
c=20

In [80]:
if a>b:
    print("I love you")

In [81]:
if a<b:
    print("I hate you!")

I hate you!

In [82]:
if b>c:
    print("1")
else:
    print("2")

2

In [83]:
if b<c:
    print("5")
else:
    print("4")

5

In [84]:
1==2

False

In [85]:
2==2

True

In [86]:
var1='Hello my girl'
var2='rush my girl'

In [87]:
print(type(var1))

<class 'str'>

In [88]:
print(len(var1))

13

In [89]:
print("var1[0]:",var1[0])

var1[0]: H

In [90]:
print("var2[1:5]:",var2[1:5])

var2[1:5]: ush

In [91]:
name="yu"

In [92]:
print(f"My name is {name}")

My name is yu

In [94]:
sentence='Hello my girl'

In [95]:
print(sentence.capitalize())

Hello my girl

In [96]:
print(sentence.upper())

HELLO MY GIRL

In [97]:
print(sentence.title())

Hello My Girl

In [98]:
a=10
def test():
    a=a+1

In [99]:
print(a)

10

In [100]:
colors=['red','green','blue','yellow']

In [101]:
print(type(colors))

<class 'list'>

In [102]:
colors

['red', 'green', 'blue', 'yellow']

In [103]:
print(colors[0])

red

In [104]:
print(colors[1])

green

In [105]:
print(colors[2])

blue

In [106]:
print(colors[3])

yellow

In [107]:
numbers=[0,10,20,30]

In [108]:
print(type(numbers))

<class 'list'>

In [109]:
numbers

[0, 10, 20, 30]

In [110]:
print(numbers[0])

0

In [111]:
print(numbers[2])

20

In [112]:
print(numbers[1:2])

[10]

In [113]:
print(numbers[3:])

[30]

In [114]:
del numbers[1]

In [115]:
numbers.remove(0)

In [116]:
numbers

[20, 30]

In [117]:
a=[1,2,3,4,5,6,7,8]

In [118]:
print(len(a))

8

In [119]:
print(max(a))

8

In [120]:
print(min(a))

1

In [121]:
a.sort

In [122]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [123]:
a.reverse()

In [124]:
print(a)

[8, 7, 6, 5, 4, 3, 2, 1]

In [125]:
a.clear()

In [126]:
print(a)

[]

In [127]:
def add(x,y):
    return x+y

In [128]:
add(2,3)

5

In [129]:
import random

In [130]:
random.choice(['apple','pear','banana'])

'banana'

In [131]:
random.random()

0.6602714388565781

In [132]:
import statistics
data=[1,2,3,4,5,6,7]

In [133]:
statistics.mean(data)

4

In [134]:
statistics.median(data)

4

In [135]:
statistics.variance(data)

4.666666666666667

In [136]:
pip install you-get

Collecting you-get
  Downloading you_get-0.4.1488-py3-none-any.whl (216 kB)
Installing collected packages: you-get
Successfully installed you-get-0.4.1488
Note: you may need to restart the kernel to use updated packages.

In [140]:
basket=['apple','b','c']

In [141]:
numbers=list(range(3))

In [142]:
basket.append(numbers)

In [143]:
print(basket)

['apple', 'b', 'c', [0, 1, 2]]

In [144]:
def flat(l):
    f=[]
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
        return f

In [145]:
flat(basket)

['apple']

In [146]:
l=[1,2,3,4]
it=iter(l)

In [147]:
print(next(it))

1

In [148]:
print(next(it))

2

In [149]:
print(next(it))

3

In [150]:
print(next(it))

4

In [151]:
l=[1,2,3,4]
it=iter(l)
for x in it:
    print(x,end=" ")

1 2 3 4

In [155]:
def fibonacci(n):
    a,b,counter=0,1,0
    while True:
        if(counter>n):
            return
        yield a
        a,b=b,a+b
        counter+=1
f=fibonacci(10)

for x in f:
    print(x,end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [156]:
def add(x,y):
    return x+y

In [157]:
add(5,8)

13

In [158]:
add=lambda x,y:x+y

In [159]:
add(3,7)

10

In [160]:
a=filter(lambda x:x%2!=0,[1,2,3,4])
list(a)

[1, 3]

In [161]:
a=map(lambda x:x+10,[1,2,3,4])
list(a)

[11, 12, 13, 14]

In [162]:
from functools import reduce
reduce(lambda x,y:x+y,[1,2,3,4])

10

In [163]:
class Other(object):
    def override(self):
        print("OTHER override")

In [164]:
import os
os.getcwd()

'C:\\Users\\Study'

In [165]:
import glob
glob.glob('*.py')

['animal.py', 'people.py', 'xiaoming.py']

In [166]:
import sys
print(sys.argv)

['D:\\Users\\Study\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\Study\\AppData\\Roaming\\jupyter\\runtime\\kernel-031fba44-177a-4347-a9da-8512544bf6a1.json']

In [167]:
import math
math.cos(math.pi/4)

0.7071067811865476

In [168]:
math.log(1024,2)

10.0

In [169]:
math.tan(1)

1.5574077246549023

In [170]:
math.sin(1)

0.8414709848078965

In [171]:
import random

In [172]:
random.sample(range(100),10)

[44, 47, 82, 93, 28, 62, 99, 70, 77, 91]

In [173]:
random.randrange(6)

4

In [174]:
'a b c'.split(' ')

['a', 'b', 'c']

In [175]:
import re
re.match(r'\d{3}\-\d{3,8}$','010-12345')

In [176]:
re.split(r'\s+','a b c')

['a', 'b', 'c']

In [177]:
re.split(r'[\s\,]+','a,b,c')

['a', 'b', 'c']

In [178]:
re.split(r'[\s\,\;]+','a,b;;c d')

['a', 'b', 'c', 'd']

In [179]:
m=re.match(r'^(\d{3})-(\d{3,8})$','010-12345')

In [180]:
print(m)

<re.Match object; span=(0, 9), match='010-12345'>

In [181]:
print(m.group(0))

010-12345

In [182]:
print(m.group(1))

010

In [183]:
print(m.group(2))

12345

In [184]:
dict1={'a','b','c','d'}

In [185]:
print(type(dict1))

<class 'set'>

In [186]:
dict1={'a':'xi','b':'an'}

In [187]:
print(type(dict1))

<class 'dict'>

In [188]:
print("dict1['a']:",dict1['a'])

dict1['a']: xi

In [189]:
print("dict2['b']")

dict2['b']

In [190]:
print("dict1['b']:",dict1['b'])

dict1['b']: an

In [191]:
del dict1['a']

In [192]:
print(dict1)

{'b': 'an'}

In [193]:
dict1.clear()

In [194]:
print(dict1)

{}

In [195]:
a={'N':'ZHANG','A':23,'C':'First'}

In [196]:
print(a.keys())

dict_keys(['N', 'A', 'C'])

In [197]:
print(a.values())

dict_values(['ZHANG', 23, 'First'])

In [198]:
print(a.items())

dict_items([('N', 'ZHANG'), ('A', 23), ('C', 'First')])

In [199]:
print(a.fromkeys('abc',0))

{'a': 0, 'b': 0, 'c': 0}

In [200]:
2>1

True

In [201]:
10>11

False

In [202]:
stu_names=['a','b','c']

In [203]:
print("it is so diffcult for me to study python")

it is so diffcult for me to study python

In [204]:
2==3

False

In [206]:
3<=1

False

In [207]:
5>0

True

In [208]:
a=b=5

In [209]:
a

5

In [210]:
b

5

In [211]:
a=1
b=1
c=a+b

In [212]:
a

1

In [213]:
b

1

In [214]:
c

2