In [1]:
import requests
from bs4 import BeautifulSoup

In [17]:
headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36 Edg/87.0.664.66"}
res=requests.get("https://space.bilibili.com/11399495?spm_id_from=333.788.b_765f7570696e666f.2",headers=headers)
print(res)

<Response [200]>

In [18]:
soup=BeautifulSoup(res.text,'html.parser')

print(soup.title)

<title>鸽一品的个人空间 - 哔哩哔哩 ( ゜- ゜)つロ 乾杯~ Bilibili</title>

In [23]:
jianjie=soup.find_all("dvi",class_="content")
print(jianjie)

[]

In [30]:
headers={"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36 Edg/87.0.664.66Content-Type: text/plain;charset=UTF-8"}
ac=requests.get("https://www.acfun.cn/u/11039293",headers=headers)
print(res)

<Response [200]>

In [36]:
soup=BeautifulSoup(ac.content,'html.parser')
soup.title

In [55]:
name=soup.find("span",class_="text-overflow name")

In [59]:
up_name=name.get_text()
print(up_name)

未南o_o

In [72]:
fensi=soup.find("span",class_="common-info")

In [73]:
fensi

In [78]:
fensishu=fensi.get_text()
print(fensishu)

粉丝111.2万

In [82]:
tougao=soup.find("li",class_="active")
tougaoshu=tougao.get_text()
print(tougaoshu)

投稿133

In [89]:
guanzhu=soup.find("ul",class_="tab-list")
print(guanzhu)

<ul class="tab-list"><li class="active" data-index="contribute">投稿<span>133</span></li><li data-index="following">关注<span>65</span></li><li data-index="followed">粉丝<span>111.2万</span></li></ul>

In [94]:
zong=guanzhu.get_text()

In [95]:
import openpyxl

In [96]:
acfun=openpyxl.Workbook()

In [98]:
sheet=acfun.create_sheet('up主',0)
sheet['A1']=up_name
sheet['B1']=fensishu
sheet['C1']=tougaoshu

In [99]:
acfun.save('up主.xlsx')

#已有37行

In [2]:
a=5
b=7
c=8
d=4

if a<b or c>d:
    print('made it')

made it

In [3]:
3>0

True

In [4]:
sequence=[1,2,None,5]
total=0
for i in sequence:
    if i is None:
        continue
    total+=i
    print(total)

1
3
8

In [8]:
sequence=[1,2,3,4,7,6,5,2,1]
s=0
for i in sequence:
    if i==5:
        break
    s+=i
print(s)

23

In [9]:
for i in range(2):
    for j in range(2):
        if j>i:
            break
        print(i,j)#j大于i的话就不输出

0 0
1 0
1 1

In [12]:
for i in range(3):
    for j in range(3
                  ):
        if j>i:
            break
        print(i,j)

0 0
1 0
1 1
2 0
2 1
2 2

In [14]:
x=256
s=0
while x>0:
    if s>500:
        break
    s+=x

In [16]:
print(s)

512

In [17]:
range(10)

range(0, 10)

In [18]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [23]:
seq=[1,2,3,4]
for i in range(len(seq)):
    v=seq[i]
    print(i)

0
1
2
3

In [22]:
v

4

In [26]:
s=0
for i in range(100000):
    if i%3==0 or i%5==0:
        s+=i
print(s)

2333316668

In [27]:
tup=3,4,5

In [28]:
tup

(3, 4, 5)

In [30]:
tup2=(3,4),(5,6),(8,9)
tup2

((3, 4), (5, 6), (8, 9))

In [31]:
tup3=(2,3,4,5,6)
tup3

(2, 3, 4, 5, 6)

In [33]:
a=[1,2,3,4,5]
tuple(a)

(1, 2, 3, 4, 5)

In [34]:
t=tuple('string')
t

('s', 't', 'r', 'i', 'n', 'g')

In [35]:
t[0:3]

('s', 't', 'r')

In [37]:
t=tuple(['foo',[1,2,3],True])
t[0]

t[2]

True

In [38]:
t[1].append(3)

In [39]:
t

('foo', [1, 2, 3, 3], True)

In [40]:
(4,None,'uoo')+(9,[1,3,4],'moon')

(4, None, 'uoo', 9, [1, 3, 4], 'moon')

In [41]:
'ioo'*7

'iooiooiooiooiooiooioo'

In [44]:
('ioo','l')*2

('ioo', 'l', 'ioo', 'l')

In [45]:
t=(3,4,5,6)
a,b,c,d=t
print(c)

5

In [46]:
t=4,5,(6,7)
a,b,(c,d)=t
print(d)

7

In [47]:
a,b=1,2
print(a)
print(b)

1
2

In [48]:
b,a=a,b
print(a)
print(b)

2
1

In [49]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [50]:
v=(1,2,3,4,5)
a,b,*rest=v
a,b

(1, 2)

In [51]:
rest

[3, 4, 5]

In [52]:
a,b,*_=v

In [53]:
_

[3, 4, 5]

In [54]:
a=(1,2,2,2,3,4,5,6,7,8)
a.count(2)

3

In [55]:
a=[1,2,3,4,5,8]
t=('yoo','bar','baz')

t_list=list(t)
t_list

['yoo', 'bar', 'baz']

In [58]:
t_list[0]

'yoo'

In [63]:
t_list[0]='popo'
t_list.append('ll')
t_list

['popo', 'bar', 'baz', 'll', 'll', 'll', 'll']

In [65]:
gen=range(10)
gen

range(0, 10)

In [68]:
r=list(gen)

In [70]:
r.append('kiki')
print(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'kiki', 'kiki']

In [71]:
r.count(0)

1

In [72]:
r.insert(2,'o'
        )
r

[0, 1, 'o', 2, 3, 4, 5, 6, 7, 8, 9, 'kiki', 'kiki']

In [73]:
r.insert(0,'red')

In [74]:
r

['red', 0, 1, 'o', 2, 3, 4, 5, 6, 7, 8, 9, 'kiki', 'kiki']

In [75]:
r.pop(0)

'red'

In [78]:
r.pop(10)

'kiki'

In [79]:
r

[0, 1, 'o', 2, 3, 4, 5, 6, 8, 9, 'kiki']

In [80]:
r.remove('o')

In [81]:
r

[0, 1, 2, 3, 4, 5, 6, 8, 9, 'kiki']

In [82]:
1 in r

True

In [83]:
2 not in r

False

In [84]:
[1,2,3]+[9,4,5]

[1, 2, 3, 9, 4, 5]

In [87]:
c=[4,5,6]
c.extend([9,0])

In [92]:
c

[4, 5, 6, 9, 0, [9, 8]]

In [89]:
c.append([9,8])

In [90]:
c

[4, 5, 6, 9, 0, [9, 8]]

In [94]:
e=[]
for i in c:
    e.extend([i])
print(e)

[4, 5, 6, 9, 0, [9, 8]]

In [96]:
a=[4,5,2,3,4,5,9,8,7,5]
a.sort()

In [98]:
b=['saw','small','he','foxes','six']

In [99]:
b.sort(key=len)

In [100]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [101]:
import bisect

bisect.bisect(a,8)

9

In [102]:
bisect.bisect(a,4)

4

In [103]:
a

[2, 3, 4, 4, 5, 5, 5, 7, 8, 9]

In [104]:
bisect.bisect(a,6)

7

In [106]:
bisect.insort(a,6)

In [107]:
a

[2, 3, 4, 4, 5, 5, 5, 6, 6, 7, 8, 9]

In [108]:
seq=[3,4,5,2,3,45,6]
seq[1:3]

[4, 5]

In [109]:
seq[3:4]=[9,10]
seq

[3, 4, 5, 9, 10, 3, 45, 6]

In [111]:
seq[:3]

[3, 4, 5]

In [112]:
seq[-6:]

[5, 9, 10, 3, 45, 6]

In [116]:
seq[-6:-5]

[5]

In [117]:
seq[:]

[3, 4, 5, 9, 10, 3, 45, 6]

In [118]:
seq[3:8:2]

[9, 3, 6]

In [119]:
seq[::-1]

[6, 45, 3, 10, 9, 5, 4, 3]

In [120]:
seq[::1]

[3, 4, 5, 9, 10, 3, 45, 6]

#已有152行

In [2]:
s=['foo','bar','baz']

m={}

for i,v in enumerate(s):
    m[v]=i
m

{'foo': 0, 'bar': 1, 'baz': 2}

In [3]:
sorted([5,6,7,4,3,4,5,6,9,8,7])

[3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 9]

In [4]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [7]:
s1=['foo','bar','baz']
s2=['one','two','three']

z=zip(s1,s2)
list(z)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [8]:
s3=[False,True]

list(zip(s1,s2,s3))

[('foo', 'one', False), ('bar', 'two', True)]

In [9]:
for i,(a,b) in enumerate(zip(s1,s2)):
    print('{0},{1},{2}'.format(i,a,b))

0,foo,one
1,bar,two
2,baz,three

In [12]:
pitcher=[('norman','ryan'),('roger','clemens'),('schilling','curt')]
a,b=zip(*pitcher)
print(a)
print(b)

('norman', 'roger', 'schilling')
('ryan', 'clemens', 'curt')

In [13]:
v=range(10)
p=reversed(v)
list(p)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#174行

In [14]:
emp={}
d1={'a':'some','b':[1,2,3,4]}
d1

{'a': 'some', 'b': [1, 2, 3, 4]}

In [15]:
d1[7]='an'

In [16]:
d1

{'a': 'some', 'b': [1, 2, 3, 4], 7: 'an'}

In [18]:
'b' in d1

True

In [19]:
d1['p']='ooo'

In [20]:
d1

{'a': 'some', 'b': [1, 2, 3, 4], 7: 'an', 'p': 'ooo'}

In [21]:
del d1['p'
      ]
d1

{'a': 'some', 'b': [1, 2, 3, 4], 7: 'an'}

In [22]:
d1.pop('a')

'some'

In [24]:
list(d1.keys())

['b', 7]

In [23]:
d1

{'b': [1, 2, 3, 4], 7: 'an'}

In [25]:
list(d1.values())

[[1, 2, 3, 4], 'an']

In [26]:
k=[1,2,3]
v=['a','b','c']

m={}
for i,o in zip(k,v):
    m[i]=o

In [27]:
m

{1: 'a', 2: 'b', 3: 'c'}

In [29]:
m=dict(zip(range(5),reversed(range(5))))

In [30]:
m

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [37]:
w=['apple','bat','bar','atom','nook']

by={}

for i in w:
    letter=i[0]
    if letter not in by:
        by[letter]=[i]
    else:    
        by[letter].append(i)
by

{'a': ['apple', 'atom'], 'b': ['bat', 'bar'], 'n': ['nook']}

In [38]:
by={'a':[1,2],'b':[4,5],'v':[9,3]}
by['a'].append('p')

In [39]:
by

{'a': [1, 2, 'p'], 'b': [4, 5], 'v': [9, 3]}

In [43]:
w=['apple','book','cindy','dog','an','bug','cegrate','dull']

w2={}

for i in w:
    k=i[0]
    w2.setdefault(k,[]).append(i)

In [44]:
w2

{'a': ['apple', 'an'],
 'b': ['book', 'bug'],
 'c': ['cindy', 'cegrate'],
 'd': ['dog', 'dull']}

In [45]:
hash('a')

-4401573729670923758

In [46]:
hash('opps')

-310646331992530158

In [47]:
set([3,3,4,5,6,9])

{3, 4, 5, 6, 9}

In [48]:
d={9,3,4}

In [49]:
a={1,2,3}
b={2,3,4}
a.union(b)

{1, 2, 3, 4}

In [50]:
a|b

{1, 2, 3, 4}

In [51]:
a.intersection(b)

{2, 3}

In [52]:
a&b

{2, 3}

In [53]:
a|=b

In [54]:
a

{1, 2, 3, 4}

In [55]:
a={1,2,3}

In [57]:
a&=b

In [58]:
a

{2, 3}

In [59]:
a={1,2,3,4,5}
{1,2,3}.issubset(a)

True

In [60]:
{1,2,8}.issubset(a)

False

In [61]:
a.issubset({1,2,3})

False

In [62]:
a.issubset({1,2,3,4,5,6})

True

In [63]:
x='io'
x.upper()

'IO'

In [65]:
shiyan=['a','as','bat','car','dove']

[i.upper() for i in shiyan if len(i)>2]

['BAT', 'CAR', 'DOVE']

In [68]:
set1={i for i in shiyan}
set1

{'a', 'as', 'bat', 'car', 'dove'}

In [71]:
dic1={len(i): i for i in shiyan}
dic1

{1: 'a', 2: 'as', 3: 'car', 4: 'dove'}

In [76]:
a=list(map(len,shiyan))

In [80]:
def square(x):
    return x**2

b=map(square,a)
b

In [82]:
def square(x) :            # 计算平方数
     return x ** 2
 
map(square, [1,2,3,4,5])

In [86]:
loc={val:index for (index, val) in enumerate(set1)}

In [87]:
loc

{'dove': 0, 'as': 1, 'bat': 2, 'a': 3, 'car': 4}

In [92]:
all_data=[['john','emily','michael','mary','steven'],['maria','juan','javier','natalia','pilair']]

name=[]
for i in all_data:
    en=[nam for nam in i if nam.count('e')>=2]
    name.extend(en)

In [93]:
name

['steven']

In [97]:
name=[]
for i in all_data:
    a=[n for n in i if n.count('a')>=1]
    name.extend(a)
    print(a)
name

['michael', 'mary']
['maria', 'juan', 'javier', 'natalia', 'pilair']

['michael', 'mary', 'maria', 'juan', 'javier', 'natalia', 'pilair']

In [98]:
result=[i for n in all_data for i in n if i.count('i')>=1]
print(result)

['emily', 'michael', 'maria', 'javier', 'natalia', 'pilair']

In [100]:
some_t=[(1,2,3),(4,5,6),(7,8,9)]

result2=[t for i in some_t for t in i]
print(result2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]