In [1]:
var = 'this is a example......wow!!!'
print(var.startswith('this'))
print(var.startswith('a',8))
print(var.startswith('this',2,4))

True
True
False

In [8]:
var = 'runoob example...wow!!!'
suffix = '!!'
print(var.endswith(suffix))
print(var.endswith(suffix,len(var) - 1 ))
suffix='run'
print(var.endswith(suffix))
print(var.endswith(suffix,0,3))

True
False
False
True

In [7]:
print(len(var))

24

In [9]:
str1 = 'runoob example ....wow!!!'
str2 = 'exam'
print(str1.find(str2))
print(str1.find(str2,5))
print(str1.find(str2,10))#未找到返回值为 -1

7
7
-1

In [10]:
print (str1.index(str2, 10))#未找到时报错

ValueError: substring not found

In [11]:
str1 = '   ***this is a example...wow!!!***   '
str1 = str1.strip( )
print(str1)

***this is a example...wow!!!***

In [12]:
str1 = str1.strip('*')
print(str1)

this is a example...wow!!!

In [16]:
str ='are#you#happy'
print(str.split('#'))

['are', 'you', 'happy']

In [17]:
x = str.split('#',1)
print(x)

['are', 'you#happy']

In [22]:
str1 = "www.w3cschool.cc"
print ("菜鸟教程旧地址：", str1)
print ("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))
 
str2 = "this is string example....wow!!!"
print (str2.replace("is", "was",3))

菜鸟教程旧地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string example....wow!!!

In [23]:
str2 = "this is string example....wow!!!"
print (str2.replace("is", "was",1))

thwas is string example....wow!!!

In [24]:
import re
re.match(r'\d{3}\-\d{3,8}$', '010-12345')

In [25]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 12345'))

None

In [27]:
a = re.match(r'\d{3}\-\d{3,8}$', '010-12345')
a.group()

'010-12345'

In [30]:
'a b c   d'.split(' ')

['a', 'b', 'c', '', '', 'd']

In [34]:
re.split(r'\s+','a b c   d')

['a', 'b', 'c', 'd']

In [35]:
re.split(r'[\s\,]+', 'a,b, c  d')

['a', 'b', 'c', 'd']

In [36]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [38]:
t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.group()

'19:05:30'

In [39]:
m.groups()

('19', '05', '30')

In [40]:
re.match(r'^(\d+)(0*)$', '102300').groups()

('102300', '')

In [41]:
re.match(r'^(\d+?)(0*)$', '102300').groups()

('1023', '00')

In [42]:
colors = ['red','green','blue','yellow','black']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'black']

In [43]:
print(colors[0])
print(colors[1])
print(colors[-1])
print(colors[-2])

red
green
black
yellow

In [44]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers
print (numbers[2:4])
print (numbers[3:])

[2, 3]
[3, 4, 5, 6, 7, 8, 9]

In [45]:
print (numbers[:3])

[0, 1, 2]

In [46]:
print(numbers[-2:-4])#原则上都是从左往右数

[]

In [47]:
print(numbers[-4:-2])

[6, 7]

In [48]:
print(numbers[0:8:2])

[0, 2, 4, 6]

In [49]:
print(numbers[0:8:3])

[0, 3, 6]

In [50]:
print(numbers[-2:-10:-1])

[8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
print(numbers[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [52]:
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow', 'black']

In [53]:
colors = ['red','green','blue','yellow','black']
del colors[2]
colors.remove('red')
colors

['green', 'yellow', 'black']

In [54]:
colors = ['red','green','blue','yellow','black','red']
print(colors.count('red'))
print(colors.index('green'))

2
1

In [57]:
print(colors.index('black'))

4

In [58]:
numbers = [0,1,2,3,5,6,7,8,3,1]
print(len(numbers))

10

In [59]:
print(max(numbers))

8

In [61]:
numbers.sort()
print(numbers)

[0, 1, 1, 2, 3, 3, 5, 6, 7, 8]

In [62]:
numbers.reverse()
print(numbers)

[8, 7, 6, 5, 3, 3, 2, 1, 1, 0]

In [63]:
numbers.clear()
print(numbers)

[]

In [64]:
numbers = []
numbers += [1,2,3,4]
numbers += [5,6,7,8]
numbers

[1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
numbers.extend([81,100])
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 81, 100]

In [66]:
['hello','world'] * 5

['hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world']

In [67]:
print(type(range(5)))

<class 'range'>

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

In [69]:
range(5)

range(0, 5)

In [70]:
print(range(5))

range(0, 5)

In [76]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [77]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [78]:
tup1 = ('google','runoob',1997,2020)
print(type(tup1))

<class 'tuple'>

In [79]:
tup2 = (1,2,3,4)
tup3 = 'a','b','c','d'

In [80]:
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

('google', 'runoob', 1997, 2020)
(1, 2, 3, 4)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [81]:
tup1[1]

'runoob'

In [82]:
tup1[1]='baidu'
tup1

TypeError: 'tuple' object does not support item assignment

In [84]:
tup1 + tup2

('google', 'runoob', 1997, 2020, 1, 2, 3, 4)

In [85]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [86]:
tuple(range(4))

(0, 1, 2, 3)

In [91]:
numbers = {1,2,3,4,5}
print (type(numbers))

<class 'set'>

In [92]:
numbers.add(999)
print(numbers)

{1, 2, 3, 4, 5, 999}

In [93]:
letters = set('hello world')
print(letters)

{'o', 'l', ' ', 'd', 'w', 'r', 'h', 'e'}

In [94]:
numbers.remove(999)
print(numbers)

{1, 2, 3, 4, 5}

In [96]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
a= {'melon'}
basket.update(a)
print(basket)

{'pear', 'apple', 'banana', 'melon', 'orange'}

In [97]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'pear', 'n', 'l', 'm', 'apple', 'banana', 'o', 'orange', 'e'}
{'pear', 'n', 'l', 'melon', 'm', 'apple', 'banana', 'o', 'orange', 'lemon', 'e'}

In [98]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b) 
print(a | b) 
print(a & b)
print(a ^ b)

{'c', 'r', 'b', 'd', 'a'}
{'c', 'l', 'z', 'm', 'a'}
{'r', 'd', 'b'}
{'c', 'r', 'b', 'l', 'd', 'z', 'm', 'a'}
{'a', 'c'}
{'r', 'b', 'l', 'd', 'z', 'm'}

In [99]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(type(dict1))
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

<class 'dict'>
dict1['Name']:  Runoob
dict1['Age']:  7

In [100]:
dict1 = {
    'Name': 'Runoob', 
    'Age': 7, 
    'Class': 'First'
}
 
dict1['Age'] = 8
dict1['School'] = "菜鸟教程"
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [101]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [102]:
print(dict1.fromkeys('abc', 0)

SyntaxError: unexpected EOF while parsing (<ipython-input-102-1820eedfb94e>, line 1)

In [103]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
 
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

In [104]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [105]:
basket = ('apple', 'orange', 'apple', 'pear', 'orange', 'banana')
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [106]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
for x in basket:
    print(x)

pear
apple
orange
banana

In [107]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [109]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [118]:
f=[1,2,3]
f.extend('a')
f
a='4'
f.extend(a)
f

[1, 2, 3, 'a', '4']

In [116]:
f=[1,2,3]
f.append(4)
f

[1, 2, 3, 4]

In [119]:
l = [1,2,3,4]
it = iter(l)   
print(next(it)) 
print (next(it))

1
2