In [4]:
var1 = 'Hello World!'
var2 = "Runoob"
print(type(var1))
print(len(var1))
print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

<class 'str'>
12
var1[0]:  H
var2[1:5]:  unoo

In [5]:
var1 = 'Hello World!'
 
print ("已更新字符串 : ", var1[:6] + 'Runoob!')

已更新字符串 :  Hello Runoob!

In [6]:
'Hello ' * 5
'H' in 'Hello'

True

In [7]:
name = 'Lucy'
print(f'I am {name}')
print(r'I\'m OK')

I am Lucy
I\'m OK

In [8]:
sentence = 'hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [9]:
var="www.runoob.com"
sub='o'
print ("var.count('o') : ", var.count(sub))

sub='run'
print ("var.count('run', 0, 10) : ", var.count(sub,0,10))

var.count('o') :  3
var.count('run', 0, 10) :  1

In [10]:
str1 = "runoob"
str2 = "runoob菜鸟教程"
str3 = "Runoob example....wow!!!"
str4 = "runoob2016"
str5 = "2016"
str6 = "二零一六"

print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('*' * 50)
print (str1.isalnum())
print (str2.isalnum())
print (str3.isalnum())
print (str4.isalnum())
print (str5.isalnum())
print (str6.isalnum())
print('*' * 50)
print (str1.isdigit())
print (str2.isdigit())
print (str3.isdigit())
print (str4.isdigit())
print (str5.isdigit())
print (str6.isdigit())
print('*' * 50)
print (str1.isnumeric())
print (str2.isnumeric())
print (str3.isnumeric())
print (str4.isnumeric())
print (str5.isnumeric())
print (str6.isnumeric())

True
True
False
False
False
True
**************************************************
True
True
False
True
True
True
**************************************************
False
False
False
False
True
False
**************************************************
False
False
False
False
True
True

In [11]:
var = "this is string example....wow!!!"
print (var.startswith( 'this' ))   # 字符串是否以 this 开头
print (var.startswith( 'string', 8 ))  # 从第九个字符开始的字符串是否以 string 开头
print (var.startswith( 'this', 2, 4 )) # 从第2个字符开始到第四个字符结束的字符串是否以 this 开头

True
True
False

In [12]:
var='Runoob example....wow!!!'
suffix='!!'
print (var.endswith(suffix))
print (var.endswith(suffix, len(var) - 1))
suffix='Run'
print (var.endswith(suffix))
print (var.endswith(suffix, 0, 3))

True
False
False
True

In [13]:
str1 = "Runoob example....wow!!!"
str2 = "exam";
 
print (str1.find(str2))
print (str1.find(str2, 5))
print (str1.find(str2, 10))

7
7
-1

In [14]:
str1 = "    *****this is **string** example....wow!!!*****    "
str1 = str1.strip() # 默认空格
print (str1)
str1 = str1.strip('*') # 指定字符串 *
str1

*****this is **string** example....wow!!!*****

'this is **string** example....wow!!!'

In [15]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
# 第二个参数为 1，返回两个参数列表
x = txt.split("#", 1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [16]:
str1 = "www.w3cschool.cc"
print ("菜鸟教程旧地址：", str1)
print ("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))
 
str2 = "this is string example....wow!!!"
print (str2.replace("is", "was", 3))

菜鸟教程旧地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string example....wow!!!

In [17]:
import re
re.match(r'\d{3}\-\d{3,8}$', '010-12345')

In [18]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 12345'))

None

In [19]:
'a b   c'.split(' ')

['a', 'b', '', '', 'c']

In [20]:
re.split(r'\s+', 'a b   c')

['a', 'b', 'c']

In [21]:
re.split(r'[\s\,]+', 'a,b, c  d')

['a', 'b', 'c', 'd']

In [22]:
re.split(r'[\s\,\;]+', 'a,b;; c  d')

['a', 'b', 'c', 'd']

In [23]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [24]:
t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

In [25]:
re.match(r'^(\d+)(0*)$', '102300').groups()

('102300', '')

In [26]:
re.match(r'^(\d+?)(0*)$', '102300').groups()

('1023', '00')

In [28]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [29]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

red
green
blue
black
white
yellow

In [30]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [31]:
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [32]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [33]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
del colors[2]
colors.remove('red')
colors

['green', 'yellow', 'white', 'black']

In [34]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors.append('pink')
colors.insert(2, 'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [35]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black', 'red']
print(colors.count('red'))
print(colors.index('green'))

2
1

In [36]:
numbers = [0 ,1, 2, 4, 5, 6, 8, 9, 3, 1]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]
[]

In [37]:
squares = []
squares += [1, 4, 9, 16, 25]
squares += [36, 49, 64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [38]:
squares.extend([81, 100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
['Hello', 'World'] * 5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [40]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [41]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [42]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"   #  不需要括号也可以
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [43]:
tup1[0]

'Google'

In [45]:
tup1 + tup2

('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [47]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [49]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'orange', 'pear', 'banana', 'apple'}
{' ', 'd', 'l', 'W', 'o', 'e', 'H', 'r'}

In [50]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'banana', 'pear', 'melon', 'apple', 'orange'}
{'banana', 'pear', 'melon', 'orange'}

In [51]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'m', 'banana', 'l', 'pear', 'apple', 'o', 'n', 'e', 'orange'}
{'m', 'banana', 'l', 'pear', 'melon', 'apple', 'o', 'n', 'e', 'lemon', 'orange'}

In [52]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b) 
print(a | b) 
print(a & b) 
print(a ^ b)

{'d', 'b', 'c', 'r', 'a'}
{'m', 'l', 'z', 'c', 'a'}
{'d', 'r', 'b'}
{'d', 'm', 'l', 'b', 'z', 'c', 'r', 'a'}
{'c', 'a'}
{'d', 'm', 'l', 'r', 'z', 'b'}

In [53]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(type(dict1))
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

<class 'dict'>
dict1['Name']:  Runoob
dict1['Age']:  7

In [54]:
dict1 = {
    'Name': 'Runoob', 
    'Age': 7, 
    'Class': 'First'
}
 
dict1['Age'] = 8             # 更新 Age
dict1['School'] = "菜鸟教程"  # 添加信息
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [55]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
del dict1['Name'] 
print(dict1)
dict1.clear()    
print(dict1)

{'Age': 7, 'Class': 'First'}
{}

In [56]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [57]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [58]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
 
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

In [59]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana

In [60]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in range(len(basket)):
    print(basket[i])

apple
orange
apple
pear
orange
banana

In [61]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
print(list(enumerate(basket)))
for i, v in enumerate(basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [62]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
indexes = range(len(basket))
print(list(zip(indexes, basket)))
for i, v in zip(indexes, basket):
    print(f'{i}{"-" * 10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [63]:
r1 = range(10)
r2 = range(10, 20)
for i, j in zip(r1, r2):
    print(f'{i} * {j} is {i * j}')

0 * 10 is 0
1 * 11 is 11
2 * 12 is 24
3 * 13 is 39
4 * 14 is 56
5 * 15 is 75
6 * 16 is 96
7 * 17 is 119
8 * 18 is 144
9 * 19 is 171

In [64]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
for k in dict1.keys():
    print(k)
for v in dict1.values():
    print(v)
for k, v in dict1.items():
    print(f'{k}{"-" * 10}{v}')

Name
Age
Class
Runoob
7
First
Name----------Runoob
Age----------7
Class----------First

In [65]:
basket = ['apple', 'pear', 'banana']
numbers = list(range(3))
basket.append(numbers)
print(basket)

['apple', 'pear', 'banana', [0, 1, 2]]

In [66]:
def flat(l):
    f = []
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
    return f
flat(basket)

['apple', 'pear', 'banana', 0, 1, 2]

In [67]:
l = [1,2,3,4]
it = iter(l)    
print(next(it))  
print (next(it))

1
2

In [68]:
l=[1,2,3,4]
it = iter(l)  
for x in it:
    print (x, end=" ")

1 2 3 4

In [70]:
def fibonacci(n): # 生成器函数 - 斐波那契
    a, b, counter = 0, 1, 0
    while True:
        if (counter > n): 
            return
        yield a
        a, b = b, a + b
        counter += 1
f = fibonacci(10) 
for x in f:
    print (x, end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [71]:
def add(x, y): 
    return x + y

add(2, 3)

5

In [72]:
add = lambda x, y : x + y 
add(2, 3)

5

In [73]:
a = filter(lambda x : x % 2 != 0, [1,2,3,4])
list(a)

[1, 3]

In [74]:
a = map(lambda x : x + 10, [1,2,3,4])
list(a)

[11, 12, 13, 14]

In [75]:
from functools import reduce
reduce(lambda x, y : x + y, [1,2,3,4])

10

In [76]:
import altair as alt
from vega_datasets import data

source = alt.topo_feature(data.world_110m.url, 'countries')

base = alt.Chart(source).mark_geoshape(
    fill='#666666',
    stroke='white'
).properties(
    width=300,
    height=180
)

projections = ['equirectangular', 'mercator', 'orthographic', 'gnomonic']
charts = [base.project(proj).properties(title=proj)
          for proj in projections]

alt.concat(*charts, columns=2)

alt.ConcatChart(...)

In [77]:
import altair as alt
from vega_datasets import data

source = data.cars()

alt.Chart(source).mark_circle(size=60).encode(
    x='Horsepower',
    y='Miles_per_Gallon',
    color='Origin',
    tooltip=['Name', 'Origin', 'Horsepower', 'Miles_per_Gallon']
).interactive()

alt.Chart(...)

In [79]:
from pyecharts.globals import CurrentConfig, NotebookType
CurrentConfig.NOTEBOOK_TYPE = NotebookType.JUPYTER_LAB

from pyecharts.charts import Bar
from pyecharts import options as opts

from pyecharts.globals import ThemeType

bar = (
    Bar(init_opts=opts.InitOpts(theme=ThemeType.LIGHT))
    .add_xaxis(["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"])
    .add_yaxis("商家A", [5, 20, 36, 10, 75, 90])
    .add_yaxis("商家B", [15, 6, 45, 20, 35, 66])
    .set_global_opts(title_opts=opts.TitleOpts(title="主标题", subtitle="副标题"))
)
bar.load_javascript()
bar.render_notebook()

In [80]:
import numpy as np
import pandas as pd

In [81]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [82]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [83]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.699088 -1.058919 -0.702595  1.429224
2013-01-02 -0.802581  0.973262  0.136899  1.022106
2013-01-03 -0.863300  0.935321 -0.057226  1.906248
2013-01-04  0.073483 -0.076362 -0.886427  0.703719
2013-01-05  0.379123  0.168461 -0.104108 -0.186557
2013-01-06  0.406913  0.750935 -0.602621 -0.780494

In [84]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [85]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [87]:
import json
 
# Python 字典类型转换为 JSON 对象
data = {
    'no' : 1,
    'name' : 'Runoob',
    'url' : 'http://www.runoob.com'
}
 
json_str = json.dumps(data)
print ("Python 原始数据：", repr(data))
print ("JSON 对象：", json_str)

Python 原始数据： {'no': 1, 'name': 'Runoob', 'url': 'http://www.runoob.com'}
JSON 对象： {"no": 1, "name": "Runoob", "url": "http://www.runoob.com"}

In [88]:
import json
 
# Python 字典类型转换为 JSON 对象
data1 = {
    'no' : 1,
    'name' : 'Runoob',
    'url' : 'http://www.runoob.com'
}
 
json_str = json.dumps(data1)
print ("Python 原始数据：", repr(data1))
print ("JSON 对象：", json_str)
 
# 将 JSON 对象转换为 Python 字典
data2 = json.loads(json_str)
print ("data2['name']: ", data2['name'])
print ("data2['url']: ", data2['url'])

Python 原始数据： {'no': 1, 'name': 'Runoob', 'url': 'http://www.runoob.com'}
JSON 对象： {"no": 1, "name": "Runoob", "url": "http://www.runoob.com"}
data2['name']:  Runoob
data2['url']:  http://www.runoob.com

In [89]:
import time 
ticks = time.time()
print ("当前时间戳为:", ticks)

当前时间戳为: 1609336226.4733932

In [90]:
import time

localtime = time.localtime(time.time())
print ("本地时间为 :", localtime)

本地时间为 : time.struct_time(tm_year=2020, tm_mon=12, tm_mday=30, tm_hour=21, tm_min=50, tm_sec=39, tm_wday=2, tm_yday=365, tm_isdst=0)

In [91]:
import time

localtime = time.asctime( time.localtime(time.time()) )
print ("本地时间为 :", localtime)

本地时间为 : Wed Dec 30 21:50:49 2020

In [92]:
import time

# 格式化成2016-03-20 11:45:39形式
print (time.strftime("%Y-%m-%d %H:%M:%S", time.localtime()))

# 格式化成Sat Mar 28 22:24:24 2016形式
print (time.strftime("%a %b %d %H:%M:%S %Y", time.localtime()))
 
# 将格式字符串转换为时间戳
a = "Sat Mar 28 22:24:24 2016"
print (time.mktime(time.strptime(a,"%a %b %d %H:%M:%S %Y")))

2020-12-30 21:51:09
Wed Dec 30 21:51:09 2020
1459175064.0