## Series	带标签的一维同构数组
## DataFrame	带标签的，大小可变的，二维异构表格
## index（行）或 columns（列）

In [43]:
import numpy as np
import pandas as pd

In [44]:
a=pd.Series([1,2,3,4,np.nan])
print(a)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
dtype: float64

In [50]:
type(a)
print(a[::-1])
print(a[0:4:2])
print(type(a[1]))
c=np.float(2)
print(type(c))
# print(type(astype(8)))
# print(a.append(np(8)))

4    NaN
3    4.0
2    3.0
1    2.0
0    1.0
dtype: float64
0    1.0
2    3.0
dtype: float64
<class 'numpy.float64'>
<class 'float'>

In [16]:
b=[1,2,3,4,5]

In [55]:
b[0:5:2]
b.append(9)
print(b)

[1, 2, 3, 4, 5, 9, 9, 9, 9, 9]

## Series 和 list 操作类似

In [59]:
a=pd.Series([1,2,3,4,5,6,'asd'])
## 时间range 生成时间索引
dates=pd.date_range('20201226',periods=6)
print(dates)

DatetimeIndex(['2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='D')

In [66]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=[1,2,3,4])
print(df)

                   1         2         3         4
2020-12-26 -0.018085  0.724660 -1.562836  1.176507
2020-12-27  0.567806  0.324765 -1.972156  0.952283
2020-12-28  1.893191 -1.426357  1.230883  0.973725
2020-12-29  0.513221 -0.919391 -1.608589  0.099364
2020-12-30  1.000713 -0.590661 -0.823331  0.137216
2020-12-31 -0.257879  1.625297 -1.316540  0.186545

In [104]:
a=['we','231','kkk']
a.append('123')
df2=pd.DataFrame({
    'A':1, 
    'B':pd.Timestamp('20201226'),
    'C':np.arange(4),
    'D':a,
    'E':pd.Categorical(['test','train','test','train']),
    'F':'foo'

})
# df2.index=pd.date_range('20201226',peroids=4)
print(df2)
print('')
print(df2.head(2))
print(df2.tail(1))
print(df2.columns)
print(df2.index)

   A          B  C    D      E    F
0  1 2020-12-26  0   we   test  foo
1  1 2020-12-26  1  231  train  foo
2  1 2020-12-26  2  kkk   test  foo
3  1 2020-12-26  3  123  train  foo

   A          B  C    D      E    F
0  1 2020-12-26  0   we   test  foo
1  1 2020-12-26  1  231  train  foo
   A          B  C    D      E    F
3  1 2020-12-26  3  123  train  foo
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

In [82]:
df2.to_numpy()
print(df2)
print(df2.to_numpy())##输出不加index and columns

   A          B  C    D      E    F
0  1 2020-12-26  3   we   test  foo
1  1 2020-12-26  3  231  train  foo
2  1 2020-12-26  3  kkk   test  foo
3  1 2020-12-26  3  123  train  foo
[[1 Timestamp('2020-12-26 00:00:00') 3 'we' 'test' 'foo']
 [1 Timestamp('2020-12-26 00:00:00') 3 '231' 'train' 'foo']
 [1 Timestamp('2020-12-26 00:00:00') 3 'kkk' 'test' 'foo']
 [1 Timestamp('2020-12-26 00:00:00') 3 '123' 'train' 'foo']]

In [83]:
print(df2.T)

                     0                    1                    2  \
A                    1                    1                    1
B  2020-12-26 00:00:00  2020-12-26 00:00:00  2020-12-26 00:00:00
C                    3                    3                    3
D                   we                  231                  kkk
E                 test                train                 test
F                  foo                  foo                  foo

                     3
A                    1
B  2020-12-26 00:00:00
C                    3
D                  123
E                train
F                  foo

In [86]:
print(df2.describe())

         A         C
count  4.0  4.000000
mean   1.0  1.500000
std    0.0  1.290994
min    1.0  0.000000
25%    1.0  0.750000
50%    1.0  1.500000
75%    1.0  2.250000
max    1.0  3.000000

In [93]:
print(df2[0:1])

   A          B  C   D     E    F
0  1 2020-12-26  0  we  test  foo

In [95]:
print(df2['C'][0:2])

0    0
1    1
Name: C, dtype: int32

In [117]:
print(df2.loc['0':'2',['A','B']]) ## loc['行':'行',['columns','columns']]
print(df2.iloc[0:2,1:3])

   A          B
0  1 2020-12-26
1  1 2020-12-26
2  1 2020-12-26
           B  C
0 2020-12-26  0
1 2020-12-26  1

In [116]:
print(df2.C[::-1])
print(df2)
print(df2.B[1])
A=df2.B[1]
print(A)
print(type(A))
print(str(A)[2:5])

3    3
2    2
1    1
0    0
Name: C, dtype: int32
   A          B  C    D      E    F
0  1 2020-12-26  0   we   test  foo
1  1 2020-12-26  1  231  train  foo
2  1 2020-12-26  2  kkk   test  foo
3  1 2020-12-26  3  123  train  foo
2020-12-26 00:00:00
2020-12-26 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
20-

In [128]:
print(df2[0:2])
print(list(df2[0:1]))

   A          B  C    D      E    F
0  1 2020-12-26  0   we   test  foo
1  1 2020-12-26  1  231  train  foo
['A', 'B', 'C', 'D', 'E', 'F']

In [129]:
grads = pd.read_excel('成绩.xlsx', index_col='id')
grads

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
3120105068,7.0,7.0,6.0,225.0,19.0,19.0,18.0,298.0,14.0,14.0,14.0,201.0,14.0,14.0,14.0,203.0
3120301259,21.0,21.0,20.0,163.0,25.0,24.0,22.0,162.0,27.0,26.0,25.0,204.0,19.0,19.0,18.0,191.0
3120332023,37.0,37.0,35.0,164.0,28.0,28.0,27.0,376.0,94.0,94.0,93.0,521.0,NaN,NaN,NaN,NaN
3120132004,37.0,37.0,36.0,171.0,26.0,26.0,25.0,368.0,57.0,57.0,56.0,250.0,NaN,NaN,NaN,NaN
3120118053,104.0,104.0,101.0,203.0,22.0,22.0,20.0,264.0,67.0,67.0,65.0,345.0,35.0,34.0,32.0,340.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120132011,37.0,37.0,35.0,172.0,27.0,25.0,24.0,351.0,94.0,94.0,93.0,524.0,29.0,29.0,28.0,376.0
3120305403,NaN,NaN,NaN,NaN,3.0,3.0,2.0,73.0,NaN,NaN,NaN,NaN,5.0,5.0,4.0,207.0
3120109017,37.0,30.0,19.0,112.0,12.0,10.0,3.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20118038,NaN,NaN,NaN,NaN,38.0,38.0,26.0,372.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120303087,99.0,97.0,94.0,126.0,33.0,33.0,32.0,155.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
grads.head()

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
3120105068,7.0,7.0,6.0,225.0,19.0,19.0,18.0,298.0,14.0,14.0,14.0,201.0,14.0,14.0,14.0,203.0
3120301259,21.0,21.0,20.0,163.0,25.0,24.0,22.0,162.0,27.0,26.0,25.0,204.0,19.0,19.0,18.0,191.0
3120332023,37.0,37.0,35.0,164.0,28.0,28.0,27.0,376.0,94.0,94.0,93.0,521.0,NaN,NaN,NaN,NaN
3120132004,37.0,37.0,36.0,171.0,26.0,26.0,25.0,368.0,57.0,57.0,56.0,250.0,NaN,NaN,NaN,NaN
3120118053,104.0,104.0,101.0,203.0,22.0,22.0,20.0,264.0,67.0,67.0,65.0,345.0,35.0,34.0,32.0,340.0

In [131]:
grads.sort_index()
## 按index排序

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
20118038,NaN,NaN,NaN,NaN,38.0,38.0,26.0,372.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120101015,7.0,7.0,6.0,131.0,5.0,5.0,4.0,222.0,8.0,8.0,7.0,278.0,4.0,4.0,3.0,230.0
3120101016,4.0,4.0,3.0,236.0,45.0,31.0,29.0,356.0,52.0,49.0,46.0,216.0,27.0,27.0,26.0,552.0
3120101017,12.0,12.0,9.0,139.0,4.0,4.0,3.0,181.0,2.0,2.0,1.0,198.0,3.0,3.0,2.0,7683.0
3120101019,23.0,23.0,22.0,162.0,40.0,35.0,34.0,249.0,24.0,22.0,21.0,262.0,30.0,30.0,29.0,295.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120332035,51.0,51.0,49.0,230.0,45.0,45.0,44.0,321.0,43.0,43.0,42.0,283.0,46.0,46.0,39.0,219.0
3120332036,38.0,38.0,32.0,141.0,21.0,21.0,20.0,298.0,59.0,59.0,58.0,271.0,20.0,20.0,19.0,187.0
3120332044,62.0,62.0,60.0,222.0,37.0,36.0,35.0,338.0,109.0,90.0,89.0,432.0,53.0,43.0,42.0,407.0
3120999178,41.0,41.0,40.0,118.0,64.0,64.0,61.0,191.0,123.0,123.0,121.0,470.0,NaN,NaN,NaN,NaN
4120101106,90.0,90.0,87.0,277.0,65.0,65.0,61.0,244.0,86.0,86.0,78.0,214.0,46.0,46.0,43.0,328.0

In [137]:
grads.sort_values(by='line_01')
## 按照某列的值进行排序

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
3120101097,1.0,1.0,0.0,0.0,4.0,4.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0
3120305694,18.0,18.0,7.0,42.0,8.0,8.0,3.0,46.0,7.0,7.0,4.0,325.0,6.0,6.0,0.0,0.0
3120301255,4.0,4.0,3.0,71.0,14.0,14.0,10.0,90.0,9.0,9.0,7.0,134.0,32.0,32.0,30.0,330.0
3120101221,22.0,21.0,11.0,76.0,22.0,22.0,21.0,106.0,3.0,3.0,1.0,66.0,NaN,NaN,NaN,NaN
3120305718,27.0,26.0,25.0,98.0,75.0,72.0,49.0,245.0,37.0,34.0,31.0,370.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120101238,74.0,74.0,70.0,514.0,3.0,3.0,1.0,220.0,2.0,2.0,1.0,308.0,8.0,8.0,5.0,244.0
3120301223,203.0,203.0,195.0,586.0,201.0,201.0,194.0,458.0,54.0,54.0,52.0,329.0,79.0,79.0,76.0,168.0
3120319071,NaN,NaN,NaN,NaN,12.0,12.0,11.0,74.0,3.0,3.0,3.0,112.0,7.0,7.0,5.0,201.0
3120305403,NaN,NaN,NaN,NaN,3.0,3.0,2.0,73.0,NaN,NaN,NaN,NaN,5.0,5.0,4.0,207.0
20118038,NaN,NaN,NaN,NaN,38.0,38.0,26.0,372.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
grads.loc[[3120332023, 3120301259], ['line_01', 'line_02']]

            line_01  line_02
id
3120332023    164.0    376.0
3120301259    163.0    162.0

In [136]:
grads.at[3120101211,'line_01'] ##按照元素

454.0

In [138]:
grads.iloc[[1, 3], [2, 4]]##按照位置

            valid_cell_01  cell_02
id
3120301259           20.0     25.0
3120132004           36.0     26.0

In [139]:
grads.iat[1, 1]  ##按照位置

21.0

In [145]:
grads[grads['line_01'] >= 200]

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
3120105068,7.0,7.0,6.0,225.0,19.0,19.0,18.0,298.0,14.0,14.0,14.0,201.0,14.0,14.0,14.0,203.0
3120118053,104.0,104.0,101.0,203.0,22.0,22.0,20.0,264.0,67.0,67.0,65.0,345.0,35.0,34.0,32.0,340.0
3120301183,76.0,76.0,71.0,292.0,26.0,26.0,25.0,284.0,50.0,50.0,49.0,275.0,3.0,3.0,1.0,211.0
3120303014,129.0,129.0,116.0,281.0,66.0,65.0,61.0,220.0,53.0,53.0,51.0,133.0,85.0,85.0,53.0,238.0
3120305664,156.0,147.0,142.0,389.0,37.0,34.0,31.0,366.0,153.0,134.0,133.0,649.0,NaN,NaN,NaN,NaN
3120301047,57.0,56.0,55.0,307.0,41.0,41.0,39.0,561.0,89.0,89.0,88.0,514.0,23.0,23.0,22.0,304.0
3120319111,182.0,182.0,162.0,214.0,196.0,196.0,167.0,305.0,200.0,200.0,181.0,212.0,209.0,209.0,192.0,282.0
3120301223,203.0,203.0,195.0,586.0,201.0,201.0,194.0,458.0,54.0,54.0,52.0,329.0,79.0,79.0,76.0,168.0
3120332025,280.0,280.0,185.0,307.0,20.0,20.0,19.0,303.0,82.0,82.0,75.0,344.0,75.0,75.0,73.0,449.0
3120103152,125.0,125.0,120.0,363.0,45.0,44.0,32.0,273.0,100.0,100.0,99.0,497.0,127.0,127.0,125.0,990.0
3120305679,62.0,62.0,61.0,278.0,28.0,27.0,22.0,271.0,35.0,35.0,34.0,282.0,86.0,80.0,76.0,407.0
3120332044,62.0,62.0,60.0,222.0,37.0,36.0,35.0,338.0,109.0,90.0,89.0,432.0,53.0,43.0,42.0,407.0
3120101238,74.0,74.0,70.0,514.0,3.0,3.0,1.0,220.0,2.0,2.0,1.0,308.0,8.0,8.0,5.0,244.0
3120101240,11.0,11.0,9.0,257.0,19.0,19.0,18.0,253.0,8.0,8.0,7.0,202.0,4.0,4.0,4.0,248.0
4120101106,90.0,90.0,87.0,277.0,65.0,65.0,61.0,244.0,86.0,86.0,78.0,214.0,46.0,46.0,43.0,328.0
3120118049,152.0,150.0,127.0,309.0,67.0,67.0,66.0,339.0,159.0,159.0,154.0,292.0,22.0,22.0,15.0,212.0
3120305683,151.0,142.0,137.0,363.0,37.0,34.0,31.0,370.0,113.0,94.0,93.0,522.0,28.0,28.0,27.0,212.0
3120101246,10.0,10.0,9.0,201.0,3.0,3.0,2.0,268.0,4.0,4.0,3.0,204.0,3.0,3.0,2.0,219.0
3120105015,32.0,32.0,31.0,219.0,29.0,29.0,28.0,251.0,82.0,82.0,81.0,416.0,26.0,26.0,25.0,261.0
3120332026,179.0,179.0,174.0,336.0,24.0,24.0,22.0,257.0,100.0,100.0,96.0,355.0,28.0,27.0,23.0,126.0
3120301080,27.0,27.0,26.0,225.0,23.0,23.0,22.0,206.0,7.0,7.0,6.0,204.0,25.0,25.0,24.0,247.0
3120101260,204.0,204.0,197.0,411.0,43.0,43.0,39.0,264.0,96.0,96.0,93.0,213.0,45.0,45.0,42.0,179.0
3120104196,98.0,98.0,92.0,238.0,100.0,100.0,90.0,201.0,35.0,35.0,34.0,215.0,22.0,22.0,17.0,182.0
3120305579,86.0,86.0,82.0,220.0,36.0,36.0,35.0,214.0,65.0,65.0,64.0,270.0,32.0,32.0,30.0,228.0
3120101244,160.0,159.0,139.0,324.0,51.0,51.0,48.0,271.0,16.0,16.0,4.0,163.0,5.0,5.0,4.0,338.0
3120305689,53.0,21.0,21.0,396.0,9.0,9.0,8.0,204.0,112.0,92.0,92.0,521.0,30.0,30.0,29.0,206.0
3120103322,101.0,101.0,100.0,423.0,109.0,109.0,106.0,516.0,125.0,125.0,77.0,473.0,121.0,119.0,117.0,1461.0
3120319059,94.0,94.0,72.0,239.0,146.0,141.0,0.0,0.0,12.0,9.0,5.0,93.0,80.0,80.0,79.0,304.0
3120301231,202.0,202.0,183.0,327.0,47.0,47.0,46.0,208.0,87.0,87.0,87.0,206.0,71.0,71.0,68.0,212.0
3120101273,15.0,15.0,14.0,231.0,26.0,25.0,23.0,250.0,89.0,88.0,76.0,459.0,19.0,15.0,14.0,282.0
3120301269,30.0,30.0,29.0,223.0,37.0,37.0,36.0,411.0,63.0,63.0,62.0,233.0,90.0,82.0,80.0,304.0
3120101212,98.0,98.0,96.0,231.0,47.0,45.0,44.0,230.0,57.0,56.0,55.0,267.0,39.0,39.0,38.0,334.0
3120118047,244.0,213.0,163.0,353.0,171.0,131.0,115.0,380.0,198.0,175.0,171.0,521.0,135.0,127.0,118.0,516.0
3120101074,28.0,18.0,18.0,206.0,62.0,57.0,57.0,279.0,13.0,13.0,13.0,285.0,25.0,25.0,23.0,227.0
3120332011,48.0,48.0,46.0,202.0,30.0,29.0,26.0,337.0,40.0,40.0,39.0,427.0,49.0,49.0,48.0,215.0
3120332035,51.0,51.0,49.0,230.0,45.0,45.0,44.0,321.0,43.0,43.0,42.0,283.0,46.0,46.0,39.0,219.0
3120101271,71.0,70.0,68.0,229.0,42.0,42.0,41.0,261.0,92.0,92.0,89.0,442.0,20.0,20.0,18.0,226.0
3120118038,62.0,62.0,55.0,236.0,38.0,38.0,26.0,372.0,80.0,80.0,68.0,336.0,73.0,73.0,70.0,401.0
3120305456,53.0,53.0,50.0,357.0,37.0,37.0,36.0,358.0,36.0,36.0,34.0,212.0,26.0,26.0,24.0,257.0
3120305454,23.0,13.0,12.0,253.0,15.0,13.0,13.0,230.0,9.0,9.0,8.0,179.0,NaN,NaN,NaN,NaN
3120101095,31.0,31.0,30.0,237.0,20.0,20.0,20.0,223.0,44.0,44.0,43.0,204.0,26.0,26.0,24.0,227.0
3120101215,24.0,24.0,23.0,203.0,36.0,36.0,35.0,197.0,31.0,31.0,30.0,195.0,NaN,NaN,NaN,NaN
3120305590,37.0,37.0,35.0,298.0,23.0,23.0,19.0,213.0,42.0,42.0,41.0,280.0,15.0,15.0,14.0,218.0
3120101151,23.0,23.0,22.0,211.0,38.0,38.0,37.0,281.0,44.0,44.0,43.0,205.0,15.0,15.0,14.0,255.0
3120118046,106.0,106.0,101.0,238.0,33.0,33.0,31.0,249.0,46.0,46.0,45.0,205.0,46.0,46.0,45.0,205.0
3120101211,85.0,56.0,44.0,454.0,55.0,34.0,22.0,286.0,48.0,37.0,34.0,281.0,17.0,15.0,13.0,261.0
3120101208,81.0,80.0,78.0,296.0,37.0,37.0,35.0,369.0,124.0,121.0,119.0,541.0,80.0,70.0,69.0,630.0
3120332034,54.0,53.0,51.0,219.0,31.0,29.0,27.0,352.0,108.0,90.0,89.0,413.0,38.0,38.0,36.0,197.0
3120101016,4.0,4.0,3.0,236.0,45.0,31.0,29.0,356.0,52.0,49.0,46.0,216.0,27.0,27.0,26.0,552.0
3120305697,43.0,17.0,17.0,232.0,40.0,27.0,26.0,378.0,112.0,92.0,92.0,521.0,53.0,21.0,21.0,396.0

In [146]:
grads['line_01'] >= 200

id
3120105068     True
3120301259    False
3120332023    False
3120132004    False
3120118053     True
              ...
3120132011    False
3120305403    False
3120109017    False
20118038      False
3120303087    False
Name: line_01, Length: 82, dtype: bool

In [147]:
grads[grads == np.nan]

,cell_01,code_cell_01,valid_cell_01,line_01,cell_02,code_cell_02,valid_cell_02,line_02,cell_03,code_cell_03,valid_cell_03,line_03,cell_04,code_cell_04,valid_cell_04,line_04
id,,,,,,,,,,,,,,,,
3120105068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120301259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120332023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120132004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120118053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120132011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120305403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120109017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20118038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3120303087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
grads.iat[1, 1] = 0
grads.iat[1, 1]

0.0

In [149]:
grads.loc[:, 'line_01'] = np.array([200] * len(grads))
grads.loc[:, 'line_01']

id
3120105068    200
3120301259    200
3120332023    200
3120132004    200
3120118053    200
             ...
3120132011    200
3120305403    200
3120109017    200
20118038      200
3120303087    200
Name: line_01, Length: 82, dtype: int32

In [160]:

a=pd.DataFrame(np.random.randn(6,4),index=['2020-12-26 16:05:01','2020-12-26 16:56:01','2020-12-25 21:05:01','2020-12-26 21:05:35','2020-12-26 13:13:01','2020-12-26 22:05:01'],columns=[1,2,3,4])
a.sort_index()
print(a.sort_index())

                            1         2         3         4
2020-12-25 21:05:01  0.717618 -1.311948  0.476031  0.243462
2020-12-26 13:13:01 -1.240362 -1.074518 -1.550363  0.490591
2020-12-26 16:05:01  0.092204 -0.335450 -0.036229 -1.577386
2020-12-26 16:56:01  0.374171  0.693664  0.705527  0.661155
2020-12-26 21:05:35 -1.468814  0.146869  0.059563  0.225623
2020-12-26 22:05:01  0.964590 -0.149655 -1.292381 -1.088112

In [156]:
print(len(grads))

82

In [5]:
a=[]
a.append('2')
print(a)

['2']

In [3]:
from selenium import webdriver
# driver=webdriver.chrome() ##chrom浏览器 可以换Firefox Edge ...
# find_element_by_id()    ##8种定位方式
# find_element_by_name()
# find_element_by_class_name()
# find_element_by_tag_name()
# find_element_by_link_text()
# find_element_by_partial_link_text()
# find_element_by_xpath()
# find_element_by_css_selector()

## 爬取豆瓣

In [9]:
import selenium.webdriver as webdriver
import time
import subprocess
import pandas as pd





if __name__=="__main__":
    display=True ##是否显示
    option = webdriver.ChromeOptions() ##浏览器的启动选项
    ##添加浏览器的安装路径
    option.binary_location = r'C:\Program Files\Google\Chrome\Application\chrome.exe'
    ##设置成有浏览器界面的模式，目前没针对无头浏览器开发，display改成true会报错
    if not display:
        option.set_headless() ## 若无界面采用无界面运行
        pass
    driver=webdriver.Chrome(r'C:\Users\saba\Desktop\python_class\chromedriver.exe',options=option)
    ##设置窗口尺寸 或者driver.set_window_size()
    driver.set_window_rect(width=1366, height=768)
    ##操作的网站
    target_url=r'https://movie.douban.com/'##豆瓣
    driver.get(target_url)
    
    time.sleep(3) ##等待2s 等页面加载wanbi
    login_btn1:webdriver.remote.webdriver.WebElement=driver.find_element_by_css_selector('#db-global-nav > div > div.top-nav-info > a').click()
    time.sleep(0.5)
    pwd_btn:webdriver.remote.webdriver.WebElement=driver.find_element_by_css_selector('#account > div.login-wrap > div.login-right > div > div.account-body-tabs > ul.tab-start > li.account-tab-account').click()
    time.sleep(0.5)
    userName: webdriver.remote.webdriver.WebElement = driver.find_element_by_css_selector('#username').send_keys('15659734196')
    passWord: webdriver.remote.webdriver.WebElement = driver.find_element_by_css_selector('#password').send_keys('13159434110zmh')
    login_btn2: webdriver.remote.webdriver.WebElement = driver.find_element_by_css_selector('#account > div.login-wrap > div.login-right > div > div.account-tabcon-start > div.account-form > div.account-form-field-submit > a').click()
    time.sleep(5)
    search_name: webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="inp-query"]').send_keys('神奇女侠1984')
    search_btn: webdriver.remote.webdriver.WebElement = driver.find_element_by_css_selector('#db-nav-movie > div.nav-wrap > div > div.nav-search > form > fieldset > div.inp-btn > input[type=submit]').click()
    time.sleep(1)
#     film_btn:webdriver.remote.webdriver.WebElement = driver.find_element_by_css_selector('#root > div > div._2w044wi2u > div._gd58w1w2x > div:nth-child(1) > div:nth-child(1) > div > div > div.title > a').click()
    film_btn:webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="root"]/div/div[2]/div[1]/div[1]/div[1]/div/div/div[1]/a').click()
    time.sleep(1)
    comments_btn:webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="comments-section"]/div[1]/h2/span/a').click()
    time.sleep(2)
    name=[]
    date=[]
    content=[]
    useful=[]
    grads=[]
    df=pd.DataFrame()
    for i in range(1,2):
        for j in range(1,21):
#             try:
            Name:webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="comments"]/div['+str(j)+']/div[2]/h3/span[2]/a')
            Date:webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="comments"]/div['+str(j)+']/div[2]/h3/span[2]/span[3]')
            Grads:webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="comments"]/div['+str(j)+']/div[2]/h3/span[2]/span[2]')
            Useful:webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="comments"]/div['+str(j)+']/div[2]/h3/span[1]/span')
            Content:webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="comments"]/div['+str(j)+']/div[2]/p/span')
#             name.append(Name.text)
#             date.append(Date.text)
#             content.append(Content.text)
#             useful.append(Useful.text)
#             grads.append(Grads.text)
            print(Name.text,Date.text,Grads.text,':','               ','useful:',Useful.text)
            print('  ',Content.text)
            print('----------------------------------------------')
#             except:
#                 break
        if i==1:
            nextpage:webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="paginator"]/a').click()
            time.sleep(5)
        elif i==25:
            break
        else:
            nextpage:webdriver.remote.webdriver.WebElement = driver.find_element_by_xpath('//*[@id="paginator"]/a[3]').click()
            time.sleep(5)
#     df['username']=name
#     df.index=date
#     df['uesful']=useful
#     df['grads']=grads
#     df['content']=content
#     df.to_excel('new_grads.xlsx')

AttributeError: 'WebElement' object has no attribute 'title'

In [ ]:
//*[@id="comments"]/div[20]
<span class="comment-time " title="2020-12-18 02:57:23">
                    2020-12-18
                </span>

## 下载邮件

In [1]:
import poplib
import email
import os
from email.parser import Parser
from email.header import decode_header
from email.utils import parseaddr
import time
 
def decode_str(s):
    value, charset = decode_header(s)[0]
    if charset:
        if charset == 'gb2312':
            charset = 'gb18030'
        value = value.decode(charset)
    return value
 
def get_email_headers(msg):
    headers = {}
    for header in ['From', 'To', 'Cc', 'Subject', 'Date']:
        value = msg.get(header, '')
        if value:
            if header == 'Date':
                headers['Date'] = value
            if header == 'Subject':
                subject = decode_str(value)
                headers['Subject'] = subject
            if header == 'From':
                hdr, addr = parseaddr(value)
                name = decode_str(hdr)
                from_addr = u'%s <%s>' % (name, addr)
                headers['From'] = from_addr
            if header == 'To':
                all_cc = value.split(',')
                to = []
                for x in all_cc:
                    hdr, addr = parseaddr(x)
                    name = decode_str(hdr)
                    to_addr = u'%s <%s>' % (name, addr)
                    to.append(to_addr)
                headers['To'] = ','.join(to)
            if header == 'Cc':
                all_cc = value.split(',')
                cc = []
                for x in all_cc:
                    hdr, addr = parseaddr(x)
                    name = decode_str(hdr)
                    cc_addr = u'%s <%s>' % (name, addr)
                    cc.append(to_addr)
                headers['Cc'] = ','.join(cc)
    return headers
 
def get_email_content(message, savepath):
    attachments = []
    for part in message.walk():
        filename = part.get_filename()
        if filename:
            filename = decode_str(filename)
            data = part.get_payload(decode=True)
            abs_filename = os.path.join(savepath, filename)
            attach = open(abs_filename, 'wb')
            attachments.append(filename)
            attach.write(data)
            attach.close()
    return attachments
 
if __name__ == '__main__':
    # 账户信息
    email='1175972369@qq.com'
    password='oaxehzskvqjmgcif'
    pop3_server='pop.qq.com'
    # 连接到POP3服务器，带SSL的:
    server=poplib.POP3_SSL(pop3_server,995)
    # 可以打开或关闭调试信息:
    server.set_debuglevel(0)
    # POP3服务器的欢迎文字:
    print(server.getwelcome())
    # 身份认证:
    server.user(email)
    server.pass_(password)
    # stat()返回邮件数量和占用空间:
    msg_count,msg_size=server.stat()
    print('message count:',msg_count)
    print('message size:',msg_size,'bytes')
    # b'+OK 237 174238271' list()响应的状态/邮件数量/邮件占用的空间大小
    resp, mails, octets = server.list()
 
    for i in range( msg_count,1,-1):
        resp, byte_lines, octets = server.retr(i)
        # 转码
        str_lines = []
        for x in byte_lines:
            str_lines.append(x.decode('unicode_escape'))
        # 拼接邮件内容
        msg_content = '\n'.join(str_lines)
        # 把邮件内容解析为Message对象
        msg = Parser().parsestr(msg_content)
        headers = get_email_headers(msg)  ##读取heard
#         if headers['Date'][8:11]!='Dec':
#             break
        attachments = get_email_content(msg, r'C:\Users\saba\Desktop\邮箱附件') ##下载的邮件附件保存路径
        try:
            print('subject:', headers['Subject'])
            print('from:', headers['From'])
            print('to:', headers['To'])
            if 'cc' in headers:
                print('cc:', headers['Cc'])
            print('date:', headers['Date'])
            print('attachments: ', attachments)
            print('-----------------------------')
        except:
            pass
 
    server.quit()

b'+OK XMail POP3 Server v1.0 Service Ready(XMail v1.0)'
message count: 25
message size: 10017630 bytes
subject: GeForce 升级季来了 - 游戏笔记本电脑  🎄 🎁
from: NVIDIA <news@nvidia.com>
to:  <1175972369@qq.com>
date: Thu, 31 Dec 2020 18:31:39 -0600 (CST)
attachments:  []
-----------------------------
subject: 【阿里发票平台】电子发票附件查收
from: 阿里发票平台 <noreply@notice.invoice-mail.taobao.com>
to:  <1175972369@qq.com>
subject: 打卡  None
from:  <huopp359@163.com>
to:  <1175972369@qq.com>
date: Fri, 25 Dec 2020 17:08:26 +0800 (CST)
attachments:  []
-----------------------------
subject: 345
from: jakxjjsjd <3053278417@qq.com>
to: 相见有时 <1175972369@qq.com>
date: Fri, 25 Dec 2020 10:52:14 +0800
attachments:  ['test007.png']
-----------------------------
subject: 345
from: jakxjjsjd <3053278417@qq.com>
to: 相见有时 <1175972369@qq.com>
date: Fri, 25 Dec 2020 10:51:40 +0800
attachments:  ['test006.png']
-----------------------------
subject: 345
from: jakxjjsjd <3053278417@qq.com>
to: 相见有时 <1175972369@qq.com>
date: Fri, 25 Dec 2020 10:51:20 +0800
attachments:  ['test005.png']
-----------------------------
subject: 345
from: jakxjjsjd <3053278417@qq.com>
to: 相见有时 <1175972369@qq.com>
date: Fri, 25 Dec 2020 10:51:01 +0800
attachments:  ['test004.png']
-----------------------------
subject: 更安全、更高效、更强大，尽在QQ邮箱APP
from: QQ邮箱团队 <10000@qq.com>
to: 周孟航 <1175972369@qq.com>
date: Thu, 24 Dec 2020 21:49:10 +0800
attachments:  []
-----------------------------
subject: 345
from: jakxjjsjd <3053278417@qq.com>
to: 相见有时 <1175972369@qq.com>
date: Thu, 24 Dec 2020 20:04:50 +0800
attachments:  ['test003.png']
-----------------------------
subject: 234
from: jakxjjsjd <3053278417@qq.com>
to: 相见有时 <1175972369@qq.com>
date: Thu, 24 Dec 2020 20:04:31 +0800
attachments:  ['test002.png']
-----------------------------
subject: 123
from: jakxjjsjd <3053278417@qq.com>
to: 相见有时 <1175972369@qq.com>
date: Thu, 24 Dec 2020 20:04:15 +0800
attachments:  ['test001.png']
-----------------------------
subject: 更安全、更高效、更强大，尽在QQ邮箱APP
from: QQ邮箱团队 <10000@qq.com>
to: 周孟航 <1175972369@qq.com>
date: Thu, 24 Dec 2020 14:36:39 +0800
attachments:  []
-----------------------------
subject: [Python 实用宝典]的信使给您送信来啦!
from: Python实用宝典 <admin@pythondict.com>
to:  <1175972369@qq.com>
date: Tue, 22 Dec 2020 07:27:32 +0000
attachments:  []
-----------------------------
subject: 关系和网络的建构：一个社会学的诠释——1
from: kangzhimei <kangzhimei@zzxbt.com>
to:  <1175972369@qq.com>
date: Mon, 21 Dec 2020 22:59:39 +0800
attachments:  ['¹ØÏµºÍÍøÂçµÄ½¨¹¹£ºÒ»¸öÉç»áÑ§µÄÚ¹ÊÍ1.pdf']
-----------------------------
subject: 人际关系与人际情感的构念化——1
from: yaping <yaping@uuwxx.com>
to:  <1175972369@qq.com>
date: Thu, 17 Dec 2020 21:28:37 +0800
attachments:  ['ÈË¼Ê¹ØÏµÓëÈË¼ÊÇé¸ÐµÄ¹¹Äî»¯1.pdf']
-----------------------------
subject: GeForce 升级正当时 - 显卡和电脑主机  ✨ 🎄 🎁
from: NVIDIA <news@nvidia.com>
to:  <1175972369@qq.com>
date: Wed, 16 Dec 2020 04:01:48 -0600 (CST)
attachments:  []
-----------------------------
subject: 已读: 2班+3120101211+周孟航（第三次大作业）
from: kechengdazuoye <kechengdazuoye@163.com>
to: 周孟航 <1175972369@qq.com>
date: Wed, 16 Dec 2020 15:06:07 +0800 (CST)
attachments:  []
-----------------------------

error_proto: b'-ERR Message not exists'