In [2]:
#!/usr/bin/python3
 
tup1 = ('Google', 'Runoob', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
 
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  Google
tup2[1:5]:  (2, 3, 4, 5)

In [3]:
#!/usr/bin/python3
 
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
 
# 以下修改元组元素操作是非法的。
# tup1[0] = 100
 
# 创建一个新的元组
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [6]:
>>> tup = ('Google', 'Runoob', 'Taobao', 'Wiki', 'Weibo','Weixin')
>>> tup[1]
'Runoob'
>>> tup[-2]
'Weibo'
>>> tup[1:]
('Runoob', 'Taobao', 'Wiki', 'Weibo', 'Weixin')
>>> tup[1:4]
('Runoob', 'Taobao', 'Wiki')
>>>

('Runoob', 'Taobao', 'Wiki')

In [8]:
#!/usr/bin/env python3
 
n = 100
 
sum = 0
counter = 1
while counter <= n:
    sum = sum + counter
    counter += 1
 
print("1 到 %d 之和为: %d" % (n,sum))
4441088800    # 内存地址不一样了

1 到 100 之和为: 5050

4441088800

In [11]:
var1 = 'Hello World!'
var2 = "Runoob"
print(type(var1))
print(len(var1))
print ("var1[0]: ", var1[0])
print ("var2[1:5]: ", var2[1:5])

<class 'str'>
12
var1[0]:  H
var2[1:5]:  unoo

In [12]:
var1 = 'Hello World!'
 
print ("已更新字符串 : ", var1[:6] + 'Runoob!')

已更新字符串 :  Hello Runoob!

In [13]:

'Hello ' * 5
'H' in 'Hello'

True

In [14]:
name = 'Lucy'
print(f'I am {name}')
print(r'I\'m OK')

I am Lucy
I\'m OK

In [15]:
sentence = 'hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [16]:
var="www.runoob.com"
sub='o'
print ("var.count('o') : ", var.count(sub))

sub='run'
print ("var.count('run', 0, 10) : ", var.count(sub,0,10))

var.count('o') :  3
var.count('run', 0, 10) :  1

In [17]:

str1 = "runoob"
str2 = "runoob菜鸟教程"
str3 = "Runoob example....wow!!!"
str4 = "runoob2016"
str5 = "2016"
str6 = "二零一六"

print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('*' * 50)
print (str1.isalnum())
print (str2.isalnum())
print (str3.isalnum())
print (str4.isalnum())
print (str5.isalnum())
print (str6.isalnum())
print('*' * 50)
print (str1.isdigit())
print (str2.isdigit())
print (str3.isdigit())
print (str4.isdigit())
print (str5.isdigit())
print (str6.isdigit())
print('*' * 50)
print (str1.isnumeric())
print (str2.isnumeric())
print (str3.isnumeric())
print (str4.isnumeric())
print (str5.isnumeric())
print (str6.isnumeric())

True
True
False
False
False
True
**************************************************
True
True
False
True
True
True
**************************************************
False
False
False
False
True
False
**************************************************
False
False
False
False
True
True

In [20]:
var = "this is string example....wow!!!"
print (var.startswith( 'this' ))   # 字符串是否以 this 开头
print (var.startswith( 'string', 8 ))  # 从第九个字符开始的字符串是否以 string 开头
print (var.startswith( 'this', 2, 4 )) # 从第2个字符开始到第四个字符结束的字符串是否以 this 开头

False
False
False

In [23]:
var='Runoob example....wow!!!'
suffix='!!'
print (var.endswith(suffix))
print (var.endswith(suffix, len(var) - 1))
suffix='Run'
print (var.endswith(suffix))
print (var.endswith(suffix, 0, 3))

True
False
False
True

In [24]:
str1 = "Runoob example....wow!!!"
str2 = "exam";
 
print (str1.find(str2))
print (str1.find(str2, 5))
print (str1.find(str2, 10))
# print (str1.index(str2, 10))

7
7
-1

In [25]:
str1 = "    *****this is **string** example....wow!!!*****    "
str1 = str1.strip() # 默认空格
print (str1)
str1 = str1.strip('*') # 指定字符串 *
str1

*****this is **string** example....wow!!!*****

'this is **string** example....wow!!!'

In [26]:
txt = "Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
# 第二个参数为 1，返回两个参数列表
x = txt.split("#", 1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [27]:
str1 = "www.w3cschool.cc"
print ("菜鸟教程旧地址：", str1)
print ("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))
 
str2 = "this is string example....wow!!!"
print (str2.replace("is", "was", 3))

菜鸟教程旧地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string example....wow!!!

In [28]:
import re
re.match(r'\d{3}\-\d{3,8}$', '010-12345')

In [31]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 12345'))

None

In [33]:
'a b   c'.split(' ')

['a', 'b', '', '', 'c']

In [34]:
re.split(r'\s+', 'a b   c')

['a', 'b', 'c']

In [35]:
re.split(r'[\s\,]+', 'a,b, c  d')

['a', 'b', 'c', 'd']

In [36]:
re.split(r'[\s\,\;]+', 'a,b;; c  d')

['a', 'b', 'c', 'd']

In [38]:
m = re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [39]:

t = '19:05:30'
m = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

In [40]:
re.match(r'^(\d+)(0*)$', '102300').groups()
# 由于\d+采用贪婪匹配，直接把后面的0全部匹配了，结果0*只能匹配空字符串了。

('102300', '')

In [42]:
# 必须让\d+采用非贪婪匹配（也就是尽可能少匹配），才能把后面的0匹配出来，加个?就可以让\d+采用非贪婪匹配：
re.match(r'^(\d+?)(0*)$', '102300').groups()

('1023', '00')

In [46]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(type(colors))
colors

<class 'list'>

['red', 'green', 'blue', 'yellow', 'white', 'black']

In [47]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

red
green
blue
black
white
yellow

In [48]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [51]:
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [53]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [54]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
del colors[2]
colors.remove('red')
colors

['green', 'yellow', 'white', 'black']

In [55]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors.append('pink')
colors.insert(2, 'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [56]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black', 'red']
print(colors.count('red'))
print(colors.index('green'))

2
1

In [58]:
numbers = [0 ,1, 2, 4, 5, 6, 8, 9, 3, 1]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]
[]

In [60]:
squares = []
squares += [1, 4, 9, 16, 25]
squares += [36, 49, 64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [61]:
squares.extend([81, 100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
['Hello', 'World'] * 5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [65]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [67]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [69]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [71]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"   #  不需要括号也可以
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [72]:
tup1[0]

'Google'

In [73]:
tup1[1] = 'Baidu'

TypeError: 'tuple' object does not support item assignment

In [74]:
tup1 + tup2

('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [76]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [78]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'pear', 'orange', 'banana', 'apple'}
{'l', 'W', 'r', 'o', 'd', 'e', ' ', 'H'}

In [84]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'l', 'banana', 'orange', 'o', 'm', 'apple', 'e', 'n', 'pear'}
{'l', 'banana', 'orange', 'o', 'm', 'apple', 'e', 'n', 'lemon', 'melon', 'pear'}

In [86]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b) # 集合a中包含而集合b中不包含的元素
print(a | b) # 集合a或b中包含的所有元素
print(a & b) # 集合a和b中都包含了的元素
print(a ^ b) # 不同时包含于a和b的元素

{'r', 'a', 'd', 'c', 'b'}
{'l', 'a', 'm', 'z', 'c'}
{'b', 'r', 'd'}
{'l', 'r', 'a', 'm', 'd', 'c', 'z', 'b'}
{'c', 'a'}
{'l', 'r', 'm', 'b', 'd', 'z'}

In [87]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(type(dict1))
print ("dict1['Name']: ", dict1['Name'])
print ("dict1['Age']: ", dict1['Age'])

<class 'dict'>
dict1['Name']:  Runoob
dict1['Age']:  7

In [88]:
dict1 = {
    'Name': 'Runoob', 
    'Age': 7, 
    'Class': 'First'
}
 
dict1['Age'] = 8             # 更新 Age
dict1['School'] = "菜鸟教程"  # 添加信息
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [90]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
del dict1['Name'] # 删除键 'Name'
print(dict1)
dict1.clear()     # 清空字典
print(dict1)

{'Age': 7, 'Class': 'First'}
{}

In [91]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runoob', 7, 'First'])
dict_items([('Name', 'Runoob'), ('Age', 7), ('Class', 'First')])

In [92]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [93]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
 
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}