In [1]:
print('Hello my girl!')

Hello my girl!

In [2]:
print('I don not know how to learn python well! ')

I don not know how to learn python well!

In [3]:
counter=100
miles=100.0
name="rush my girl"

In [4]:
counter

100

In [5]:
miles

100.0

In [6]:
name

'rush my girl'

In [7]:
a=b=c=d=1

In [8]:
a

1

In [9]:
b

1

In [10]:
c

1

In [11]:
d

1

In [12]:
a,b,c,d=1,2,3,"rush my girl"

In [13]:
a

1

In [14]:
d

'rush my girl'

In [15]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [16]:
print("Hens",30+25/5)

Hens 35.0

In [17]:
3+4+5+9/3

15.0

In [18]:
print("It is right?",5>4)

It is right? True

In [19]:
5>=2

True

In [20]:
1<0

False

In [21]:
a,b=10,20

In [22]:
c=b-a

In [23]:
c

10

In [24]:
my_name='Zhang Xinyue'

In [25]:
print(f"My name is {my_name}")

My name is Zhang Xinyue

In [26]:
a="加油"

In [27]:
print(f"我一定会 {a}")

我一定会 加油

In [28]:
a_b=10

In [29]:
x=f"my age is {a_b}"

In [30]:
print(x)

my age is 10

In [31]:
a="C"

In [32]:
b="h"

In [33]:
c="i"

In [34]:
d='n'

In [35]:
e='a'

In [36]:
print("a+b+c+d+e")

a+b+c+d+e

In [37]:
print(a+b+c)

Chi

In [38]:
print(a+b+c+d+e)

China

In [39]:
a="{}{}{}{}"

In [40]:
print(a.format(1,2,3,4))

1234

In [41]:
print(a.format('I','love','you','!'))

Iloveyou!

In [42]:
a="1,2,3,4,5,6,7,8,9"

In [43]:
print(f"Here are {a}")

Here are 1,2,3,4,5,6,7,8,9

In [44]:
print("Here are a",a)

Here are a 1,2,3,4,5,6,7,8,9

In [45]:
print("How old are you?",end='')

How old are you?

In [46]:
age=input()

 23

In [47]:
print("my age is {age}")

my age is {age}

In [48]:
print(f"my age is {age}")

my age is 23

In [49]:
from sys import argv

In [50]:
script,first,second=argv

In [51]:
print("The script is called:",script)

The script is called: C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py

In [52]:
print("The first variable is:",first)

The first variable is: -f

In [53]:
print("Your second is:",second)

Your second is: C:\Users\hp\AppData\Roaming\jupyter\runtime\kernel-cf2a2463-d1eb-446a-92f0-a39059942f50.json

In [54]:
import pandas as pd

In [55]:
csv=pd.read_csv('Desktop/movie_comments.csv')

In [56]:
csv

,votes,name,seen,star,date,text
0,260,____anybody,看过,推荐,2019-09-11 04:49:11,没错，在影片的前中后，我的菊花分别为剧情紧了三次。
1,116,瓦力,看过,推荐,2019-12-08 15:27:16,“霍金夫妇”的天空大冒险...本片可与《搏击太空》、《登月第一人》组成“人类升空进击三部曲”...
2,214,Maggie_in_LA,看过,还行,2019-10-08 15:41:00,这个片子虽然有的情节惊心动魄，画面也很美，但全程其实挺可笑的。看多了那种NASA在太空中的历...
3,185,花袭人,看过,还行,2019-12-12 18:58:00,在电影院看观感蛮好的，高空景致壮美，热气球独有的危险和挑战也挺抓人的，影片的长度跟热气球在空...
4,111,HarperDie,看过,推荐,2019-09-20 13:39:13,我相信埃迪·雷德梅恩在接下这个本子的时候，就笃定了要与导演汤姆·哈伯一起成就第一主角菲丽希缇...
...,...,...,...,...,...,...
195,0,寡狗,看过,推荐,2020-11-16 01:19:59,正因为有人能不顾生命安全也要去超越那些被人认为不可能的事，才是人类最伟大的特质，男主一度被老...
196,1,sickboy,看过,推荐,2019-12-17 10:08:35,電影院
197,0,球场终结者行云,看过,推荐,2020-11-13 19:13:10,3.5星。周五下午在一个银幕脏兮兮环境像80年代录像厅般的效区影院看的（20元票价还要啥自行...
198,0,基瑞尔,看过,推荐,2019-12-20 12:32:12,大概是Amazon命中无“爆”运，其实是故事振奋人心也足够在视觉上达到出色的电影，但却再次沦...
199,1,一个裤头的诞生,看过,还行,2020-01-01 22:52:59,埃迪和菲丽希缇两位几乎成了传记片专业户，表演还是发挥稳定的，片尾曲 Home To You ...

In [57]:
def print_two(*args):
    arg1,arg2=args
    print(f"arg1: {arg1},arg2:{arg2}")

In [58]:
filename='Desktop/sample.txt'

In [59]:
txt=open(filename)

In [60]:
print(f"Here is my file: {filename}")

Here is my file: Desktop/sample.txt

In [61]:
txt.close()

In [62]:
target=open(filename,'w')

In [63]:
print("Truncating the file.")

Truncating the file.

In [64]:
line1=input()
line2=input()

 1
 1

In [65]:
target.write(line1)

1

In [66]:
target.write("/n")

2

In [67]:
target.write(line2)

1

In [68]:
target.write("/n")

2

In [69]:
target.close()

In [70]:
a=10
b=15
c=20

In [71]:
if a>b:
    print("I love you")

In [72]:
if a<b:
    print("I hate you!")

I hate you!

In [73]:
if b>c:
    print("1")
else:
    print("2")

2

In [74]:
if b<c:
    print("5")
else:
    print("4")

5

In [75]:
1==2

False

In [76]:
2==2

True

In [77]:
var1='Hello my girl'
var2='rush my girl'

In [78]:
print(type(var1))

<class 'str'>

In [79]:
print(len(var1))

13

In [80]:
print("var1[0]:",var1[0])

var1[0]: H

In [81]:
print("var2[1:5]:",var2[1:5])

var2[1:5]: ush

In [82]:
name="XinYI"

In [83]:
print(f"My name is {name}")

My name is XinYI

In [84]:
sentence='Hello my girl'

In [85]:
print(sentence.capitalize())

Hello my girl

In [86]:
print(sentence.upper())

HELLO MY GIRL

In [87]:
print(sentence.title())

Hello My Girl

In [88]:
a=10
def test():
    a=a+1

In [89]:
print(a)

10

In [90]:
colors=['red','green','blue','yellow']

In [91]:
print(type(colors))

<class 'list'>

In [92]:
colors

['red', 'green', 'blue', 'yellow']

In [93]:
print(colors[0])

red

In [94]:
print(colors[1])

green

In [95]:
print(colors[3])

yellow

In [96]:
numbers=[0,10,20,30]

In [97]:
print(type(numbers))

<class 'list'>

In [98]:
numbers

[0, 10, 20, 30]

In [99]:
print(numbers[0])

0

In [100]:
print(numbers[2])

20

In [101]:
print(numbers[1:2])

[10]

In [102]:
print(numbers[3:])

[30]

In [103]:
del numbers[1]

In [104]:
numbers.remove(0)

In [105]:
numbers

[20, 30]

In [106]:
a=[1,2,3,4,5,6,7,8]

In [107]:
print(len(a))

8

In [108]:
print(max(a))

8

In [109]:
print(min(a))

1

In [110]:
a.sort()

In [111]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [112]:
a.reverse()

In [113]:
print(a)

[8, 7, 6, 5, 4, 3, 2, 1]

In [114]:
a.clear()

In [115]:
print(a)

[]

In [116]:
def add(x,y):
    return x+y

In [117]:
add(2,3)

5

In [118]:
import random

In [119]:
random.choice(['apple','pear','banana'])

'banana'

In [120]:
random.random()

0.14871095805534995

In [121]:
import statistics
data=[1,2,3,4,5,6,7]

In [122]:
statistics.mean(data)

4

In [123]:
statistics.median(data)

4

In [124]:
statistics.variance(data)

4.666666666666667

In [125]:
pip install you-get

Requirement already satisfied: you-get in c:\users\hp\anaconda3\lib\site-packages (0.4.1488)
Note: you may need to restart the kernel to use updated packages.

In [126]:
import altair as alt

In [127]:
from vega_datasets import data

In [128]:
source=alt.topo_feature(data.world_110m.url,'countries')

In [129]:
import altair as alt
from vega_datasets import data

source=alt.topo_feature(data.world_110m.url,'countries')

base = alt.Chart(source).mark_geoshape(
    fill='#666666',
    stroke='white'
).properties(
    width=300,
    height=180
)

projections=['equirectangular','mercator','orthographic','gnomonic']
charts = [base.project(proj).properties(title=proj)
          for proj in projections]

alt.concat(*charts,columns=2)

alt.ConcatChart(...)

In [130]:
import altair as alt
from vega_datasets import data

source=data.cars()

alt.Chart(source).mark_circle(size=60).encode(
    x='Horsepower',
    y='Miles_per_Gallon',
    color='Origin',
    tooltip=['Name','Origin','Horsepower','Miles_per_Gallon']
).interactive()

alt.Chart(...)

In [131]:
import pandas as pd

In [132]:
csv

,votes,name,seen,star,date,text
0,260,____anybody,看过,推荐,2019-09-11 04:49:11,没错，在影片的前中后，我的菊花分别为剧情紧了三次。
1,116,瓦力,看过,推荐,2019-12-08 15:27:16,“霍金夫妇”的天空大冒险...本片可与《搏击太空》、《登月第一人》组成“人类升空进击三部曲”...
2,214,Maggie_in_LA,看过,还行,2019-10-08 15:41:00,这个片子虽然有的情节惊心动魄，画面也很美，但全程其实挺可笑的。看多了那种NASA在太空中的历...
3,185,花袭人,看过,还行,2019-12-12 18:58:00,在电影院看观感蛮好的，高空景致壮美，热气球独有的危险和挑战也挺抓人的，影片的长度跟热气球在空...
4,111,HarperDie,看过,推荐,2019-09-20 13:39:13,我相信埃迪·雷德梅恩在接下这个本子的时候，就笃定了要与导演汤姆·哈伯一起成就第一主角菲丽希缇...
...,...,...,...,...,...,...
195,0,寡狗,看过,推荐,2020-11-16 01:19:59,正因为有人能不顾生命安全也要去超越那些被人认为不可能的事，才是人类最伟大的特质，男主一度被老...
196,1,sickboy,看过,推荐,2019-12-17 10:08:35,電影院
197,0,球场终结者行云,看过,推荐,2020-11-13 19:13:10,3.5星。周五下午在一个银幕脏兮兮环境像80年代录像厅般的效区影院看的（20元票价还要啥自行...
198,0,基瑞尔,看过,推荐,2019-12-20 12:32:12,大概是Amazon命中无“爆”运，其实是故事振奋人心也足够在视觉上达到出色的电影，但却再次沦...
199,1,一个裤头的诞生,看过,还行,2020-01-01 22:52:59,埃迪和菲丽希缇两位几乎成了传记片专业户，表演还是发挥稳定的，片尾曲 Home To You ...

In [133]:
basket=['apple','b','c']

In [134]:
numbers=list(range(3))

In [135]:
basket.append(numbers)

In [136]:
print(basket)

['apple', 'b', 'c', [0, 1, 2]]

In [137]:
def flat(l):
    f=[]
    for x in l:
        if type(x) is list:
            f.extend(x)
        else:
            f.append(x)
        return f

In [138]:
flat(basket)

['apple']

In [139]:
l=[1,2,3,4]
it=iter(l)

In [140]:
print(next(it))

1

In [141]:
print(next(it))

2

In [142]:
print(next(it))

3

In [143]:
print(next(it))

4

In [144]:
l=[1,2,3,4]
it=iter(l)
for x in it:
    print(x,end=" ")

1 2 3 4

In [145]:
def fibonacci(n):
    a,b,counter=0,1,0
    while True:
        if(counter>n):
            return
        yield a
        a,b=b,a+b
        counter+=1
f=fibonacci(10)

for x in f:
    print(x,end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [146]:
def add(x,y):
    return x+y

In [147]:
add(5,8)

13

In [148]:
add=lambda x,y:x+y

In [149]:
add(3,7)

10

In [150]:
a=filter(lambda x:x%2!=0,[1,2,3,4])
list(a)

[1, 3]

In [151]:
a=map(lambda x:x+10,[1,2,3,4])
list(a)

[11, 12, 13, 14]

In [152]:
from functools import reduce
reduce(lambda x,y:x+y,[1,2,3,4])

10

In [153]:
class Other(object):
    def override(self):
        print("OTHER override")

In [154]:
import os
os.getcwd()

'C:\\Users\\hp'

In [155]:
import glob
glob.glob('*.py')

[]

In [156]:
import sys
print(sys.argv)

['C:\\Users\\hp\\anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\hp\\AppData\\Roaming\\jupyter\\runtime\\kernel-cf2a2463-d1eb-446a-92f0-a39059942f50.json']

In [157]:
import math
math.cos(math.pi/4)

0.7071067811865476

In [158]:
math.log(1024,2)

10.0

In [159]:
math.tan(1)

1.5574077246549023

In [160]:
math.sin(1)

0.8414709848078965

In [161]:
import random

In [162]:
random.sample(range(100),10)

[10, 76, 9, 28, 60, 4, 37, 16, 57, 2]

In [163]:
random.randrange(6)

4

In [164]:
'a b c'.split(' ')

['a', 'b', 'c']

In [165]:
import re
re.match(r'\d{3}\-\d{3,8}$','010-12345')

In [166]:
re.split(r'\s+','a b c')

['a', 'b', 'c']

In [167]:
re.split(r'[\s\,]+','a,b,c')

['a', 'b', 'c']

In [168]:
re.split(r'[\s\,\;]+','a,b;;c d')

['a', 'b', 'c', 'd']

In [169]:
m=re.match(r'^(\d{3})-(\d{3,8})$','010-12345')

In [170]:
print(m)

<re.Match object; span=(0, 9), match='010-12345'>

In [171]:
print(m.group(0))

010-12345

In [172]:
print(m.group(1))

010

In [173]:
print(m.group(2))

12345

In [174]:
dict1={'a','b','c','d'}

In [175]:
print(type(dict1))

<class 'set'>

In [176]:
dict1={'a':'xi','b':'an'}

In [177]:
print(type(dict1))

<class 'dict'>

In [178]:
print("dict1['a']:",dict1['a'])

dict1['a']: xi

In [179]:
print("dict2['b']")

dict2['b']

In [180]:
print("dict1['b']:",dict1['b'])

dict1['b']: an

In [181]:
del dict1['a']

In [182]:
print(dict1)

{'b': 'an'}

In [183]:
dict1.clear()

In [184]:
print(dict1)

{}

In [185]:
a={'N':'ZHANG','A':23,'C':'First'}

In [186]:
print(a.keys())

dict_keys(['N', 'A', 'C'])

In [187]:
print(a.values())

dict_values(['ZHANG', 23, 'First'])

In [188]:
print(a.items())

dict_items([('N', 'ZHANG'), ('A', 23), ('C', 'First')])

In [189]:
print(a.fromkeys('abc',0))

{'a': 0, 'b': 0, 'c': 0}

In [190]:
2>1

True

In [191]:
10>11

False

In [192]:
stu_names=['a','b','c']

In [193]:
with open('Desktop/sample.txt','w') as txt:
    for name in stu_names:
        txt.write(f'{name} 签到！\n')

In [194]:
print(txt)

<_io.TextIOWrapper name='Desktop/sample.txt' mode='w' encoding='cp936'>

In [195]:
a=1
b=1

In [196]:
if a>b:
    print(a)

In [197]:
if a<b:
    print(1)
else:
    print('Happy birthday')

Happy birthday

In [198]:
print("it is so diffcult for me to study python")

it is so diffcult for me to study python

In [199]:
1==1

True

In [200]:
3>=0

True

In [201]:
1<=0

False

In [203]:
a=b=5

In [204]:
a

5

In [205]:
b

5

In [206]:
a=1
b=1
c=a+b

In [207]:
a

1

In [208]:
b

1

In [209]:
c

2