'E:\\python\\python.exe'

In [4]:
def print_two(*args):
    arg1=arg2=args
    print(f"arg1:{arg1},arg2:{arg2}")
def print_two_again(arg1,arg2):
    print(f"arg1:{arg1},arg2:{arg2}")
def print_one(arg1):
    print(f"arg1:{arg1}")
def print_none():
    print("I got nothin'.")
print_two("Zed","Shaw")
print_two_again("Zed","Shaw")
print_one("First!")
print_none()

arg1:('Zed', 'Shaw'),arg2:('Zed', 'Shaw')
arg1:Zed,arg2:Shaw
arg1:First!
I got nothin'.

In [5]:
def print_two(*args):
    arg1=arg2=args
    print(f"arg1:{arg1},arg2:{arg2}")
def print_two_again(arg1,arg2):
    print(f"arg1:{arg1},arg2:{arg2}")
def print_one(arg1):
    print(f"arg1:{arg1}")
def print_none():
    print("I got nothin'.")
print_two("Zed","Shaw")
print_two_again("Zed","Shaw")
print_one("First!")
print_none()

We can just give the function numbers directetly.
You have 20cheese!
You have30boxes of crackers!
Man that is enough for a party!
Get a blanket.

OR,we can use variables from our script.
You have 10cheese!
You have50boxes of crackers!
Man that is enough for a party!
Get a blanket.

We can even do math inside too:
You have 30cheese!
You have11boxes of crackers!
Man that is enough for a party!
Get a blanket.

And we can combine the two,variables and math:
You have 110cheese!
You have1050boxes of crackers!
Man that is enough for a party!
Get a blanket.

In [2]:
class Other(object):
    def override(self):
        print("OTHER override()")
    def implicit(self):
        print("OTHER implicit()")
    def altered(self):
        print("OTHER altered()")
        
class Child(object):
    def __init__(self): 
        self.other = Other()
    def implicit(self): 
        self.other.implicit()
    def override(self): 
        print("CHILD override()")
    def altered(self):
        print("CHILD, BEFORE OTHER altered()") 
        self.other.altered()
        print("CHILD, AFTER OTHER altered()")
        
son=Child()
son.implicit()
son.override()
son.altered()

OTHER implicit()
CHILD override()
CHILD, BEFORE OTHER altered()
OTHER altered()
CHILD, AFTER OTHER altered()

In [ ]:
age=input("Please enter your age:")
print("hello,"+age+"!")

练习

In [ ]:
print("new homework")

In [2]:

current_number=1
while current_number<=10:
    print(current_number)
    current_number+=1

1
2
3
4
5
6
7
8
9
10

In [3]:

current_number=1
while current_number<=200:
    print(current_number)
    current_number+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

In [1]:
n=100

sum=0
counter=1
while counter<=n:
    sum=sum+counter
    counter+=1
    print("1到%d 之和为：%d "%(n,sum))

1到100 之和为：1
1到100 之和为：3
1到100 之和为：6
1到100 之和为：10
1到100 之和为：15
1到100 之和为：21
1到100 之和为：28
1到100 之和为：36
1到100 之和为：45
1到100 之和为：55
1到100 之和为：66
1到100 之和为：78
1到100 之和为：91
1到100 之和为：105
1到100 之和为：120
1到100 之和为：136
1到100 之和为：153
1到100 之和为：171
1到100 之和为：190
1到100 之和为：210
1到100 之和为：231
1到100 之和为：253
1到100 之和为：276
1到100 之和为：300
1到100 之和为：325
1到100 之和为：351
1到100 之和为：378
1到100 之和为：406
1到100 之和为：435
1到100 之和为：465
1到100 之和为：496
1到100 之和为：528
1到100 之和为：561
1到100 之和为：595
1到100 之和为：630
1到100 之和为：666
1到100 之和为：703
1到100 之和为：741
1到100 之和为：780
1到100 之和为：820
1到100 之和为：861
1到100 之和为：903
1到100 之和为：946
1到100 之和为：990
1到100 之和为：1035
1到100 之和为：1081
1到100 之和为：1128
1到100 之和为：1176
1到100 之和为：1225
1到100 之和为：1275
1到100 之和为：1326
1到100 之和为：1378
1到100 之和为：1431
1到100 之和为：1485
1到100 之和为：1540
1到100 之和为：1596
1到100 之和为：1653
1到100 之和为：1711
1到100 之和为：1770
1到100 之和为：1830
1到100 之和为：1891
1到100 之和为：1953
1到100 之和为：2016
1到100 之和为：2080
1到100 之和为：2145
1到100 之和为：2211
1到100 之和为：2278
1到100 之和为：2346
1到100 之和为：2415
1到100 之和为：2485
1到100 之和为：2556
1到100 之和为：2628
1到100 之和为：2701
1到100 之和为：2775
1到100 之和为：2850
1到100 之和为：2926
1到100 之和为：3003
1到100 之和为：3081
1到100 之和为：3160
1到100 之和为：3240
1到100 之和为：3321
1到100 之和为：3403
1到100 之和为：3486
1到100 之和为：3570
1到100 之和为：3655
1到100 之和为：3741
1到100 之和为：3828
1到100 之和为：3916
1到100 之和为：4005
1到100 之和为：4095
1到100 之和为：4186
1到100 之和为：4278
1到100 之和为：4371
1到100 之和为：4465
1到100 之和为：4560
1到100 之和为：4656
1到100 之和为：4753
1到100 之和为：4851
1到100 之和为：4950
1到100 之和为：5050

In [2]:
n=300

sum=0
counter=1
while counter<=n:
    sum=sum+counter
    counter+=1
    print("1到%d 之和为：%d "%(n,sum))

1到300 之和为：1
1到300 之和为：3
1到300 之和为：6
1到300 之和为：10
1到300 之和为：15
1到300 之和为：21
1到300 之和为：28
1到300 之和为：36
1到300 之和为：45
1到300 之和为：55
1到300 之和为：66
1到300 之和为：78
1到300 之和为：91
1到300 之和为：105
1到300 之和为：120
1到300 之和为：136
1到300 之和为：153
1到300 之和为：171
1到300 之和为：190
1到300 之和为：210
1到300 之和为：231
1到300 之和为：253
1到300 之和为：276
1到300 之和为：300
1到300 之和为：325
1到300 之和为：351
1到300 之和为：378
1到300 之和为：406
1到300 之和为：435
1到300 之和为：465
1到300 之和为：496
1到300 之和为：528
1到300 之和为：561
1到300 之和为：595
1到300 之和为：630
1到300 之和为：666
1到300 之和为：703
1到300 之和为：741
1到300 之和为：780
1到300 之和为：820
1到300 之和为：861
1到300 之和为：903
1到300 之和为：946
1到300 之和为：990
1到300 之和为：1035
1到300 之和为：1081
1到300 之和为：1128
1到300 之和为：1176
1到300 之和为：1225
1到300 之和为：1275
1到300 之和为：1326
1到300 之和为：1378
1到300 之和为：1431
1到300 之和为：1485
1到300 之和为：1540
1到300 之和为：1596
1到300 之和为：1653
1到300 之和为：1711
1到300 之和为：1770
1到300 之和为：1830
1到300 之和为：1891
1到300 之和为：1953
1到300 之和为：2016
1到300 之和为：2080
1到300 之和为：2145
1到300 之和为：2211
1到300 之和为：2278
1到300 之和为：2346
1到300 之和为：2415
1到300 之和为：2485
1到300 之和为：2556
1到300 之和为：2628
1到300 之和为：2701
1到300 之和为：2775
1到300 之和为：2850
1到300 之和为：2926
1到300 之和为：3003
1到300 之和为：3081
1到300 之和为：3160
1到300 之和为：3240
1到300 之和为：3321
1到300 之和为：3403
1到300 之和为：3486
1到300 之和为：3570
1到300 之和为：3655
1到300 之和为：3741
1到300 之和为：3828
1到300 之和为：3916
1到300 之和为：4005
1到300 之和为：4095
1到300 之和为：4186
1到300 之和为：4278
1到300 之和为：4371
1到300 之和为：4465
1到300 之和为：4560
1到300 之和为：4656
1到300 之和为：4753
1到300 之和为：4851
1到300 之和为：4950
1到300 之和为：5050
1到300 之和为：5151
1到300 之和为：5253
1到300 之和为：5356
1到300 之和为：5460
1到300 之和为：5565
1到300 之和为：5671
1到300 之和为：5778
1到300 之和为：5886
1到300 之和为：5995
1到300 之和为：6105
1到300 之和为：6216
1到300 之和为：6328
1到300 之和为：6441
1到300 之和为：6555
1到300 之和为：6670
1到300 之和为：6786
1到300 之和为：6903
1到300 之和为：7021
1到300 之和为：7140
1到300 之和为：7260
1到300 之和为：7381
1到300 之和为：7503
1到300 之和为：7626
1到300 之和为：7750
1到300 之和为：7875
1到300 之和为：8001
1到300 之和为：8128
1到300 之和为：8256
1到300 之和为：8385
1到300 之和为：8515
1到300 之和为：8646
1到300 之和为：8778
1到300 之和为：8911
1到300 之和为：9045
1到300 之和为：9180
1到300 之和为：9316
1到300 之和为：9453
1到300 之和为：9591
1到300 之和为：9730
1到300 之和为：9870
1到300 之和为：10011
1到300 之和为：10153
1到300 之和为：10296
1到300 之和为：10440
1到300 之和为：10585
1到300 之和为：10731
1到300 之和为：10878
1到300 之和为：11026
1到300 之和为：11175
1到300 之和为：11325
1到300 之和为：11476
1到300 之和为：11628
1到300 之和为：11781
1到300 之和为：11935
1到300 之和为：12090
1到300 之和为：12246
1到300 之和为：12403
1到300 之和为：12561
1到300 之和为：12720
1到300 之和为：12880
1到300 之和为：13041
1到300 之和为：13203
1到300 之和为：13366
1到300 之和为：13530
1到300 之和为：13695
1到300 之和为：13861
1到300 之和为：14028
1到300 之和为：14196
1到300 之和为：14365
1到300 之和为：14535
1到300 之和为：14706
1到300 之和为：14878
1到300 之和为：15051
1到300 之和为：15225
1到300 之和为：15400
1到300 之和为：15576
1到300 之和为：15753
1到300 之和为：15931
1到300 之和为：16110
1到300 之和为：16290
1到300 之和为：16471
1到300 之和为：16653
1到300 之和为：16836
1到300 之和为：17020
1到300 之和为：17205
1到300 之和为：17391
1到300 之和为：17578
1到300 之和为：17766
1到300 之和为：17955
1到300 之和为：18145
1到300 之和为：18336
1到300 之和为：18528
1到300 之和为：18721
1到300 之和为：18915
1到300 之和为：19110
1到300 之和为：19306
1到300 之和为：19503
1到300 之和为：19701
1到300 之和为：19900
1到300 之和为：20100
1到300 之和为：20301
1到300 之和为：20503
1到300 之和为：20706
1到300 之和为：20910
1到300 之和为：21115
1到300 之和为：21321
1到300 之和为：21528
1到300 之和为：21736
1到300 之和为：21945
1到300 之和为：22155
1到300 之和为：22366
1到300 之和为：22578
1到300 之和为：22791
1到300 之和为：23005
1到300 之和为：23220
1到300 之和为：23436
1到300 之和为：23653
1到300 之和为：23871
1到300 之和为：24090
1到300 之和为：24310
1到300 之和为：24531
1到300 之和为：24753
1到300 之和为：24976
1到300 之和为：25200
1到300 之和为：25425
1到300 之和为：25651
1到300 之和为：25878
1到300 之和为：26106
1到300 之和为：26335
1到300 之和为：26565
1到300 之和为：26796
1到300 之和为：27028
1到300 之和为：27261
1到300 之和为：27495
1到300 之和为：27730
1到300 之和为：27966
1到300 之和为：28203
1到300 之和为：28441
1到300 之和为：28680
1到300 之和为：28920
1到300 之和为：29161
1到300 之和为：29403
1到300 之和为：29646
1到300 之和为：29890
1到300 之和为：30135
1到300 之和为：30381
1到300 之和为：30628
1到300 之和为：30876
1到300 之和为：31125
1到300 之和为：31375
1到300 之和为：31626
1到300 之和为：31878
1到300 之和为：32131
1到300 之和为：32385
1到300 之和为：32640
1到300 之和为：32896
1到300 之和为：33153
1到300 之和为：33411
1到300 之和为：33670
1到300 之和为：33930
1到300 之和为：34191
1到300 之和为：34453
1到300 之和为：34716
1到300 之和为：34980
1到300 之和为：35245
1到300 之和为：35511
1到300 之和为：35778
1到300 之和为：36046
1到300 之和为：36315
1到300 之和为：36585
1到300 之和为：36856
1到300 之和为：37128
1到300 之和为：37401
1到300 之和为：37675
1到300 之和为：37950
1到300 之和为：38226
1到300 之和为：38503
1到300 之和为：38781
1到300 之和为：39060
1到300 之和为：39340
1到300 之和为：39621
1到300 之和为：39903
1到300 之和为：40186
1到300 之和为：40470
1到300 之和为：40755
1到300 之和为：41041
1到300 之和为：41328
1到300 之和为：41616
1到300 之和为：41905
1到300 之和为：42195
1到300 之和为：42486
1到300 之和为：42778
1到300 之和为：43071
1到300 之和为：43365
1到300 之和为：43660
1到300 之和为：43956
1到300 之和为：44253
1到300 之和为：44551
1到300 之和为：44850
1到300 之和为：45150

In [3]:
#3的倍数
numbers=[]
for value in range(3,31,3):
    print(value)

3
6
9
12
15
18
21
24
27
30

In [4]:
#4的倍数
numbers=[]
for value in range(3,31,3):
    print(value)

3
6
9
12
15
18
21
24
27
30

In [6]:
#5的倍数
numbers=[]
for value in range(3,31,3):
    print(value)

3
6
9
12
15
18
21
24
27
30

In [7]:
#立方
squares=[]
for value in range(1,11):
    squares.append(value*2**3)
    
    print(squares)

[8]
[8, 16]
[8, 16, 24]
[8, 16, 24, 32]
[8, 16, 24, 32, 40]
[8, 16, 24, 32, 40, 48]
[8, 16, 24, 32, 40, 48, 56]
[8, 16, 24, 32, 40, 48, 56, 64]
[8, 16, 24, 32, 40, 48, 56, 64, 72]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

In [8]:
#立方
squares=[]
for value in range(1,20):
    squares.append(value*2**3)
    
    print(squares)

[8]
[8, 16]
[8, 16, 24]
[8, 16, 24, 32]
[8, 16, 24, 32, 40]
[8, 16, 24, 32, 40, 48]
[8, 16, 24, 32, 40, 48, 56]
[8, 16, 24, 32, 40, 48, 56, 64]
[8, 16, 24, 32, 40, 48, 56, 64, 72]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152]

In [9]:

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
print(list(enumerate(basket)))
for i, v in enumerate(basket):
    print(f'{i}{"-"*10}{v}')

[(0, 'apple'), (1, 'orange'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------orange
2----------apple
3----------pear
4----------orange
5----------banana

In [10]:

basket = ['apple', 'pink', 'apple', 'pear', 'orange', 'banana']
print(list(enumerate(basket)))
for i, v in enumerate(basket):
    print(f'{i}{"-"*10}{v}')

[(0, 'apple'), (1, 'pink'), (2, 'apple'), (3, 'pear'), (4, 'orange'), (5, 'banana')]
0----------apple
1----------pink
2----------apple
3----------pear
4----------orange
5----------banana

In [11]:
r1 = range(10)
r2 = range(10,20)
for i,j in zip(r1,r2):
    print(f'{i}*{j} is {i * j}')

0*10 is 0
1*11 is 11
2*12 is 24
3*13 is 39
4*14 is 56
5*15 is 75
6*16 is 96
7*17 is 119
8*18 is 144
9*19 is 171

In [12]:
r1 = range(15)
r2 = range(15,30)
for i,j in zip(r1,r2):
    print(f'{i}*{j} is {i * j}')

0*15 is 0
1*16 is 16
2*17 is 34
3*18 is 54
4*19 is 76
5*20 is 100
6*21 is 126
7*22 is 154
8*23 is 184
9*24 is 216
10*25 is 250
11*26 is 286
12*27 is 324
13*28 is 364
14*29 is 406

In [17]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [18]:
args = [*range(20), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 'Hello', 'World']
0_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_Hello_World

In [19]:
import numpy as np 
a = [5,6,16,9]
np.mean(a)

9.0

In [20]:
import numpy as np 
a = [14,6,16,9]
np.mean(a)

11.25

In [21]:
np.average(a,weights=[1,2,1,1])

10.2

In [23]:
num1 = input('输入第一个数字：')
num2 = input('输入第二个数字：')
sum = float(num1) + float(num2)
print('数字 {0} 和 {1} 相加结果为： {2}'.format(num1, num2, sum))

输入第一个数字： 55
输入第二个数字： 1078

数字 55 和 1078 相加结果为： 1133.0

In [25]:
def findArea(r):
    PI = 3.142
    return PI * (r*r)
print("圆的面积为 %.3f" % findArea(float(input())))

 4

圆的面积为 50.272

In [1]:
# 用户输入数字
num1 = input('输入第一个数字：')
num2 = input('输入第二个数字：')
 
# 求和
sum = float(num1) + float(num2)
 
# 显示计算结果
print('数字 {0} 和 {1} 相加结果为： {2}'.format(num1, num2, sum))

输入第一个数字： 34
输入第二个数字： 35

数字 34 和 35 相加结果为： 69.0

In [2]:
print('两数之和为 %.1f' %(float(input('输入第一个数字：'))+float(input('输入第二个数字：'))))

输入第一个数字： 456
输入第二个数字： 376

两数之和为 832.0

In [3]:
num = float(input('请输入一个数字： '))
num_sqrt = num ** 0.5
print(' %0.3f 的平方根为 %0.3f'%(num ,num_sqrt))

请输入一个数字：  6

 6.000 的平方根为 2.449

In [4]:
x = input('输入 x 值: ')
y = input('输入 y 值: ')
 
# 创建临时变量，并交换
temp = x
x = y
y = temp
 
print('交换后 x 的值为: {}'.format(x))
print('交换后 y 的值为: {}'.format(y))

输入 x 值:  4
输入 y 值:  45

交换后 x 的值为: 45
交换后 y 的值为: 4

In [5]:
# 最简单的
print(max(1, 2))
print(max('a', 'b'))
 
# 也可以对列表和元组使用
print(max([1,2]))
print(max((1,2)))
 
# 更多实例
print("80, 100, 1000 最大值为: ", max(80, 100, 1000))
print("-20, 100, 400最大值为: ", max(-20, 100, 400))
print("-80, -20, -10最大值为: ", max(-80, -20, -10))
print("0, 100, -400最大值为:", max(0, 100, -400))

2
b
2
2
80, 100, 1000 最大值为:  1000
-20, 100, 400最大值为:  400
-80, -20, -10最大值为:  -10
0, 100, -400最大值为: 100

In [6]:
a = float(input('输入三角形第一边长: '))
b = float(input('输入三角形第二边长: '))
c = float(input('输入三角形第三边长: '))
 
# 计算半周长
s = (a + b + c) / 2
 
# 计算面积
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('三角形面积为 %0.2f' %area)

输入三角形第一边长:  6
输入三角形第二边长:  3
输入三角形第三边长:  3

三角形面积为 0.00

In [7]:

# 定义一个函数
def hcf(x, y):
   """该函数返回两个数的最大公约数"""
 
   # 获取最小值
   if x > y:
       smaller = y
   else:
       smaller = x
 
   for i in range(1,smaller + 1):
       if((x % i == 0) and (y % i == 0)):
           hcf = i
 
   return hcf
 
 
# 用户输入两个数字
num1 = int(input("输入第一个数字: "))
num2 = int(input("输入第二个数字: "))
 
print( num1,"和", num2,"的最大公约数为", hcf(num1, num2))

输入第一个数字:  56
输入第二个数字:  45

56 和 45 的最大公约数为 1

In [8]:
def leftRotate(arr, d, n):
    for i in range(d):
        leftRotatebyOne(arr, n)
def leftRotatebyOne(arr, n):
    temp = arr[0]
    for i in range(n-1):
        arr[i] = arr[i+1]
    arr[n-1] = temp
         
 
def printArray(arr,size):
    for i in range(size):
        print ("%d"% arr[i],end=" ")
 

arr = [1, 2, 3, 4, 5, 6, 7]
leftRotate(arr, 2, 7)
printArray(arr, 7)

3 4 5 6 7 1 2

In [9]:
def leftRotate(arr, d, n):
    for i in range(gcd(d,n)):
         
        temp = arr[i]
        j = i
        while 1:
            k = j + d
            if k >= n:
                k = k - n
            if k == i:
                break
            arr[j] = arr[k]
            j = k
        arr[j] = temp

def printArray(arr, size):
    for i in range(size):
        print ("%d" % arr[i], end=" ")

def gcd(a, b):
    if b == 0:
        return a;
    else:
        return gcd(b, a%b)

arr = [1, 2, 3, 4, 5, 6, 7]
leftRotate(arr, 2, 7)
printArray(arr, 7)

3 4 5 6 7 1 2

In [10]:

#!/usr/bin/python3
 
year = int(input('year:\n'))
month = int(input('month:\n'))
day = int(input('day:\n'))
 
months = (0,31,59,90,120,151,181,212,243,273,304,334)
if 0 < month <= 12:
    sum = months[month - 1]
else:
    print ('data error')
sum += day
leap = 0
if (year % 400 == 0) or ((year % 4 == 0) and (year % 100 != 0)):
    leap = 1
if (leap == 1) and (month > 2):
    sum += 1
print ('it is the %dth day.' % sum)

year:
 1997
month:
 9
day:
 1

it is the 244th day.

In [11]:

#!/usr/bin/python3
 
l = []
for i in range(3):
    x = int(input('integer:\n'))
    l.append(x)
l.sort()
print (l)

integer:
 1
integer:
 1
integer:
 2

[1, 1, 2]

In [12]:

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def fib(n):
    a,b = 1,1
    for i in range(n-1):
        a,b = b,a+b
    return a
 
# 输出了第10个斐波那契数列
print (fib(10))

55