In [1]:
pip install altair vega_datasets

Requirement already satisfied: altair in d:\software\acaconda\lib\site-packages (4.1.0)
Collecting vega_datasets
  Downloading https://files.pythonhosted.org/packages/e6/9f/ca52771fe972e0dcc5167fedb609940e01516066938ff2ee28b273ae4f29/vega_datasets-0.9.0-py3-none-any.whl (210kB)
Requirement already satisfied: pandas>=0.18 in d:\software\acaconda\lib\site-packages (from altair) (0.25.1)
Requirement already satisfied: jinja2 in d:\software\acaconda\lib\site-packages (from altair) (2.10.3)
Requirement already satisfied: numpy in d:\software\acaconda\lib\site-packages (from altair) (1.16.5)
Requirement already satisfied: jsonschema in d:\software\acaconda\lib\site-packages (from altair) (3.0.2)
Requirement already satisfied: entrypoints in d:\software\acaconda\lib\site-packages (from altair) (0.3)
Requirement already satisfied: toolz in d:\software\acaconda\lib\site-packages (from altair) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in d:\software\acaconda\lib\site-packages (from pandas>=0.18->altair) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in d:\software\acaconda\lib\site-packages (from pandas>=0.18->altair) (2.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in d:\software\acaconda\lib\site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: six>=1.11.0 in d:\software\acaconda\lib\site-packages (from jsonschema->altair) (1.12.0)
Requirement already satisfied: pyrsistent>=0.14.0 in d:\software\acaconda\lib\site-packages (from jsonschema->altair) (0.15.4)
Requirement already satisfied: attrs>=17.4.0 in d:\software\acaconda\lib\site-packages (from jsonschema->altair) (19.2.0)
Requirement already satisfied: setuptools in d:\software\acaconda\lib\site-packages (from jsonschema->altair) (41.4.0)
Installing collected packages: vega-datasets
Successfully installed vega-datasets-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
you-get 'https://www.bilibili.com/video/BV1Li4y1g7r2?spm_id_from=333.851.b_62696c695f7265706f72745f646f756761.18'

SyntaxError: invalid syntax (<ipython-input-2-b3ec1d8636c6>, line 1)

In [2]:
%%
pip install you-get

UsageError: Cell magic `%%mp3` not found.

In [1]:
you-get 'https://www.bilibili.com/video/BV1FV411d7u7'

SyntaxError: invalid syntax (<ipython-input-1-d25be266dbc1>, line 1)

In [3]:
import altair as alt
from vega_datasets import data

source = alt.topo_feature(data.world_110m.url, 'countries')

base = alt.Chart(source).mark_geoshape(
    fill='#666666',
    stroke='white'
).properties(
    width=300,
    height=180
)

projections = ['equirectangular', 'mercator', 'orthographic', 'gnomonic']
charts = [base.project(proj).properties(title=proj)
          for proj in projections]

alt.concat(*charts, columns=2)

alt.ConcatChart(...)

In [4]:
import altair as alt
from vega_datasets import data

source = data.cars()

alt.Chart(source).mark_circle(size=60).encode(
    x='Horsepower',
    y='Miles_per_Gallon',
    color='Origin',
    tooltip=['Name', 'Origin', 'Horsepower', 'Miles_per_Gallon']
).interactive()

alt.Chart(...)

In [8]:
you-get 'https://www.bilibili.com/video/BV1FV411d7u7'

SyntaxError: invalid syntax (<ipython-input-8-d25be266dbc1>, line 1)

In [9]:
pip install pyecharts

Requirement already satisfied: pyecharts in d:\software\acaconda\lib\site-packages (1.9.0)
Requirement already satisfied: simplejson in d:\software\acaconda\lib\site-packages (from pyecharts) (3.17.2)
Requirement already satisfied: prettytable in d:\software\acaconda\lib\site-packages (from pyecharts) (2.0.0)
Requirement already satisfied: jinja2 in d:\software\acaconda\lib\site-packages (from pyecharts) (2.10.3)
Requirement already satisfied: wcwidth in d:\software\acaconda\lib\site-packages (from prettytable->pyecharts) (0.1.7)
Requirement already satisfied: setuptools in d:\software\acaconda\lib\site-packages (from prettytable->pyecharts) (41.4.0)
Requirement already satisfied: MarkupSafe>=0.23 in d:\software\acaconda\lib\site-packages (from jinja2->pyecharts) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyecharts.globals import CurrentConfig, NotebookType
CurrentConfig.NOTEBOOK_TYPE = NotebookType.JUPYTER_LAB

from pyecharts.charts import Bar
from pyecharts import options as opts
#  pyecharts.globals.ThemeType
from pyecharts.globals import ThemeType

bar = (
    Bar(init_opts=opts.InitOpts(theme=ThemeType.LIGHT))
    .add_xaxis(["", "", "", "", "", ""])
    .add_yaxis("A", [5, 20, 36, 10, 75, 90])
    .add_yaxis("B", [15, 6, 45, 20, 35, 66])
    .set_global_opts(title_opts=opts.TitleOpts(title="", subtitle=""))
)
bar.load_javascript()
bar.render_notebook()

In [2]:
def print_two(*args):
    arg1, arg2 = args
    print(f"arg1: {arg1}, arg2: {arg2}")
# *  f{arg1}

def print_two_again(arg1, arg2):
    print(f"arg1: {arg1}, arg2: {arg2}")
    
def print_one(arg1):
    print(f"arg1: {arg1}")
    
print_two("a", "b")
print_two_again("c", "d")
print_one("e")

arg1: a, arg2: b
arg1: c, arg2: d
arg1: e

In [4]:
def cheese_and_crackers(cheese_count, boxes_of_crackers):
    print(f"you have {cheese_count} cheeses!")
    print(f"you have {boxes_of_crackers} boxes of crackers!")
    print("man that's enough for a party!")
    print("get a blanket. \n")

print("we can just give the function numbers directly:")
cheese_and_crackers(20, 30)

we can just give the function numbers directly:
you have 20 cheeses!
you have 30 boxes of crackers!
man that's enough for a party!
get a blanket.

In [5]:
print("or, we can use variables from our script:")
amount_of_cheese = 10
amount_of_crackers = 50
cheese_and_crackers(amount_of_cheese, amount_of_crackers)

or, we can use variables from our script:
you have 10 cheeses!
you have 50 boxes of crackers!
man that's enough for a party!
get a blanket.

In [6]:
print("we can even do math inside too :")
cheese_and_crackers(10+20, 5+6)

we can even do math inside too :
you have 30 cheeses!
you have 11 boxes of crackers!
man that's enough for a party!
get a blanket.

In [7]:
print("and we can combine the two, variables and math:")
cheese_and_crackers(amount_of_cheese+100, amount_of_crackers+2000)

and we can combine the two, variables and math:
you have 110 cheeses!
you have 2050 boxes of crackers!
man that's enough for a party!
get a blanket.

In [8]:
pip install numpy

Requirement already satisfied: numpy in d:\software\acaconda\lib\site-packages (1.16.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
a = np.array([1,2,3])  
print (a)

[1 2 3]

In [2]:
import numpy as np 
a = np.array([[1,  2],  [3,  4]])  
print (a)

[[1 2]
 [3 4]]

In [3]:
import numpy as np 
a = np.array([1,  2,  3,4,5], ndmin =  2)  
print (a)

[[1 2 3 4 5]]

In [4]:
import numpy as np 
a = np.array([1,  2,  3], dtype = complex)  
print (a)

[1.+0.j 2.+0.j 3.+0.j]

In [5]:
import numpy as np
# 
dt = np.dtype(np.int32)
print(dt)

int32

In [6]:
import numpy as np
# int8, int16, int32, int64  'i1', 'i2','i4','i8' 
dt = np.dtype('i4')
print(dt)

int32

In [7]:
import numpy as np
# 
dt = np.dtype('<i4')
print(dt)

int32

In [8]:
import numpy as np
dt = np.dtype([('age',np.int8)]) 
print(dt)

[('age', 'i1')]

In [9]:
import numpy as np
dt = np.dtype([('age',np.int8)]) 
a = np.array([(10,),(20,),(30,)], dtype = dt) 
print(a)

[(10,) (20,) (30,)]

In [10]:
import numpy as np
dt = np.dtype([('age',np.int8)]) 
a = np.array([(10,),(20,),(30,)], dtype = dt) 
print(a['age'])

[10 20 30]

In [11]:
import numpy as np
student = np.dtype([('name','S20'), ('age', 'i1'), ('marks', 'f4')]) 
print(student)

[('name', 'S20'), ('age', 'i1'), ('marks', '<f4')]

In [12]:
import numpy as np
student = np.dtype([('name','S20'), ('age', 'i1'), ('marks', 'f4')]) 
a = np.array([('abc', 21, 50),('xyz', 18, 75)], dtype = student) 
print(a)

[(b'abc', 21, 50.) (b'xyz', 18, 75.)]

In [13]:
import numpy as np 
 
a = np.arange(24)  
print (a.ndim)             # a 
# 
b = a.reshape(2,4,3)  # b 
print (b.ndim)

1
3

In [14]:
import numpy as np  
 
a = np.array([[1,2,3],[4,5,6]])  
print (a.shape)

(2, 3)

In [15]:
import numpy as np 
 
a = np.array([[1,2,3],[4,5,6]]) 
a.shape =  (3,2)  
print (a)

[[1 2]
 [3 4]
 [5 6]]

In [16]:
import numpy as np 
 
a = np.array([[1,2,3],[4,5,6]]) 
b = a.reshape(3,2)  
print (b)

[[1 2]
 [3 4]
 [5 6]]

In [17]:
import numpy as np 
 
#  dtype  int8  
x = np.array([1,2,3,4,5], dtype = np.int8)  
print (x.itemsize)
 
#  dtype  float64 
y = np.array([1,2,3,4,5], dtype = np.float64)  
print (y.itemsize)

1
8

In [18]:
import numpy as np 
 
x = np.array([1,2,3,4,5])  
print (x.flags)

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : True
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [19]:
import numpy as np 
x = np.empty([3,2], dtype = int) 
print (x)

[[1 2]
 [3 4]
 [5 6]]

In [20]:
import numpy as np
 
# 
x = np.zeros(5) 
print(x)
 
# 
y = np.zeros((5,), dtype = np.int) 
print(y)
 
# 
z = np.zeros((2,2), dtype = [('x', 'i4'), ('y', 'i4')])  
print(z)

[0. 0. 0. 0. 0.]
[0 0 0 0 0]
[[(0, 0) (0, 0)]
 [(0, 0) (0, 0)]]

In [21]:
import numpy as np
 
# 
x = np.ones(5) 
print(x)
 
# 
x = np.ones([2,2], dtype = int)
print(x)

[1. 1. 1. 1. 1.]
[[1 1]
 [1 1]]

In [22]:
import numpy as np 
 
x =  [1,2,3] 
a = np.asarray(x)  
print (a)

[1 2 3]

In [23]:
import numpy as np 
 
x =  (1,2,3) 
a = np.asarray(x)  
print (a)

[1 2 3]

In [24]:
import numpy as np 
 
x =  [(1,2,3),(4,5)] 
a = np.asarray(x)  
print (a)

[(1, 2, 3) (4, 5)]

In [25]:
x =  [1,2,3] 
a = np.asarray(x, dtype =  float)  
print (a)

[1. 2. 3.]

In [26]:
import numpy as np 
 
s =  b'Hello World' 
a = np.frombuffer(s, dtype =  'S1')  
print (a)

[b'H' b'e' b'l' b'l' b'o' b' ' b'W' b'o' b'r' b'l' b'd']

In [27]:
import numpy as np
s =  'Hello World'
a = np.frombuffer(s, dtype =  'S1')
print (a)

AttributeError: 'str' object has no attribute '__buffer__'

In [28]:
import numpy as np 
 
#  range   
list=range(5)
it=iter(list)
 
#  ndarray 
x=np.fromiter(it, dtype=float)
print(x)

[0. 1. 2. 3. 4.]

In [29]:
import numpy as np
 
x = np.arange(5)  
print (x)

[0 1 2 3 4]

In [30]:
import numpy as np
 
#  dtype
x = np.arange(5, dtype =  float)  
print (x)

[0. 1. 2. 3. 4.]

In [31]:
import numpy as np
x = np.arange(10,20,2)  
print (x)

[10 12 14 16 18]

In [32]:
import numpy as np
a = np.linspace(1,10,10)
print(a)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

In [33]:
import numpy as np
a = np.linspace(1,1,10)
print(a)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [34]:
import numpy as np
 
a = np.linspace(10, 20,  5, endpoint =  False)  
print(a)

[10. 12. 14. 16. 18.]

In [35]:
import numpy as np
a =np.linspace(1,10,10,retstep= True)
 
print(a)

b =np.linspace(1,10,10).reshape([10,1])
print(b)

(array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.]), 1.0)
[[ 1.]
 [ 2.]
 [ 3.]
 [ 4.]
 [ 5.]
 [ 6.]
 [ 7.]
 [ 8.]
 [ 9.]
 [10.]]

In [36]:
import numpy as np
#  10
a = np.logspace(1.0,  2.0, num =  10)  
print (a)

[ 10.          12.91549665  16.68100537  21.5443469   27.82559402
  35.93813664  46.41588834  59.94842503  77.42636827 100.        ]

In [37]:
import numpy as np
a = np.logspace(0,9,10,base=2)
print (a)

[  1.   2.   4.   8.  16.  32.  64. 128. 256. 512.]

In [38]:
import numpy as np
 
a = np.arange(10)
s = slice(2,7,2)   #  2  7 2
print (a[s])

[2 4 6]

In [39]:
a = np.arange(10)  
b = a[2:7:2]   #  2  7  2
print(b)

[2 4 6]

In [40]:
a = np.arange(10)  # [0 1 2 3 4 5 6 7 8 9]
b = a[5] 
print(b)

5

In [41]:
a = np.arange(10)
print(a[2:])

[2 3 4 5 6 7 8 9]

In [42]:
a = np.arange(10)  # [0 1 2 3 4 5 6 7 8 9]
print(a[2:5])

[2 3 4]

In [43]:
a = np.array([[1,2,3],[3,4,5],[4,5,6]])
print(a)
# 
print(' a[1:] ')
print(a[1:])

[[1 2 3]
 [3 4 5]
 [4 5 6]]
 a[1:]
[[3 4 5]
 [4 5 6]]

In [44]:
a = np.array([[1,2,3],[3,4,5],[4,5,6]])  
print (a[...,1])   # 2
print (a[1,...])   # 2
print (a[...,1:])  # 2

[2 4 5]
[3 4 5]
[[2 3]
 [4 5]
 [5 6]]

In [45]:
x = np.array([[1,  2],  [3,  4],  [5,  6]]) 
y = x[[0,1,2],  [0,1,0]]  
print (y)

[1 4 5]

In [46]:
x = np.array([[  0,  1,  2],[  3,  4,  5],[  6,  7,  8],[  9,  10,  11]])  
print ('' )
print (x)
print ('\n')
rows = np.array([[0,0],[3,3]]) 
cols = np.array([[0,2],[0,2]]) 
y = x[rows,cols]  
print  ('')
print (y)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]



[[ 0  2]
 [ 9 11]]

In [47]:
a = np.array([[1,2,3], [4,5,6],[7,8,9]])
b = a[1:3, 1:3]
c = a[1:3,[1,2]]
d = a[...,1:]
print(b)
print(c)
print(d)

[[5 6]
 [8 9]]
[[5 6]
 [8 9]]
[[2 3]
 [5 6]
 [8 9]]

In [48]:
x = np.array([[  0,  1,  2],[  3,  4,  5],[  6,  7,  8],[  9,  10,  11]])  
print ('')
print (x)
print ('\n')
#  5   
print  (' 5 ')
print (x[x >  5])

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]


 5
[ 6  7  8  9 10 11]

In [49]:
a = np.array([np.nan,  1,2,np.nan,3,4,5])  
print (a[~np.isnan(a)])

[1. 2. 3. 4. 5.]

In [50]:
a = np.array([1,  2+6j,  5,  3.5+5j])  
print (a[np.iscomplex(a)])

[2. +6.j 3.5+5.j]

In [51]:
x=np.arange(32).reshape((8,4))
print (x[[4,2,1,7]])

[[16 17 18 19]
 [ 8  9 10 11]
 [ 4  5  6  7]
 [28 29 30 31]]

In [52]:
x=np.arange(32).reshape((8,4))
print (x[[-4,-2,-1,-7]])

[[16 17 18 19]
 [24 25 26 27]
 [28 29 30 31]
 [ 4  5  6  7]]

In [53]:
x=np.arange(32).reshape((8,4))
print (x[np.ix_([1,5,7,2],[0,3,1,2])])

[[ 4  7  5  6]
 [20 23 21 22]
 [28 31 29 30]
 [ 8 11  9 10]]

In [54]:
a = np.array([1,2,3,4]) 
b = np.array([10,20,30,40]) 
c = a * b 
print (c)

[ 10  40  90 160]

In [55]:
a = np.array([[ 0, 0, 0],
           [10,10,10],
           [20,20,20],
           [30,30,30]])
b = np.array([1,2,3])
print(a + b)

[[ 1  2  3]
 [11 12 13]
 [21 22 23]
 [31 32 33]]

In [56]:
a = np.array([[ 0, 0, 0],
           [10,10,10],
           [20,20,20],
           [30,30,30]])
b = np.array([1,2,3])
bb = np.tile(b, (4, 1))  #  b 
print(a + bb)

[[ 1  2  3]
 [11 12 13]
 [21 22 23]
 [31 32 33]]

In [57]:
a = np.arange(6).reshape(2,3)
print ('')
print (a)
print ('\n')
print ('')
for x in np.nditer(a):
    print (x, end=", " )
print ('\n')

[[0 1 2]
 [3 4 5]]



0, 1, 2, 3, 4, 5,

In [58]:
a = np.arange(6).reshape(2,3)
for x in np.nditer(a.T):
    print (x, end=", " )
print ('\n')
 
for x in np.nditer(a.T.copy(order='C')):
    print (x, end=", " )
print ('\n')

0, 1, 2, 3, 4, 5,

0, 3, 1, 4, 2, 5,

In [59]:
a = np.arange(0,60,5) 
a = a.reshape(3,4)  
print ('') 
print (a) 
print ('\n') 
print ('') 
b = a.T 
print (b) 
print ('\n') 
print (' C ') 
c = b.copy(order='C')  
print (c)
for x in np.nditer(c):  
    print (x, end=", " )
print  ('\n') 
print  (' F ')
c = b.copy(order='F')  
print (c)
for x in np.nditer(c):  
    print (x, end=", " )

[[ 0  5 10 15]
 [20 25 30 35]
 [40 45 50 55]]



[[ 0 20 40]
 [ 5 25 45]
 [10 30 50]
 [15 35 55]]


 C
[[ 0 20 40]
 [ 5 25 45]
 [10 30 50]
 [15 35 55]]
0, 20, 40, 5, 25, 45, 10, 30, 50, 15, 35, 55,

 F
[[ 0 20 40]
 [ 5 25 45]
 [10 30 50]
 [15 35 55]]
0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,

In [60]:
a = np.arange(0,60,5) 
a = a.reshape(3,4)  
print ('')
print (a)
print ('\n')
print (' C ')
for x in np.nditer(a, order =  'C'):  
    print (x, end=", " )
print ('\n')
print (' F ')
for x in np.nditer(a, order =  'F'):  
    print (x, end=", " )

[[ 0  5 10 15]
 [20 25 30 35]
 [40 45 50 55]]


 C
0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55,

 F
0, 20, 40, 5, 25, 45, 10, 30, 50, 15, 35, 55,

In [61]:
a = np.arange(0,60,5) 
a = a.reshape(3,4)  
print ('')
print (a)
print ('\n')
for x in np.nditer(a, op_flags=['readwrite']): 
    x[...]=2*x 
print ('')
print (a)

[[ 0  5 10 15]
 [20 25 30 35]
 [40 45 50 55]]



[[  0  10  20  30]
 [ 40  50  60  70]
 [ 80  90 100 110]]

In [62]:
a = np.arange(0,60,5) 
a = a.reshape(3,4)  
print ('')
print (a)
print ('\n')
print ('')
for x in np.nditer(a, flags =  ['external_loop'], order =  'F'):  
   print (x, end=", " )

[[ 0  5 10 15]
 [20 25 30 35]
 [40 45 50 55]]



[ 0 20 40], [ 5 25 45], [10 30 50], [15 35 55],

In [63]:
import numpy as np 
 
a = np.arange(0,60,5) 
a = a.reshape(3,4)  
print  ('')
print (a)
print  ('\n')
print ('')
b = np.array([1,  2,  3,  4], dtype =  int)  
print (b)
print ('\n')
print ('')
for x,y in np.nditer([a,b]):  
    print ("%d:%d"  %  (x,y), end=", " )

[[ 0  5 10 15]
 [20 25 30 35]
 [40 45 50 55]]



[1 2 3 4]



0:1, 5:2, 10:3, 15:4, 20:1, 25:2, 30:3, 35:4, 40:1, 45:2, 50:3, 55:4,

In [64]:
a = np.arange(8)
print ('')
print (a)
print ('\n')
 
b = a.reshape(4,2)
print ('')
print (b)

[0 1 2 3 4 5 6 7]



[[0 1]
 [2 3]
 [4 5]
 [6 7]]

In [65]:
import numpy as np
 
a = np.arange(9).reshape(3,3) 
print ('')
for row in a:
    print (row)
 
#flat
print ('')
for element in a.flat:
    print (element)

[0 1 2]
[3 4 5]
[6 7 8]

0
1
2
3
4
5
6
7
8

In [66]:
import numpy as np
 
a = np.arange(8).reshape(2,4)
 
print ('')
print (a)
print ('\n')
# 
 
print ('')
print (a.flatten())
print ('\n')
 
print (' F ')
print (a.flatten(order = 'F'))

[[0 1 2 3]
 [4 5 6 7]]



[0 1 2 3 4 5 6 7]


 F
[0 4 1 5 2 6 3 7]

In [67]:
a = np.arange(8).reshape(2,4)
 
print ('')
print (a)
print ('\n')
 
print (' ravel ')
print (a.ravel())
print ('\n')
 
print (' F  ravel ')
print (a.ravel(order = 'F'))

[[0 1 2 3]
 [4 5 6 7]]


 ravel
[0 1 2 3 4 5 6 7]


 F  ravel
[0 4 1 5 2 6 3 7]

In [68]:
a = np.arange(12).reshape(3,4)
 
print ('')
print (a )
print ('\n')
 
print ('')
print (np.transpose(a))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]



[[ 0  4  8]
 [ 1  5  9]
 [ 2  6 10]
 [ 3  7 11]]

In [69]:
a = np.arange(12).reshape(3,4)
 
print ('')
print (a)
print ('\n')
 
print ('')
print (a.T)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]



[[ 0  4  8]
 [ 1  5  9]
 [ 2  6 10]
 [ 3  7 11]]

In [70]:
import numpy as np
 
#  ndarray
a = np.arange(8).reshape(2,2,2)
 
print ('')
print (a)
print ('')
print(np.where(a==6))   
print(a[1,1,0])  #  6
print ('\n')
 
 
#  2  0
 
print (' rollaxis ')
b = np.rollaxis(a,2,0)
print (b)
#  a[1,1,0] 6  [0, 1, 1]
#  0 
print(np.where(b==6))   
print ('\n')
 
#  2  1
 
print (' rollaxis ')
c = np.rollaxis(a,2,1)
print (c)
#  a[1,1,0] 6  [1, 0, 1]
#  0   1 
print(np.where(c==6))   
print ('\n')

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]

(array([1], dtype=int64), array([1], dtype=int64), array([0], dtype=int64))
6


 rollaxis
[[[0 2]
  [4 6]]

 [[1 3]
  [5 7]]]
(array([0], dtype=int64), array([1], dtype=int64), array([1], dtype=int64))


 rollaxis
[[[0 2]
  [1 3]]

 [[4 6]
  [5 7]]]
(array([1], dtype=int64), array([0], dtype=int64), array([1], dtype=int64))

In [71]:
import numpy as np
 
#  ndarray
a = np.arange(8).reshape(2,2,2)
 
print ('')
print (a)
print ('\n')
#  0 2
 
print (' swapaxes ')
print (np.swapaxes(a, 2, 0))

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]


 swapaxes
[[[0 4]
  [2 6]]

 [[1 5]
  [3 7]]]

In [72]:
import numpy as np
 
x = np.array([[1], [2], [3]])
y = np.array([4, 5, 6])  
 
#  y  x
b = np.broadcast(x,y)  
#  iterator 
 
print (' y  x')
r,c = b.iters
 
# Python3.x  next(context) Python2.x  context.next()
print (next(r), next(c))
print (next(r), next(c))
print ('\n')
# shape 
 
print ('')
print (b.shape)
print ('\n')
#  broadcast  x  y 
b = np.broadcast(x,y)
c = np.empty(b.shape)
 
print (' broadcast  x  y ')
print (c.shape)
print ('\n')
c.flat = [u + v for (u,v) in b]
 
print (' flat ')
print (c)
print ('\n')
#  NumPy 
 
print ('x  y ')
print (x + y)

 y  x
1 4
1 5



(3, 3)


 broadcast  x  y
(3, 3)


 flat
[[5. 6. 7.]
 [6. 7. 8.]
 [7. 8. 9.]]


x  y
[[5 6 7]
 [6 7 8]
 [7 8 9]]

In [73]:
a = np.arange(4).reshape(1,4)
 
print ('')
print (a)
print ('\n')
 
print (' broadcast_to ')
print (np.broadcast_to(a,(4,4)))

[[0 1 2 3]]


 broadcast_to
[[0 1 2 3]
 [0 1 2 3]
 [0 1 2 3]
 [0 1 2 3]]

In [74]:
x = np.array(([1,2],[3,4]))
 
print (' x')
print (x)
print ('\n')
y = np.expand_dims(x, axis = 0)
 
print (' y')
print (y)
print ('\n')
 
print (' x  y ')
print (x.shape, y.shape)
print ('\n')
#  1 
y = np.expand_dims(x, axis = 1)
 
print (' 1  y')
print (y)
print ('\n')
 
print ('x.ndim  y.ndim')
print (x.ndim,y.ndim)
print ('\n')
 
print ('x.shape  y.shape')
print (x.shape, y.shape)

 x
[[1 2]
 [3 4]]


 y
[[[1 2]
  [3 4]]]


 x  y
(2, 2) (1, 2, 2)


 1  y
[[[1 2]]

 [[3 4]]]


x.ndim  y.ndim
2 3


x.shape  y.shape
(2, 2) (2, 1, 2)

In [75]:
x = np.arange(9).reshape(1,3,3)
 
print (' x')
print (x)
print ('\n')
y = np.squeeze(x)
 
print (' y')
print (y)
print ('\n')
 
print (' x  y ')
print (x.shape, y.shape)

 x
[[[0 1 2]
  [3 4 5]
  [6 7 8]]]


 y
[[0 1 2]
 [3 4 5]
 [6 7 8]]


 x  y
(1, 3, 3) (3, 3)

In [76]:
a = np.array([[1,2],[3,4]])
 
print ('')
print (a)
print ('\n')
b = np.array([[5,6],[7,8]])
 
print ('')
print (b)
print ('\n')
# 
 
print (' 0 ')
print (np.concatenate((a,b)))
print ('\n')
 
print (' 1 ')
print (np.concatenate((a,b),axis = 1))

[[1 2]
 [3 4]]



[[5 6]
 [7 8]]


 0
[[1 2]
 [3 4]
 [5 6]
 [7 8]]


 1
[[1 2 5 6]
 [3 4 7 8]]

In [77]:
a = np.array([[1,2],[3,4]])
 
print ('')
print (a)
print ('\n')
b = np.array([[5,6],[7,8]])
 
print ('')
print (b)
print ('\n')
 
print (' 0 ')
print (np.stack((a,b),0))
print ('\n')
 
print (' 1 ')
print (np.stack((a,b),1))

[[1 2]
 [3 4]]



[[5 6]
 [7 8]]


 0
[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]


 1
[[[1 2]
  [5 6]]

 [[3 4]
  [7 8]]]

In [78]:
a = np.array([[1,2],[3,4]])
 
print ('')
print (a)
print ('\n')
b = np.array([[5,6],[7,8]])
 
print ('')
print (b)
print ('\n')
 
print ('')
c = np.hstack((a,b))
print (c)
print ('\n')

[[1 2]
 [3 4]]



[[5 6]
 [7 8]]



[[1 2 5 6]
 [3 4 7 8]]

In [79]:
a = np.array([[1,2],[3,4]])
 
print ('')
print (a)
print ('\n')
b = np.array([[5,6],[7,8]])
 
print ('')
print (b)
print ('\n')
 
print ('')
c = np.vstack((a,b))
print (c)

[[1 2]
 [3 4]]



[[5 6]
 [7 8]]



[[1 2]
 [3 4]
 [5 6]
 [7 8]]

In [80]:
a = np.arange(9)
 
print ('')
print (a)
print ('\n')
 
print ('')
b = np.split(a,3)
print (b)
print ('\n')
 
print ('')
b = np.split(a,[4,7])
print (b)

[0 1 2 3 4 5 6 7 8]



[array([0, 1, 2]), array([3, 4, 5]), array([6, 7, 8])]



[array([0, 1, 2, 3]), array([4, 5, 6]), array([7, 8])]

In [81]:
harr = np.floor(10 * np.random.random((2, 6)))
print ('array')
print(harr)
 
print ('')
print(np.hsplit(harr, 3))

array
[[0. 1. 4. 9. 9. 9.]
 [0. 0. 6. 8. 0. 7.]]

[array([[0., 1.],
       [0., 0.]]), array([[4., 9.],
       [6., 8.]]), array([[9., 9.],
       [0., 7.]])]

In [82]:
a = np.arange(16).reshape(4,4)
 
print ('')
print (a)
print ('\n')
 
print ('')
b = np.vsplit(a,2)
print (b)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]



[array([[0, 1, 2, 3],
       [4, 5, 6, 7]]), array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])]

In [83]:
a = np.array([[1,2,3],[4,5,6]])
 
print ('')
print (a)
print ('\n')
 
print ('')
print (a.shape)
print ('\n')
b = np.resize(a, (3,2))
 
print ('')
print (b)
print ('\n')
 
print ('')
print (b.shape)
print ('\n')
#  a  b 
 
print ('')
b = np.resize(a,(3,3))
print (b)

[[1 2 3]
 [4 5 6]]



(2, 3)



[[1 2]
 [3 4]
 [5 6]]



(3, 2)



[[1 2 3]
 [4 5 6]
 [1 2 3]]

In [84]:
import numpy as np
 
a = np.array([[1,2,3],[4,5,6]])
 
print ('')
print (a)
print ('\n')
 
print ('')
print (np.append(a, [7,8,9]))
print ('\n')
 
print (' 0 ')
print (np.append(a, [[7,8,9]],axis = 0))
print ('\n')
 
print (' 1 ')
print (np.append(a, [[5,5,5],[7,8,9]],axis = 1))

[[1 2 3]
 [4 5 6]]



[1 2 3 4 5 6 7 8 9]


 0
[[1 2 3]
 [4 5 6]
 [7 8 9]]


 1
[[1 2 3 5 5 5]
 [4 5 6 7 8 9]]

In [85]:
import numpy as np
 
a = np.array([[1,2],[3,4],[5,6]])
 
print ('')
print (a)
print ('\n')
 
print (' Axis  ')
print (np.insert(a,3,[11,12]))
print ('\n')
print (' Axis  ')
 
print (' 0 ')
print (np.insert(a,1,[11],axis = 0))
print ('\n')
 
print (' 1 ')
print (np.insert(a,1,11,axis = 1))

[[1 2]
 [3 4]
 [5 6]]


 Axis
[ 1  2  3 11 12  4  5  6]


 Axis
 0
[[ 1  2]
 [11 11]
 [ 3  4]
 [ 5  6]]


 1
[[ 1 11  2]
 [ 3 11  4]
 [ 5 11  6]]

In [86]:
import numpy as np
 
a = np.arange(12).reshape(3,4)
 
print ('')
print (a)
print ('\n')
 
print (' Axis  ')
print (np.delete(a,5))
print ('\n')
 
print ('')
print (np.delete(a,1,axis = 1))
print ('\n')
 
print ('')
a = np.array([1,2,3,4,5,6,7,8,9,10])
print (np.delete(a, np.s_[::2]))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]


 Axis
[ 0  1  2  3  4  6  7  8  9 10 11]



[[ 0  2  3]
 [ 4  6  7]
 [ 8 10 11]]



[ 2  4  6  8 10]

In [87]:
import numpy as np
 
a = np.array([5,2,6,2,7,5,6,8,2,9])
 
print ('')
print (a)
print ('\n')
 
print ('')
u = np.unique(a)
print (u)
print ('\n')
 
print ('')
u,indices = np.unique(a, return_index = True)
print (indices)
print ('\n')
 
print ('')
print (a)
print ('\n')
 
print ('')
u,indices = np.unique(a,return_inverse = True)
print (u)
print ('\n')
 
print ('')
print (indices)
print ('\n')
 
print ('')
print (u[indices])
print ('\n')
 
print ('')
u,indices = np.unique(a,return_counts = True)
print (u)
print (indices)

[5 2 6 2 7 5 6 8 2 9]



[2 5 6 7 8 9]



[1 0 2 4 7 9]



[5 2 6 2 7 5 6 8 2 9]



[2 5 6 7 8 9]



[1 0 2 0 3 1 2 4 0 5]



[5 2 6 2 7 5 6 8 2 9]



[2 5 6 7 8 9]
[3 2 2 1 1 1]

In [88]:
import numpy as np 
 
print ('13  17 ')
a,b = 13,17
print (bin(a), bin(b))
print ('\n')
 
print ('13  17 ')
print (np.bitwise_and(13, 17))

13  17
0b1101 0b10001


13  17
1

In [89]:
import numpy as np 
 
a,b = 13,17 
print ('13  17 ')
print (bin(a), bin(b))
 
print ('13  17 ')
print (np.bitwise_or(13, 17))

13  17
0b1101 0b10001
13  17
29

In [90]:
import numpy as np 
 
print ('13  ndarray  dtype  uint8')
print (np.invert(np.array([13], dtype = np.uint8)))
print ('\n')
#  13  242 
 
print ('13 ')
print (np.binary_repr(13, width = 8))
print ('\n')
 
print ('242 ')
print (np.binary_repr(242, width = 8))

13  ndarray  dtype  uint8
[242]


13
00001101


242
11110010

In [91]:
print (' 10 ')
print (np.left_shift(10,2))
print ('\n')
 
print ('10 ')
print (np.binary_repr(10, width = 8))
print ('\n')
 
print ('40 ')
print (np.binary_repr(40, width = 8))
#  '00001010'  0

 10
40


10
00001010


40
00101000

In [92]:
print (' 40 ')
print (np.right_shift(40,2))
print ('\n')
 
print ('40 ')
print (np.binary_repr(40, width = 8))
print ('\n')
 
print ('10 ')
print (np.binary_repr(10, width = 8))
#  '00001010'  0

 40
10


40
00101000


10
00001010

In [93]:
print ('')
print (np.char.add(['hello'],[' xyz']))
print ('\n')
 
print ('')
print (np.char.add(['hello', 'hi'],[' abc', ' xyz']))

['hello xyz']



['hello abc' 'hi xyz']

In [94]:
print (np.char.multiply('Runoob ',3))

Runoob Runoob Runoob

In [95]:
# np.char.center(str , width,fillchar) 
# str: width: fillchar: 
print (np.char.center('Runoob', 20,fillchar = '*'))

*******Runoob*******

In [96]:
print (np.char.capitalize('runoob'))

Runoob

In [97]:
import numpy as np
 
print (np.char.title('i like runoob'))

I Like Runoob

In [98]:
#
print (np.char.lower(['RUNOOB','GOOGLE']))
 
# 
print (np.char.lower('RUNOOB'))

['runoob' 'google']
runoob

In [99]:
#
print (np.char.upper(['runoob','google']))
 
# 
print (np.char.upper('runoob'))

['RUNOOB' 'GOOGLE']
RUNOOB

In [100]:
# 
print (np.char.split ('i like runoob?'))
#  .
print (np.char.split ('www.runoob.com', sep = '.'))

['i', 'like', 'runoob?']
['www', 'runoob', 'com']

In [101]:
import numpy as np 
 
#  \n
print (np.char.splitlines('i\nlike runoob?')) 
print (np.char.splitlines('i\rlike runoob?'))

['i', 'like runoob?']
['i', 'like runoob?']

In [102]:
import numpy as np 
 
#  a 
print (np.char.strip('ashok arunooba','a'))
 
#  a 
print (np.char.strip(['arunooba','admin','java'],'a'))

shok arunoob
['runoob' 'dmin' 'jav']

In [103]:
import numpy as np 
 
# 
print (np.char.join(':','runoob'))
 
# 
print (np.char.join([':','-'],['runoob','google']))

r:u:n:o:o:b
['r:u:n:o:o:b' 'g-o-o-g-l-e']

In [104]:
import numpy as np 
 
print (np.char.replace ('i like runoob', 'oo', 'cc'))

i like runccb

In [105]:
import numpy as np 
 
a = np.char.encode('runoob', 'cp500') 
print (a)

b'\x99\xa4\x95\x96\x96\x82'

In [106]:
import numpy as np 
 
a = np.char.encode('runoob', 'cp500') 
print (a)
print (np.char.decode(a,'cp500'))

b'\x99\xa4\x95\x96\x96\x82'
runoob

In [107]:
a = np.array([0,30,45,60,90])
print ('')
#  pi/180   
print (np.sin(a*np.pi/180))
print ('\n')
print ('')
print (np.cos(a*np.pi/180))
print ('\n')
print ('')
print (np.tan(a*np.pi/180))

[0.         0.5        0.70710678 0.8660254  1.        ]



[1.00000000e+00 8.66025404e-01 7.07106781e-01 5.00000000e-01
 6.12323400e-17]



[0.00000000e+00 5.77350269e-01 1.00000000e+00 1.73205081e+00
 1.63312394e+16]

In [108]:
import numpy as np
 
a = np.array([0,30,45,60,90])  
print ('')
sin = np.sin(a*np.pi/180)  
print (sin)
print ('\n')
print ('')
inv = np.arcsin(sin)  
print (inv)
print ('\n')
print ('')
print (np.degrees(inv))
print ('\n')
print ('arccos  arctan ')
cos = np.cos(a*np.pi/180)  
print (cos)
print ('\n')
print ('')
inv = np.arccos(cos)  
print (inv)
print ('\n')
print ('')
print (np.degrees(inv))
print ('\n')
print ('tan ')
tan = np.tan(a*np.pi/180)  
print (tan)
print ('\n')
print ('')
inv = np.arctan(tan)  
print (inv)
print ('\n')
print ('')
print (np.degrees(inv))

[0.         0.5        0.70710678 0.8660254  1.        ]



[0.         0.52359878 0.78539816 1.04719755 1.57079633]



[ 0. 30. 45. 60. 90.]


arccos  arctan
[1.00000000e+00 8.66025404e-01 7.07106781e-01 5.00000000e-01
 6.12323400e-17]



[0.         0.52359878 0.78539816 1.04719755 1.57079633]



[ 0. 30. 45. 60. 90.]


tan
[0.00000000e+00 5.77350269e-01 1.00000000e+00 1.73205081e+00
 1.63312394e+16]



[0.         0.52359878 0.78539816 1.04719755 1.57079633]



[ 0. 30. 45. 60. 90.]

In [109]:
a = np.array([1.0,5.55,  123,  0.567,  25.532])  
print  ('')
print (a)
print ('\n')
print ('')
print (np.around(a))
print (np.around(a, decimals =  1))
print (np.around(a, decimals =  -1))

[  1.      5.55  123.      0.567  25.532]



[  1.   6. 123.   1.  26.]
[  1.    5.6 123.    0.6  25.5]
[  0.  10. 120.   0.  30.]

In [110]:
a = np.array([-1.7,  1.5,  -0.2,  0.6,  10])
print ('')
print (a)
print ('\n')
print ('')
print (np.floor(a))

[-1.7  1.5 -0.2  0.6 10. ]



[-2.  1. -1.  0. 10.]

In [111]:
a = np.array([-1.7,  1.5,  -0.2,  0.6,  10])  
print  ('')
print (a)
print ('\n')
print ('')
print (np.ceil(a))

[-1.7  1.5 -0.2  0.6 10. ]



[-1.  2. -0.  1. 10.]