In [1]:
var1='Hello World!'
var2="Runoob"
print(type(var1))
print(len(var1))
print("var1[0]:",var1[0])
print("var2[1:5]:",var2[1:5])

<class 'str'>
12
var1[0]: H
var2[1:5]: unoo

In [3]:
var1='Hello World!'

print("已更新字符串:",var1[:6]+'Runoob!')

已更新字符串: Hello Runoob!

In [4]:
'Hello'*50
'H' in 'Hello'

True

In [5]:
name='Lucy'
print(f'I am {name}')
print(r'I\'m OK')

I am Lucy
I\'m OK

In [6]:
sentence='hello world'
print(sentence.capitalize())
print(sentence.upper())
print(sentence.title())

Hello world
HELLO WORLD
Hello World

In [8]:
var="www.runoob.com"
sub='o'
print("var.count('o'):",var.count(sub))

sub='run'
print("var.count('run',0,10):",var.count(sub,0,10))

var.count('o'): 3
var.count('run',0,10): 1

In [1]:
str1 = "runoob"
str2 = "runoob菜鸟教程"
str3 = "Runoob example....wow!!!"
str4 = "runoob2016"
str5 = "2016"
str6 = "二零一六"

print (str1.isalpha())
print (str2.isalpha())
print (str3.isalpha())
print (str4.isalpha())
print (str5.isalpha())
print (str6.isalpha())
print('*' * 90)
print (str1.isalnum())
print (str2.isalnum())
print (str3.isalnum())
print (str4.isalnum())
print (str5.isalnum())
print (str6.isalnum())
print('*' * 100)
print (str1.isdigit())
print (str2.isdigit())
print (str3.isdigit())
print (str4.isdigit())
print (str5.isdigit())
print (str6.isdigit())
print('*' * 50)
print (str1.isnumeric())
print (str2.isnumeric())
print (str3.isnumeric())
print (str4.isnumeric())
print (str5.isnumeric())
print (str6.isnumeric())

True
True
False
False
False
True
******************************************************************************************
True
True
False
True
True
True
****************************************************************************************************
False
False
False
False
True
False
**************************************************
False
False
False
False
True
True

In [2]:
var = "this is string example....wow!!!"
print (var.startswith( 'this' ))   # 字符串是否以 this 开头
print (var.startswith( 'string', 8 ))  # 从第九个字符开始的字符串是否以 string 开头
print (var.startswith( 'this', 2, 4 )) # 从第2个字符开始到第四个字符结束的字符串是否以 this 开头

True
True
False

In [3]:
var='Runoob example....wow!!!'
suffix='!!'
print (var.endswith(suffix))
print (var.endswith(suffix, len(var) - 1))
suffix='Run'
print (var.endswith(suffix))
print (var.endswith(suffix, 0, 3))

True
False
False
True

In [4]:
str1="Runoob example...wow!!"
str2="exam"

print(str1.find(str2))
print(str1.find(str2,5))
print(str1.find(str2,10))
#print(str1.index(str2,10))

7
7
-1

In [10]:
str1="    *****this is **string** example....wow!!!*****    "
str1=str1.strip() #默认空格
print(str1)
str1=str1.strip('#')
str1

*****this is **string** example....wow!!!*****

'*****this is **string** example....wow!!!*****'

In [11]:
txt="Google#Runoob#Taobao#Facebook"
print(txt.split('#'))
# 第二个参数为 1，返回两个参数列表
x=txt.split('#',1)
print(x)

['Google', 'Runoob', 'Taobao', 'Facebook']
['Google', 'Runoob#Taobao#Facebook']

In [12]:
str1="www.w3cschool.cc"
print("菜鸟教程旧地址：", str1)
print ("菜鸟教程新地址：", str1.replace("w3cschool.cc", "runoob.com"))

str2="this is string exaample...wow!!"
print(str2.replace("is","was",3))

菜鸟教程旧地址： www.w3cschool.cc
菜鸟教程新地址： www.runoob.com
thwas was string exaample...wow!!

In [14]:
import re
re.match(r'd{3}\-\d{3.8}$','010 12345')

In [15]:
print(re.match(r'^\d{3}\-\d{3,8}$', '010 12345'))

None

In [16]:
'a bc'.split(' ')

['a', 'bc']

In [17]:
re.split(r'\s+','a b c')

['a', 'b', 'c']

In [18]:
re.split(r'[\s\,]+','a,b c d')

['a', 'b', 'c', 'd']

In [20]:
re.split(r'[\s\,\;]+', 'a,b;; c  d')

['a', 'b', 'c', 'd']

In [26]:
m=re.match(r'^(\d{3})-(\d{3,8})$', '010-12345')
print(m)
print(m.group(0))
print(m.group(1))
print(m.group(2))

<re.Match object; span=(0, 9), match='010-12345'>
010-12345
010
12345

In [27]:
t='19:05:30'
m=re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])\:(0[0-9]|1[0-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|[0-9])$', t)
m.groups()

('19', '05', '30')

In [31]:
re.match(r'^(\d+)(0*)$', '102300').groups()
# 由于\d+采用贪婪匹配，直接把后面的0全部匹配了，结果0*只能匹配空字符串了。

('102300', '')

In [32]:
# 必须让\d+采用非贪婪匹配（也就是尽可能少匹配），才能把后面的0匹配出来，加个?就可以让\d+采用非贪婪匹配：
re.match(r'^(\d+?)(0*)$','102300').groups()

('1023', '00')

In [38]:
with open('re_test.txt') as f:
    content=f.read()
    res=re.search(r'^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$', content, re.M)
    print('re.search'.center(50, '-'))
    print(res.group())
    print('re.findall'.center(50, '-'))
    res = re.findall(r'^([a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+)$', content, re.M)
    for x in res:
        print(x[0])

--------------------re.search---------------------

AttributeError: 'NoneType' object has no attribute 'group'

In [40]:
colors=['red','geen','blue','yellow','white','black']
print(type(colors))
colors

<class 'list'>

['red', 'geen', 'blue', 'yellow', 'white', 'black']

In [47]:
print(colors[0])
print(colors[1])
print(colors[2])
print(colors[-1])
print(colors[-2])
print(colors[-3])

green
yellow
white
black
white
yellow

In [48]:
numbers = [0 ,10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [51]:
print(numbers[2:4])
print(numbers[3:])
print(numbers[:3])
print(numbers[-4:-2])
print(numbers[0:8:2])
print(numbers[-2:-10:-1])
print(numbers[-2::-1])
print(numbers[:-10:-1])
print(numbers[::-1])

[20, 30]
[30, 40, 50, 60, 70, 80, 90]
[0, 10, 20]
[60, 70]
[0, 20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10, 0]
[90, 80, 70, 60, 50, 40, 30, 20, 10]
[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

In [52]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors[2] = 'pink'
colors

['red', 'green', 'pink', 'yellow', 'white', 'black']

In [53]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
del colors[2]
colors.remove('red')
colors

['green', 'yellow', 'white', 'black']

In [54]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
colors.append('pink')
colors.insert(2, 'brown')
colors

['red', 'green', 'brown', 'blue', 'yellow', 'white', 'black', 'pink']

In [59]:
colors = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print(colors.count('red'))
print(colors.index('green'))

1
1

In [61]:
numbers = [0 ,1, 2, 4, 5, 6, 8, 9, 3, 1]
print(len(numbers))
print(max(numbers))
print(min(numbers))
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)
numbers.clear()
print(numbers)

10
9
0
[0, 1, 1, 2, 3, 4, 5, 6, 8, 9]
[9, 8, 6, 5, 4, 3, 2, 1, 1, 0]
[]

In [62]:
squares = []
squares += [1, 4, 9, 16, 25]
squares += [36, 49, 64]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [64]:
squares.extend([81, 100])
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
['Hello', 'World'] * 5

['Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World',
 'Hello',
 'World']

In [66]:
print(type(range(5)))
list(range(5))

<class 'range'>

[0, 1, 2, 3, 4]

In [68]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [71]:
args = [*range(5), 'Hello', 'World']
print(args)
print(*args, sep='_')

[0, 1, 2, 3, 4, 'Hello', 'World']
0_1_2_3_4_Hello_World

In [73]:
tup1 = ('Google', 'Runoob', 1997, 2000)
print(type(tup1))
tup2 = (1, 2, 3, 4, 5)
tup3 = "a", "b", "c", "d"   #  不需要括号也可以
tup4 = (1,)
tup5 = 1,
print(tup1)
print(tup2)
print(tup3)
print(tup4)
print(tup5)

<class 'tuple'>
('Google', 'Runoob', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
(1,)
(1,)

In [74]:
tup1[0]

'Google'

In [78]:
tup1[1]

'Runoob'

In [79]:
tup1 + tup2

('Google', 'Runoob', 1997, 2000, 1, 2, 3, 4, 5)

In [87]:
del tup1
print(tup1)

NameError: name 'tup1' is not defined

In [88]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [91]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(type(basket))
print(basket)
letters = set('Hello World')
print(letters)

<class 'set'>
{'apple', 'banana', 'pear', 'orange'}
{'l', 'd', 'r', 'e', ' ', 'o', 'W', 'H'}

In [92]:
basket.add('melon')
print(basket)
basket.remove('apple')
print(basket)

{'banana', 'apple', 'orange', 'melon', 'pear'}
{'banana', 'orange', 'melon', 'pear'}

In [95]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket.update('melon')
print(basket)
basket.update(['melon', 'lemon'])
print(basket)

{'l', 'banana', 'apple', 'orange', 'e', 'n', 'o', 'pear', 'm'}
{'l', 'banana', 'apple', 'orange', 'e', 'n', 'o', 'melon', 'lemon', 'pear', 'm'}

In [96]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
print(a - b) # 集合a中包含而集合b中不包含的元素
print(a | b) # 集合a或b中包含的所有元素
print(a & b) # 集合a和b中都包含了的元素
print(a ^ b) # 不同时包含于a和b的元素

{'c', 'a', 'b', 'd', 'r'}
{'c', 'a', 'l', 'z', 'm'}
{'b', 'd', 'r'}
{'c', 'a', 'l', 'z', 'b', 'd', 'r', 'm'}
{'c', 'a'}
{'r', 'l', 'z', 'b', 'd', 'm'}

In [98]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
print(type(dict1))
print ("dicte1['Name']: ", dict1['Name'])
print ("dirct1['Age']: ", dict1['Age'])

<class 'dict'>
dicte1['Name']:  Runoob
dirct1['Age']:  7

In [101]:
dict1 = {
    'Name': 'Runoob', 
 'Age': 7, 
'Class': 'First'
}
 
dict1['Age'] = 8             # 更新 Age
dict1['School'] = "菜鸟教程"  # 添加信息
dict1

{'Name': 'Runoob', 'Age': 8, 'Class': 'First', 'School': '菜鸟教程'}

In [104]:
dict1 = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
del dict1['Name'] # 删除键 'Name'
print(dict1)
dict1.clear()     # 清空字典
print(dict1)

{'Age': 7, 'Class': 'First'}
{}

In [106]:
dict1 = {'Name': 'Runnoob', 'Age': 7, 'Class': 'First'}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Name', 'Age', 'Class'])
dict_values(['Runnoob', 7, 'First'])
dict_items([('Name', 'Runnoob'), ('Age', 7), ('Class', 'First')])

In [107]:
print(dict1.fromkeys('abc', 0))

{'a': 0, 'b': 0, 'c': 0}

In [108]:
dict1 = {'Name': 'Runoob', 'Age': 7}
dict2 = {'Sex': 'female' , 'Age': 10}
 
dict1.update(dict2)
print ("更新字典 dict1 : ", dict1)

更新字典 dict1 :  {'Name': 'Runoob', 'Age': 10, 'Sex': 'female'}

In [109]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
# basket = ('apple', 'orange', 'apple', 'pear', 'orange', 'banana')
# basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
for x in basket:
    print(x)

apple
orange
apple
pear
orange
banana