In [1]:
a = 10
b = 20
if ( a and b ):
    print('1 - 变量 a 和 b 都为 true')
else:
    print('1 - 变量 a 和 b 有一个不为 true')
if ( a or b ):
    print('2 - 变量 a 和 b 都为 true，或其中一个变量为 true')
else:
    print('2 - 变量 a 和 b 都不为 true')                            #10
a = 0
if ( a and b ):
    print('3 - 变量 a 和 b 都为 true')
else:
    print('3 - 变量 a 和 b 有一个不为 true')
if ( a or b ):
    print('4 - 变量 a 和 b 都为 true，或其中一个变量为 true')
else:
    print('4 - 变量 a 和 b 都不为 true')
if not( a and b ):                                                 #20
    print('5 - 变量 a 和 b 都为 false，或其中一个变量为 false')
else:
    print('5 - 变量 a 和 b 都为 true')

1 - 变量 a 和 b 都为 true
2 - 变量 a 和 b 都为 true，或其中一个变量为 true
3 - 变量 a 和 b 有一个不为 true
4 - 变量 a 和 b 都为 true，或其中一个变量为 true
5 - 变量 a 和 b 都为 false，或其中一个变量为 false

In [2]:
a = 20
b = 20
if ( a is b ):
    print('1 - a 和 b 有相同的标识')
else:
    print('1 - a 和 b 没有相同的标识')
if ( id(a) == id(b) ):                                          #30
    print('2 - a 和 b 有相同的标识')
else:
    print('2 - a 和 b 没有相同的标识')
b = 30
if ( a is b ):
    print('3 - a 和 b 有相同的标识')
else:
    print('3 - a 和 b 没有相同的标识')
if ( a is not b ):
    print('4 - a 和 b 没有相同的标识')                         #40
else:
    print('4 - a 和 b 有相同的标识')

1 - a 和 b 有相同的标识
2 - a 和 b 有相同的标识
3 - a 和 b 没有相同的标识
4 - a 和 b 没有相同的标识

In [3]:
a = [1,2,3]
b = a
print( b == a )
b = a[:]
print( b is a )
print( b == a )

True
False
True

In [4]:
a = 20
b = 10                                                        #50
c = 15
d = 5
e = 0
e = (a + b) * c / d
print('(a + b) * c / d 运算结果为：', e)
e = ((a + b) * c) / d
print('((a + b) * c) / d 运算结果为：', e)
e = (a + b) * (c / d)
print('(a + b) * (c / d) 运算结果为：', e)
e = a + (b * c) / d                                          #60
print('a + (b * c) / d 运算结果为：', e)

(a + b) * c / d 运算结果为： 90.0
((a + b) * c) / d 运算结果为： 90.0
(a + b) * (c / d) 运算结果为： 90.0
a + (b * c) / d 运算结果为： 50.0

In [5]:
x = True
y = False
z = False
if x or y and z:
    print('yes')
else:
    print('no')

yes

In [6]:
number = 0xA0F
print(number)                                              #70
number = 0o37
print(number)

2575
31

In [8]:
a = 1.0
print(int(a))

1

In [9]:
print(2 + 2)
print(50 - 5 * 6)
print((50 - 5 * 6) / 4)
print(8 / 5)

4
20
5.0
1.6

In [10]:
print(17 / 3)
print(17 // 3)                                           #80
print(17 % 3)
print(5 * 3 + 2)

5.666666666666667
5
2
17

In [11]:
print(7 // 2)
print(7.0 // 2)
print(7 // 2.0)

3
3.0
3.0

In [12]:
print(5 ** 2)
print(2 ** 7)

25
128

In [13]:
print(3 * 3.75 / 1.5)
print(7.0 / 2)

7.5
3.5

In [15]:
var1 = 'Hello World!'                                   #90
var2 = 'Runoob'
print('var1[0]:',var1[0])
print('var2[1:5]:',var2[1:5])

var1[0]: H
var2[1:5]: unoo

In [16]:
var1 = 'Hello World!'
print('已更新字符串：',var1[:6] + 'Runoob!')

已更新字符串： Hello Runoob!

In [18]:
a = 'Hello'
b = 'Python'
print('a + b 输出结果：',a + b)
print('a * 2 输出结果：',a * 2)
print('a[1] 输出结果：',a[1])                          #100
print('a[1:4] 输出结果：',a[1:4])
if('H' in a):
    print('H 在变量 a 中')
else:
    print('H 不在变量 a 中')
if('M' not in a):
    print('M 不在变量 a 中')
else:
    print('M 在变量 a 中')
print(r'\n')                                         #110
print(R'\n')

a + b 输出结果： HelloPython
a * 2 输出结果： HelloHello
a[1] 输出结果： e
a[1:4] 输出结果： ell
H 在变量 a 中
M 不在变量 a 中
\n
\n

In [19]:
print('我叫 %s 今年 %d 岁！' %('小明',10))

我叫 小明 今年 10 岁！

In [20]:
para_str = '''这是一个多行字符串的实例
多行字符串可以使用制表符
TAB(\t)。
也可以使用换行符[\n]
'''
print(para_str)

这是一个多行字符串的实例
多行字符串可以使用制表符
TAB(	)。
也可以使用换行符[
]

In [21]:
name = 'Runoob'                                     #120
print('Hello %s' % name)

Hello Runoob

In [30]:
name = 'Runoob'
print(f'Hello{name}')
print(f'{1 + 2}')
w = {'name':'Runoob','url':'www.runoob.com'}
print(f"{w['name']}:{w['url']}")

HelloRunoob
3
Runoob:www.runoob.com

In [31]:
x = 1
print(f'{x+1}')
x = 1
print(f'{x+1=}')                                  #130

2
x+1=2

In [33]:
list = ['red','green','blue','yellow','white','black']
print(list[0])
print(list[1])
print(list[2])
print(list[-1])
print(list[-2])
print(list[-3])

red
green
blue
black
white
yellow

In [34]:
nums = [10,20,30,40,50,60,70,80,90]
print(nums[0:4])

[10, 20, 30, 40]

In [37]:
list = ['Google','Runoob','Zhihu','Taobao','Wiki']           #140
print('list[1]:',list[1])
print('list[1:-2]:',list[1:-2])

list[1]: Runoob
list[1:-2]: ['Runoob', 'Zhihu']

In [38]:
list = ['Google','Runoob',1997,2000]
print('原始列表：',list)
del list[2]
print('删除第三元素：',list)

原始列表： ['Google', 'Runoob', 1997, 2000]
删除第三元素： ['Google', 'Runoob', 2000]

In [40]:
list = [1,4,6]
list += [15,25,36]
print(list)

[1, 4, 6, 15, 25, 36]

In [41]:
a = ['a','b','c']                                            #150
n = [1,2,3]
x = [a,n]
print(x)
print(x[0])
print(x[0][1])

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
b

In [42]:
tup1 = ('Google','Runoob',1997,2000)
tup2 = (1,2,3,4,5)
tup3 = 'a','b','c','d'
type(tup3)

tuple

In [44]:
tup1 = (50)                                           #160
print(type(tup1))
tup1 = (50,)
print(type(tup1))

<class 'int'>
<class 'tuple'>

In [45]:
tup1 = ('Google','Runoob',1997,2000)
tup2 = (1,2,3,4,5,6,7)
print('tup1[0]:',tup1[0])
print('tup2[1:5]:',tup2[1:5])

tup1[0]: Google
tup2[1:5]: (2, 3, 4, 5)

In [46]:
tup1 = (12,34.56)
tup2 = ('abc','xyz')
tup3 = tup1 + tup2                                      #170
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [47]:
tup = ('Google','Runoob',1997,2000)
print(tup)
del tup
print('删除后的元组 tup：')
print(tup)

('Google', 'Runoob', 1997, 2000)
删除后的元组 tup：

NameError: name 'tup' is not defined

In [48]:
tup = ('Google','Runoob','Taobao','Wiki','Weibo','Weixin')
print(tup[1])
print(tup[-2])
print(tup[1:])                                              #180
print(tup[1:4])

Runoob
Weibo
('Runoob', 'Taobao', 'Wiki', 'Weibo', 'Weixin')
('Runoob', 'Taobao', 'Wiki')

In [51]:
tup = ('r','u','n','o','o','b')
print(id(tup))
tup = (1,2,3)
print(id(tup))

1486896294112
1486896313344

In [52]:
basket = {'apple','orange','apple','pear','orange','banana'}
print(basket)
print('orange' in basket)
print('crabgrass' in basket)
a = set('abracadabra')                                    #190
b = set('alacazam')
print(a)
print(a - b)
print(a | b)
print(a & b)
print(a ^ b)

{'apple', 'orange', 'pear', 'banana'}
True
False
{'d', 'r', 'b', 'a', 'c'}
{'d', 'r', 'b'}
{'d', 'b', 'r', 'l', 'a', 'z', 'm', 'c'}
{'a', 'c'}
{'d', 'r', 'b', 'z', 'm', 'l'}

In [54]:
a = {x for x in 'abracadabra' if x not in 'abc'}
print(a)                                                  #200

{'d', 'r'}

In [1]:
tup = ('a','b','c','d','e','f')
print(id(tup))
tup = (1,3,5)
print(id(tup))

1671657307008
1671657442240