In [2]:
a,b=1,2
c=a+b
c

3

In [1]:
1+2

3

In [4]:
num1=15/3
print(num1)

5.0

In [6]:
T=True
F=False
print(T,F)

True False

In [7]:
T=True
print(T+10)

11

In [8]:
F=bool(0)
print(F)

False

In [9]:
print(1>2)

False

In [10]:
T=True
F=False
#F=bool(0)
print(T or F)
print(T and F)
print(not F)

True
False
True

In [11]:
print(1>2 and 2<1)

False

In [12]:
coml=15.0j
print(type(coml))

<class 'complex'>

In [14]:
coml=15.j
print(complex(1))
print(complex("3+5j"))
print(complex(3,2))
print(complex())
print(coml)

(1+0j)
(3+5j)
(3+2j)
0j
15j

In [19]:
str1="hello world"
str2="I am fine, and you?"

print=("str1原文: ", str1)
print=("str2原文: ", str2)

print("1.str1[1]: ", str1[1])

TypeError: 'tuple' object is not callable

In [20]:
strl="hello"
str2="python"
str3="!"
strjoin1=str1+" "+str2+" "+str3
print("1.+拼接: ", strjoin1)

TypeError: 'tuple' object is not callable

In [34]:
str="Runoob"

print(str)
print(str[0;2])
print(str[0])
print(str[2;5])
print(str[2;])
print(str[1;5;2])
print(str*2)
print(str+"你好")

SyntaxError: invalid syntax (<ipython-input-34-af7d687a6b34>, line 4)

In [54]:
z="s"
u="t"

print(z)
print(u)

print('------------')

print( z, end=" ")
print( u, end=" ")
print()

TypeError: 'tuple' object is not callable

In [67]:
counter = 100          
miles   = 1000.0        
name    = "runoob"      

print (counter)
print (miles)
print (name)

TypeError: 'tuple' object is not callable

In [31]:
tup=4,5,6
tup

(4, 5, 6)

In [39]:
(3, 'hello','hi')+(1,2)+('python',)

(3, 'hello', 'hi', 1, 2, 'python')

In [40]:
b

2

In [41]:
a

1

In [50]:
c

3

In [58]:
a=[3,1,5,2,9]

In [52]:
a.sort()

In [53]:
a

[1, 2, 3, 5, 9]

In [64]:
print("I love you")

TypeError: 'tuple' object is not callable

In [68]:
counter = 100          # 整型变量
miles   = 1000.0       # 浮点型变量
name    = "runoob"     # 字符串

In [69]:
counter

100

In [4]:
miles

NameError: name 'miles' is not defined

In [5]:
a=b=c=1

In [6]:
a

1

In [7]:
b

1

In [8]:
c

1

In [10]:
print("Hens", 25 + 42 / 6)

Hens 32.0

In [11]:
5+2+8-9+6%2-2/6+9

14.666666666666668

In [12]:
print("That is OK", 6>2)

That is OK True

In [13]:
7>=4

True

In [14]:
6>6

False

In [15]:
7>=7

True

In [16]:
3+8<10+4

True

In [17]:
a,b=7,8

In [18]:
c=a+b

In [19]:
c

15

In [21]:
my_name="Damon"
my_age=25#not a lie
my_height=67#inches
my_weight=181#lbs

print(f"Let's talk about {my_name}.")
print(f"He's {my_height} inches tall.")
print(f"He's {my_weight} pounds heavy.")

# this line is tricky, try to get it exactly right
total = my_age + my_height + my_weight
print(f"If I add {my_age}, {my_height}, and {my_weight} I get {total}.")

Let's talk about Damon.
He's 67 inches tall.
He's 181 pounds heavy.
If I add 25, 67, and 181 I get 273.

In [22]:
formatter = "{} {} {} {}"

print(formatter.format(1, 2, 3, 4))
print(formatter.format("one", "two", "three", "four"))
print(formatter.format(True, False, False, True))
print(formatter.format(formatter, formatter, formatter, formatter))
print(formatter.format(
    "I had this thing.",
    "That you could type up right.",
    "But it didn't sing.",
    "So I said goodnight."
))

1 2 3 4
one two three four
True False False True
{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}
I had this thing. That you could type up right. But it didn't sing. So I said goodnight.

In [24]:
print("How old are you?", end=' ')
age = input()
print("How tall are you?", end=' ')
height = input()
print("How much do you weigh?", end=' ')
weight = input()

print(f"So, you're {age} old, {height} tall and {weight} heavy.")

How old are you? 25
How tall are you? 181
How much do you weigh? 67
So, you're 25 old, 181 tall and 67 heavy.

In [25]:
# Here's some new strange stuff, remember type it exactly.

days = "Mon Tue Wed Thu Fri Sat Sun"
months = "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"

print("Here are the days: ", days)
print("Here are the months: ", months)

print("""
There's something going on here.
With the three double-quotes.
We'll be able to type as much as we like.
Even 4 lines if we want, or 5, or 6.
""")

Here are the days:  Mon Tue Wed Thu Fri Sat Sun
Here are the months:  Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

There's something going on here.
With the three double-quotes.
We'll be able to type as much as we like.
Even 4 lines if we want, or 5, or 6.

In [26]:
tabby_cat = "\tI'm tabbed in."
persian_cat = "I'm split\non a line."
backslash_cat = "I'm \\ a \\ cat."

fat_cat = """
I'll do a list:
\t* Cat food
\t* Fishies
\t* Catnip\n\t* Grass
"""

print(tabby_cat)
print(persian_cat)
print(backslash_cat)
print(fat_cat)

	I'm tabbed in.
I'm split
on a line.
I'm \ a \ cat.

I'll do a list:
	* Cat food
	* Fishies
	* Catnip
	* Grass

In [1]:
#!/usr/bin/python3
 
a = 21
b = 10
c = 0
 
if ( a == b ):
   print ("1 - a 等于 b")
else:
   print ("1 - a 不等于 b")
 
if ( a != b ):
   print ("2 - a 不等于 b")
else:
   print ("2 - a 等于 b")
 
if ( a < b ):
   print ("3 - a 小于 b")
else:
   print ("3 - a 大于等于 b")
 
if ( a > b ):
   print ("4 - a 大于 b")
else:
   print ("4 - a 小于等于 b")
 
# 修改变量 a 和 b 的值
a = 5
b = 20
if ( a <= b ):
   print ("5 - a 小于等于 b")
else:
   print ("5 - a 大于  b")
 
if ( b >= a ):
   print ("6 - b 大于等于 a")
else:
   print ("6 - b 小于 a")

1 - a 不等于 b
2 - a 不等于 b
3 - a 大于等于 b
4 - a 大于 b
5 - a 小于等于 b
6 - b 大于等于 a

In [2]:
#!/usr/bin/python3
 
a = 21
b = 10
c = 0
 
c = a + b
print ("1 - c 的值为：", c)
 
c += a
print ("2 - c 的值为：", c)
 
c *= a
print ("3 - c 的值为：", c)
 
c /= a 
print ("4 - c 的值为：", c)
 
c = 2
c %= a
print ("5 - c 的值为：", c)
 
c **= a
print ("6 - c 的值为：", c)
 
c //= a
print ("7 - c 的值为：", c)

1 - c 的值为： 31
2 - c 的值为： 52
3 - c 的值为： 1092
4 - c 的值为： 52.0
5 - c 的值为： 2
6 - c 的值为： 2097152
7 - c 的值为： 99864

In [3]:
#!/usr/bin/python3
 
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0
 
c = a & b        # 12 = 0000 1100
print ("1 - c 的值为：", c)
 
c = a | b        # 61 = 0011 1101 
print ("2 - c 的值为：", c)
 
c = a ^ b        # 49 = 0011 0001
print ("3 - c 的值为：", c)
 
c = ~a           # -61 = 1100 0011
print ("4 - c 的值为：", c)
 
c = a << 2       # 240 = 1111 0000
print ("5 - c 的值为：", c)
 
c = a >> 2       # 15 = 0000 1111
print ("6 - c 的值为：", c)

1 - c 的值为： 12
2 - c 的值为： 61
3 - c 的值为： 49
4 - c 的值为： -61
5 - c 的值为： 240
6 - c 的值为： 15

In [4]:
#!/usr/bin/python3
 
a = 10
b = 20
 
if ( a and b ):
   print ("1 - 变量 a 和 b 都为 true")
else:
   print ("1 - 变量 a 和 b 有一个不为 true")
 
if ( a or b ):
   print ("2 - 变量 a 和 b 都为 true，或其中一个变量为 true")
else:
   print ("2 - 变量 a 和 b 都不为 true")
 
# 修改变量 a 的值
a = 0
if ( a and b ):
   print ("3 - 变量 a 和 b 都为 true")
else:
   print ("3 - 变量 a 和 b 有一个不为 true")
 
if ( a or b ):
   print ("4 - 变量 a 和 b 都为 true，或其中一个变量为 true")
else:
   print ("4 - 变量 a 和 b 都不为 true")
 
if not( a and b ):
   print ("5 - 变量 a 和 b 都为 false，或其中一个变量为 false")
else:
   print ("5 - 变量 a 和 b 都为 true")

1 - 变量 a 和 b 都为 true
2 - 变量 a 和 b 都为 true，或其中一个变量为 true
3 - 变量 a 和 b 有一个不为 true
4 - 变量 a 和 b 都为 true，或其中一个变量为 true
5 - 变量 a 和 b 都为 false，或其中一个变量为 false

In [5]:
#!/usr/bin/python3
 
a = 20
b = 20
 
if ( a is b ):
   print ("1 - a 和 b 有相同的标识")
else:
   print ("1 - a 和 b 没有相同的标识")
 
if ( id(a) == id(b) ):
   print ("2 - a 和 b 有相同的标识")
else:
   print ("2 - a 和 b 没有相同的标识")
 
# 修改变量 b 的值
b = 30
if ( a is b ):
   print ("3 - a 和 b 有相同的标识")
else:
   print ("3 - a 和 b 没有相同的标识")
 
if ( a is not b ):
   print ("4 - a 和 b 没有相同的标识")
else:
   print ("4 - a 和 b 有相同的标识")

1 - a 和 b 有相同的标识
2 - a 和 b 有相同的标识
3 - a 和 b 没有相同的标识
4 - a 和 b 没有相同的标识

In [6]:
#!/usr/bin/python3
 
a = 20
b = 10
c = 15
d = 5
e = 0
 
e = (a + b) * c / d       #( 30 * 15 ) / 5
print ("(a + b) * c / d 运算结果为：",  e)
 
e = ((a + b) * c) / d     # (30 * 15 ) / 5
print ("((a + b) * c) / d 运算结果为：",  e)
 
e = (a + b) * (c / d)    # (30) * (15/5)
print ("(a + b) * (c / d) 运算结果为：",  e)
 
e = a + (b * c) / d      #  20 + (150/5)
print ("a + (b * c) / d 运算结果为：",  e)

(a + b) * c / d 运算结果为： 90.0
((a + b) * c) / d 运算结果为： 90.0
(a + b) * (c / d) 运算结果为： 90.0
a + (b * c) / d 运算结果为： 50.0

In [7]:
x = True
y = False
z = False
 
if x or y and z:
    print("yes")
else:
    print("no")

yes

In [8]:
#!/usr/bin/python3
 
var1 = 'Hello World!'
 
print ("已更新字符串 : ", var1[:6] + 'Runoob!')

已更新字符串 :  Hello Runoob!

In [9]:
#!/usr/bin/python3
 
a = "Hello"
b = "Python"
 
print("a + b 输出结果：", a + b)
print("a * 2 输出结果：", a * 2)
print("a[1] 输出结果：", a[1])
print("a[1:4] 输出结果：", a[1:4])
 
if( "H" in a) :
    print("H 在变量 a 中")
else :
    print("H 不在变量 a 中")
 
if( "M" not in a) :
    print("M 不在变量 a 中")
else :
    print("M 在变量 a 中")
 
print (r'\n')
print (R'\n')

a + b 输出结果： HelloPython
a * 2 输出结果： HelloHello
a[1] 输出结果： e
a[1:4] 输出结果： ell
H 在变量 a 中
M 不在变量 a 中
\n
\n

In [10]:
>>> name = 'Runoob'
>>> f'Hello {name}'  
'Hello Runoob'
>>> f'{1+2}'         
'3'

>>> w = {'name': 'Runoob', 'url': 'www.runoob.com'}
>>> f'{w["name"]}: {w["url"]}'
'Runoob: www.runoob.com'

'Runoob: www.runoob.com'

In [11]:
>>> x = 1
>>> print(f'{x+1}')   
2

>>> x = 1
>>> print(f'{x+1=}')   
'x+1=2'

2
x+1=2

'x+1=2'

In [12]:
list1 = ['Google', 'Runoob', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]
list4 = ['red', 'green', 'blue', 'yellow', 'white', 'black']

In [13]:
#!/usr/bin/python3

list = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print( list[0] )
print( list[1] )
print( list[2] )

red
green
blue

In [14]:
#!/usr/bin/python3

list = ['red', 'green', 'blue', 'yellow', 'white', 'black']
print( list[-1] )
print( list[-2] )
print( list[-3] )

black
white
yellow

In [15]:
view-toggle line number

SyntaxError: invalid syntax (<ipython-input-15-94b812732e2d>, line 1)