In [1]:
print("Hello world!")

Hello world!

In [2]:
miles=1000;
miles

1000

In [4]:
a=10;b=20;c=30;
a,b,c

(10, 20, 30)

In [5]:
a=c-b;
a

10

In [6]:
print(b)

20

In [7]:
"KFC"

'KFC'

In [9]:
numberInt=1;
numberFloat=2.3;
stringStr="I don't know!"

In [10]:
numberInt

1

In [12]:
numberFloat

2.3

In [13]:
stringStr

"I don't know!"

In [14]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
print(50+20)

70

In [16]:
print(50*20)

1000

In [17]:
print(50+20*10)

250

In [18]:
print(50+20/10)

52.0

In [21]:
a='I ';
b='Love ';
c='U';

In [22]:
a+b+c

'I Love U'

In [23]:
days = "Mon Tue Wed Thu Fri Sat Sun"
months = "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"
print(days,months)

Mon Tue Wed Thu Fri Sat Sun Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [3]:
a=20
b=10
c=15
d=5
e=0

e=(a+b)*c/d #(30*15)/5
print("(a+b)*c/d caculate result is:",e)

(a+b)*c/d caculate result is: 90.0

In [1]:
w="This is the lest side of ..."
e="a string with a right sdie."
print(w+e)

This is the lest side of ...a string with a right sdie.

In [2]:
print("how old are you? ",end='')
age=input()
print("how tall are you? ",end='')
height=input()
print(f"So, you're {age} years old, {height}m tall.")

how old are you?

 23

how tall are you?

 173

So, you're 23 years old, 173m tall.

In [3]:
age=input("how old are you? ")

height=input("how tall are you? ")

print(f"So, you're {age} years old, {height}m tall.")

how old are you?  23
how tall are you?  173

So, you're 23 years old, 173m tall.

In [4]:
from sys import argv
script,first,second=argv
print("the scrpt name: ",script)
print("the first variable name: ",first) 
print("the second variable name: ",second)

the scrpt name:  /Users/liu/opt/anaconda3/lib/python3.8/site-packages/ipykernel_launcher.py
the first variable name:  -f
the second variable name:  /Users/liu/Library/Jupyter/runtime/kernel-b92a6908-4687-4a67-a270-da8bfe31bab3.json

In [7]:
strings=['a','as','bat','car','dove','python']

In [8]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [9]:
unique_lengths={len(x) for x in strings}

In [10]:
unique_lengths

{1, 2, 3, 4, 6}

In [11]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [12]:
loc_mapping={val:index for index,val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [13]:
all_data=[['john','emily','michael','mary','steven'],['maria','juan','javier','natalia','pilar']]

In [14]:
result=[name for names in all_data for name in names
       if name.count('e')>=2]

In [15]:
result

['steven']

In [16]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]

In [17]:
flattened=[x for tup in some_tuples for x in tup]

In [18]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
flattened=[]

In [20]:
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [21]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
b=['saw','small','he','foxes','six']

In [23]:
b.sort(key=len)

In [24]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [25]:
import bisect

In [26]:
c=[1,2,3,4,4,5,6,3822,223,4,2,2,2,]

In [27]:
bisect.bisect(c,2)

2

In [28]:
bisect.bisect(c,5)

6

In [29]:
bisect.insort(c,6)

In [30]:
c

[1, 2, 3, 4, 4, 5, 6, 3822, 223, 4, 2, 2, 2, 6]

In [31]:
seq=[7,2,3,7,3,2,2,3,43,2,2]

In [32]:
seq[1:5]

[2, 3, 7, 3]

In [33]:
seq[3:4]=[6,3]

In [34]:
seq

[7, 2, 3, 6, 3, 3, 2, 2, 3, 43, 2, 2]

In [35]:
seq[:5]

[7, 2, 3, 6, 3]

In [36]:
seq[3:]

[6, 3, 3, 2, 2, 3, 43, 2, 2]

In [37]:
seq[-4:]

[3, 43, 2, 2]

In [38]:
seq[-6:-2]

[2, 2, 3, 43]

In [39]:
seq[::2]

[7, 3, 3, 2, 3, 2]

In [40]:
seq[::-1]

[2, 2, 43, 3, 2, 2, 3, 3, 6, 3, 2, 7]

In [41]:
some_list=['foo','bar','baz']

In [42]:
mapping={}

In [43]:
for i,v in enumerate(some_list):
    mapping[v]=i

In [44]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [45]:
seq1=['foo','bar','baz']

In [46]:
seq2=['one','two','three']

In [47]:
zipped=zip(seq1,seq2)

In [48]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [49]:
seq3 =[False,True]

In [50]:
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [51]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [52]:
pitchers=[('nolan','ryan'),('reger','clemens'),('schilling','curt')]

In [53]:
first_names,last_names=zip(*pitchers)

In [54]:
first_names

('nolan', 'reger', 'schilling')

In [55]:
last_names

('ryan', 'clemens', 'curt')

In [56]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [57]:
empty_dict={}

In [58]:
d1={'a':'some values',"b":[1,2,3,4]}

In [59]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4]}

In [60]:
d1[7]='an integer'

In [61]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [62]:
d1['b']

[1, 2, 3, 4]

In [63]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [64]:
from sys import argv
script,first,second,=argv
print("The script is called:",script)
print("Your first variable is:",first)
print("Your second variable is:",second)

The script is called: /Users/liu/opt/anaconda3/lib/python3.8/site-packages/ipykernel_launcher.py
Your first variable is: -f
Your second variable is: /Users/liu/Library/Jupyter/runtime/kernel-b92a6908-4687-4a67-a270-da8bfe31bab3.json

In [65]:
def GetPrime(n):
    Prime=[]
    for a in range(2,n+1):
        for b in range(2,a):
            if a%b==0:
                break
        else:
            Prime.append(a)
    return Prime
print(GetPrime(10))

[2, 3, 5, 7]

In [66]:
#9x9乘法表
for i in range(1,10):
      for b in range(1,i+1):
            print("{0}x{1}={2}".format(b,i,b*i),end="\t")
      print()

1x1=1
1x2=2	2x2=4
1x3=3	2x3=6	3x3=9
1x4=4	2x4=8	3x4=12	4x4=16
1x5=5	2x5=10	3x5=15	4x5=20	5x5=25
1x6=6	2x6=12	3x6=18	4x6=24	5x6=30	6x6=36
1x7=7	2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49
1x8=8	2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64
1x9=9	2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [67]:
print(list(range(0,100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [68]:
c

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2

In [128]:
print('Hello YY\n')
print('*',end='')
print(' '*10,end='')
print('*  *',end='')
print(' '*10,end='')
print('*')
for i in range(1,10):
    for j in range(0,i):
        print(' ',end='')
    print('*',end='')
    for w in range(i,10-i):
        print(' ',end='')
    print('*',end='')
    for j in range(0,i+i+2):
        print(' ',end='')
    print('*',end='')
    for w in range(i,10-i):
        print(' ',end='')
    print('*')
    if(i==10-i):
        for w in range(1,8):
            print(' '*5,end='')
            print('**',end='')
            print(' '*12,end='')
            print('**')
        break
#for i in range(5):
 #   print('*        *')
#print('*' * 10)
#print('*\n' * 6)

Hello YY

*          *  *          *
 *        *    *        *
  *      *      *      *
   *    *        *    *
    *  *          *  *
     **            **
     **            **
     **            **
     **            **
     **            **
     **            **
     **            **
     **            **

In [1]:
counter = 100          # 整型变量
miles   = 1000.0       # 浮点型变量
name    = "runoob"     # 字符串

print (counter)
print (miles)
print (name)

100
1000.0
runoob

In [2]:
str = 'Runoob'

print (str)          # 输出字符串
print (str[0:-1])    # 输出第一个到倒数第二个的所有字符
print (str[0])       # 输出字符串第一个字符
print (str[2:5])     # 输出从第三个开始到第五个的字符
print (str[2:])      # 输出从第三个开始的后的所有字符
print (str * 2)      # 输出字符串两次，也可以写成 print (2 * str) 
print (str + "TEST") # 连接字符串

Runoob
Runoo
R
noo
noob
RunoobRunoob
RunoobTEST

In [3]:
print('Ru\noob')

Ru
oob

In [4]:
print(r'Ru\noob')

Ru\noob

In [5]:
word = 'Python'

In [6]:
print(word[0], word[5])

P n

In [7]:
print(word[-1], word[-6])

n P

In [8]:
list = [ 'abcd', 786 , 2.23, 'runoob', 70.2 ]
tinylist = [123, 'runoob']

print (list)            # 输出完整列表
print (list[0])         # 输出列表第一个元素
print (list[1:3])       # 从第二个开始输出到第三个元素
print (list[2:])        # 输出从第三个元素开始的所有元素
print (tinylist * 2)    # 输出两次列表
print (list + tinylist) # 连接列表

['abcd', 786, 2.23, 'runoob', 70.2]
abcd
[786, 2.23]
[2.23, 'runoob', 70.2]
[123, 'runoob', 123, 'runoob']
['abcd', 786, 2.23, 'runoob', 70.2, 123, 'runoob']

In [9]:
a = [1, 2, 3, 4, 5, 6]

In [10]:
a[0] = 9

In [11]:
a[2:5] = [13, 14, 15]

In [12]:
a

[9, 2, 13, 14, 15, 6]

In [13]:
a[2:5] = []   # 将对应的元素值设置为 []

In [14]:
a

[9, 2, 6]

In [15]:
def reverseWords(input): 
      
    # 通过空格将字符串分隔符，把各个单词分隔为列表
    inputWords = input.split(" ") 
  
    # 翻转字符串
    # 假设列表 list = [1,2,3,4],  
    # list[0]=1, list[1]=2 ，而 -1 表示最后一个元素 list[-1]=4 ( 与 list[3]=4 一样) 
    # inputWords[-1::-1] 有三个参数
    # 第一个参数 -1 表示最后一个元素
    # 第二个参数为空，表示移动到列表末尾
    # 第三个参数为步长，-1 表示逆向
    inputWords=inputWords[-1::-1] 
  
    # 重新组合字符串
    output = ' '.join(inputWords) 
      
    return output 
  
if __name__ == "__main__": 
    input = 'I like runoob'
    rw = reverseWords(input) 
    print(rw)

runoob like I

In [16]:
tuple = ( 'abcd', 786 , 2.23, 'runoob', 70.2  )
tinytuple = (123, 'runoob')

print (tuple)             # 输出完整元组
print (tuple[0])          # 输出元组的第一个元素
print (tuple[1:3])        # 输出从第二个元素开始到第三个元素
print (tuple[2:])         # 输出从第三个元素开始的所有元素
print (tinytuple * 2)     # 输出两次元组
print (tuple + tinytuple) # 连接元组

('abcd', 786, 2.23, 'runoob', 70.2)
abcd
(786, 2.23)
(2.23, 'runoob', 70.2)
(123, 'runoob', 123, 'runoob')
('abcd', 786, 2.23, 'runoob', 70.2, 123, 'runoob')

In [17]:
>>> tup = (1, 2, 3, 4, 5, 6)
>>> print(tup[0])

1

In [18]:
>>> print(tup[1:5])

(2, 3, 4, 5)

In [19]:
sites = {'Google', 'Taobao', 'Runoob', 'Facebook', 'Zhihu', 'Baidu'}

print(sites)   # 输出集合，重复的元素被自动去掉

# 成员测试
if 'Runoob' in sites :
    print('Runoob 在集合中')
else :
    print('Runoob 不在集合中')


# set可以进行集合运算
a = set('abracadabra')
b = set('alacazam')

print(a)

print(a - b)     # a 和 b 的差集

print(a | b)     # a 和 b 的并集

print(a & b)     # a 和 b 的交集

print(a ^ b)     # a 和 b 中不同时存在的元素

{'Facebook', 'Google', 'Baidu', 'Runoob', 'Taobao', 'Zhihu'}
Runoob 在集合中
{'r', 'b', 'c', 'a', 'd'}
{'r', 'b', 'd'}
{'a', 'z', 'r', 'b', 'm', 'c', 'l', 'd'}
{'c', 'a'}
{'r', 'b', 'm', 'z', 'd', 'l'}

In [20]:
dict = {}
dict['one'] = "1 - 菜鸟教程"
dict[2]     = "2 - 菜鸟工具"

tinydict = {'name': 'runoob','code':1, 'site': 'www.runoob.com'}


print (dict['one'])       # 输出键为 'one' 的值
print (dict[2])           # 输出键为 2 的值
print (tinydict)          # 输出完整的字典
print (tinydict.keys())   # 输出所有键
print (tinydict.values()) # 输出所有值

1 - 菜鸟教程
2 - 菜鸟工具
{'name': 'runoob', 'code': 1, 'site': 'www.runoob.com'}
dict_keys(['name', 'code', 'site'])
dict_values(['runoob', 1, 'www.runoob.com'])

In [21]:
a = 21
b = 10
c = 0
 
c = a + b
print ("1 - c 的值为：", c)
 
c = a - b
print ("2 - c 的值为：", c)
 
c = a * b
print ("3 - c 的值为：", c)
 
c = a / b
print ("4 - c 的值为：", c)
 
c = a % b
print ("5 - c 的值为：", c)
 
# 修改变量 a 、b 、c
a = 2
b = 3
c = a**b 
print ("6 - c 的值为：", c)
 
a = 10
b = 5
c = a//b 
print ("7 - c 的值为：", c)

1 - c 的值为： 31
2 - c 的值为： 11
3 - c 的值为： 210
4 - c 的值为： 2.1
5 - c 的值为： 1
6 - c 的值为： 8
7 - c 的值为： 2

In [22]:
a = 21
b = 10
c = 0
 
if ( a == b ):
   print ("1 - a 等于 b")
else:
   print ("1 - a 不等于 b")
 
if ( a != b ):
   print ("2 - a 不等于 b")
else:
   print ("2 - a 等于 b")
 
if ( a < b ):
   print ("3 - a 小于 b")
else:
   print ("3 - a 大于等于 b")
 
if ( a > b ):
   print ("4 - a 大于 b")
else:
   print ("4 - a 小于等于 b")
 
# 修改变量 a 和 b 的值
a = 5
b = 20
if ( a <= b ):
   print ("5 - a 小于等于 b")
else:
   print ("5 - a 大于  b")
 
if ( b >= a ):
   print ("6 - b 大于等于 a")
else:
   print ("6 - b 小于 a")

1 - a 不等于 b
2 - a 不等于 b
3 - a 大于等于 b
4 - a 大于 b
5 - a 小于等于 b
6 - b 大于等于 a

In [23]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0
 
c = a & b        # 12 = 0000 1100
print ("1 - c 的值为：", c)
 
c = a | b        # 61 = 0011 1101 
print ("2 - c 的值为：", c)
 
c = a ^ b        # 49 = 0011 0001
print ("3 - c 的值为：", c)
 
c = ~a           # -61 = 1100 0011
print ("4 - c 的值为：", c)
 
c = a << 2       # 240 = 1111 0000
print ("5 - c 的值为：", c)
 
c = a >> 2       # 15 = 0000 1111
print ("6 - c 的值为：", c)

1 - c 的值为： 12
2 - c 的值为： 61
3 - c 的值为： 49
4 - c 的值为： -61
5 - c 的值为： 240
6 - c 的值为： 15

In [24]:
a = 10
b = 20
 
if ( a and b ):
   print ("1 - 变量 a 和 b 都为 true")
else:
   print ("1 - 变量 a 和 b 有一个不为 true")
 
if ( a or b ):
   print ("2 - 变量 a 和 b 都为 true，或其中一个变量为 true")
else:
   print ("2 - 变量 a 和 b 都不为 true")
 
# 修改变量 a 的值
a = 0
if ( a and b ):
   print ("3 - 变量 a 和 b 都为 true")
else:
   print ("3 - 变量 a 和 b 有一个不为 true")
 
if ( a or b ):
   print ("4 - 变量 a 和 b 都为 true，或其中一个变量为 true")
else:
   print ("4 - 变量 a 和 b 都不为 true")
 
if not( a and b ):
   print ("5 - 变量 a 和 b 都为 false，或其中一个变量为 false")
else:
   print ("5 - 变量 a 和 b 都为 true")

1 - 变量 a 和 b 都为 true
2 - 变量 a 和 b 都为 true，或其中一个变量为 true
3 - 变量 a 和 b 有一个不为 true
4 - 变量 a 和 b 都为 true，或其中一个变量为 true
5 - 变量 a 和 b 都为 false，或其中一个变量为 false

In [25]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ]
 
if ( a in list ):
   print ("1 - 变量 a 在给定的列表中 list 中")
else:
   print ("1 - 变量 a 不在给定的列表中 list 中")
 
if ( b not in list ):
   print ("2 - 变量 b 不在给定的列表中 list 中")
else:
   print ("2 - 变量 b 在给定的列表中 list 中")
 
# 修改变量 a 的值
a = 2
if ( a in list ):
   print ("3 - 变量 a 在给定的列表中 list 中")
else:
   print ("3 - 变量 a 不在给定的列表中 list 中")

1 - 变量 a 不在给定的列表中 list 中
2 - 变量 b 不在给定的列表中 list 中
3 - 变量 a 在给定的列表中 list 中

In [26]:
a = 20
b = 20
 
if ( a is b ):
   print ("1 - a 和 b 有相同的标识")
else:
   print ("1 - a 和 b 没有相同的标识")
 
if ( id(a) == id(b) ):
   print ("2 - a 和 b 有相同的标识")
else:
   print ("2 - a 和 b 没有相同的标识")
 
# 修改变量 b 的值
b = 30
if ( a is b ):
   print ("3 - a 和 b 有相同的标识")
else:
   print ("3 - a 和 b 没有相同的标识")
 
if ( a is not b ):
   print ("4 - a 和 b 没有相同的标识")
else:
   print ("4 - a 和 b 有相同的标识")

1 - a 和 b 有相同的标识
2 - a 和 b 有相同的标识
3 - a 和 b 没有相同的标识
4 - a 和 b 没有相同的标识

In [27]:
a = [1, 2, 3]

In [28]:
b=a

In [29]:
b is a

True

In [30]:
b==a

True

In [31]:
b=a[:]

In [32]:
b is a

False

In [33]:
b==a

True

In [34]:
a = 20
b = 10
c = 15
d = 5
e = 0
 
e = (a + b) * c / d       #( 30 * 15 ) / 5
print ("(a + b) * c / d 运算结果为：",  e)

(a + b) * c / d 运算结果为： 90.0

In [35]:
e = ((a + b) * c) / d     # (30 * 15 ) / 5
print ("((a + b) * c) / d 运算结果为：",  e)

((a + b) * c) / d 运算结果为： 90.0

In [36]:
e = (a + b) * (c / d)    # (30) * (15/5)
print ("(a + b) * (c / d) 运算结果为：",  e)

(a + b) * (c / d) 运算结果为： 90.0

In [37]:
e = a + (b * c) / d      #  20 + (150/5)
print ("a + (b * c) / d 运算结果为：",  e)

a + (b * c) / d 运算结果为： 50.0

In [38]:
x = True
y = False
z = False
 
if x or y and z:
    print("yes")
else:
    print("no")

yes

In [39]:
number = 0xA0F # 十六
number

2575

In [40]:
>>> number=0o37 # 八进制
>>> number

31

In [41]:
>>> a = 1.0
>>> int(a)

1

In [42]:
>>> width = 20
>>> height = 5*9
>>> width * height

900

In [43]:
>>> 5 ** 2  # 5 的平方

25

In [44]:
>>> 2 ** 7  # 2的7次方

128

In [45]:
>>> tax = 12.5 / 100
>>> price = 100.50
>>> price * tax

12.5625

In [46]:
>>> price + _

113.0625

In [47]:
>>> round(_, 2)

113.06

In [48]:
list = ['red', 'green', 'blue', 'yellow', 'white', 'black']

In [49]:
print( list[0] )

red

In [50]:
print( list[1] )

green

In [51]:
print( list[2] )

blue

In [52]:
list = ['red', 'green', 'blue', 'yellow', 'white', 'black']

In [53]:
print( list[-1] )

black

In [54]:
print( list[-2] )

white

In [55]:
print( list[-3] )

yellow

In [56]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(nums[0:4])

[10, 20, 30, 40]

In [57]:
list = ['Google', 'Runoob', "Zhihu", "Taobao", "Wiki"]
 
# 读取第二位
print ("list[1]: ", list[1])
# 从第二位开始（包含）截取到倒数第二位（不包含）
print ("list[1:-2]: ", list[1:-2])

list[1]:  Runoob
list[1:-2]:  ['Runoob', 'Zhihu']

In [58]:
list = ['Google', 'Runoob', 1997, 2000]
 
print ("第三个元素为 : ", list[2])
list[2] = 2001
print ("更新后的第三个元素为 : ", list[2])

第三个元素为 :  1997
更新后的第三个元素为 :  2001

In [59]:
list = ['Google', 'Runoob', 1997, 2000]
 
print ("原始列表 : ", list)
del list[2]
print ("删除第三个元素 : ", list)

原始列表 :  ['Google', 'Runoob', 1997, 2000]
删除第三个元素 :  ['Google', 'Runoob', 2000]

In [62]:
tup1 = ('Google', 'Runoob', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
 
print ("tup1[0]: ", tup1[0])

tup1[0]:  Google

In [63]:
print ("tup2[1:5]: ", tup2[1:5])

tup2[1:5]:  (2, 3, 4, 5)

In [64]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
 
# 以下修改元组元素操作是非法的。
# tup1[0] = 100
 
# 创建一个新的元组
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [65]:
tup = ('Google', 'Runoob', 1997, 2000)
 
print (tup)
del tup
print ("删除后的元组 tup : ")

('Google', 'Runoob', 1997, 2000)
删除后的元组 tup :

In [67]:
dict = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Runoob
dict['Age']:  7

In [68]:
dict = {'Name': 'Runoob', 'Age': 7, 'Class': 'First'}
 
dict['Age'] = 8               # 更新 Age
dict['School'] = "菜鸟教程"  # 添加信息
 
 
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  菜鸟教程

In [69]:
dict = {'Name': 'Runoob', 'Age': 7, 'Name': '小菜鸟'}
 
print ("dict['Name']: ", dict['Name'])

dict['Name']:  小菜鸟

In [70]:
>>> thisset = set(("Google", "Runoob", "Taobao"))
>>> thisset.add("Facebook")
>>> print(thisset)

{'Runoob', 'Facebook', 'Taobao', 'Google'}

In [71]:
>>> thisset = set(("Google", "Runoob", "Taobao"))
>>> thisset.update({1,3})
>>> print(thisset)

{'Runoob', 1, 3, 'Google', 'Taobao'}

In [72]:
>>> thisset.update([1,4],[5,6])  
>>> print(thisset)

{'Runoob', 1, 3, 4, 'Google', 5, 6, 'Taobao'}

In [73]:
>>> thisset = set(("Google", "Runoob", "Taobao"))
>>> thisset.discard("Facebook")  # 不存在不会发生错误
>>> print(thisset)

{'Runoob', 'Taobao', 'Google'}

In [74]:
thisset = set(("Google", "Runoob", "Taobao", "Facebook"))
x = thisset.pop()

print(x)

Runoob

In [75]:
>>> thisset = set(("Google", "Runoob", "Taobao"))
>>> len(thisset)

3

In [76]:
>>> thisset = set(("Google", "Runoob", "Taobao"))
>>> thisset.clear()
>>> print(thisset)

set()

In [77]:
>>> thisset = set(("Google", "Runoob", "Taobao"))
>>> "Runoob" in thisset

True

In [78]:
>>> "Facebook" in thisset

False

In [79]:
a, b = 0, 1
while b < 10:
    print(b)
    a, b = b, a+b

1
1
2
3
5
8

In [80]:
a, b = 0, 1
while b < 1000:
    print(b, end=',')
    a, b = b, a+b

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,