In [2]:
a,b=1,2
c=a+b
c

3

In [3]:
1+2

3

In [4]:
num1=15/3
print(num1)

5.0

In [6]:
T=True
F=False
print(T,F)

True False

In [7]:
T=True
print(T+10)

11

In [8]:
F=bool(0)
print(F)

False

In [9]:
print(1>2)

False

In [10]:
T=True
F=False
#F=bool(0)
print(T or F)
print(T and F)
print(not F)

True
False
True

In [11]:
print(1>2 and 2<1)

False

In [12]:
coml=15.0j
print(type(coml))

<class 'complex'>

In [14]:
coml=15.j
print(complex(1))
print(complex("3+5j"))
print(complex(3,2))
print(complex())
print(coml)

(1+0j)
(3+5j)
(3+2j)
0j
15j

In [19]:
str1="hello world"
str2="I am fine, and you?"

print=("str1原文: ", str1)
print=("str2原文: ", str2)

print("1.str1[1]: ", str1[1])

TypeError: 'tuple' object is not callable

In [20]:
strl="hello"
str2="python"
str3="!"
strjoin1=str1+" "+str2+" "+str3
print("1.+拼接: ", strjoin1)

TypeError: 'tuple' object is not callable

In [34]:
str="Runoob"

print(str)
print(str[0;2])
print(str[0])
print(str[2;5])
print(str[2;])
print(str[1;5;2])
print(str*2)
print(str+"你好")

SyntaxError: invalid syntax (<ipython-input-34-af7d687a6b34>, line 4)

In [54]:
z="s"
u="t"

print(z)
print(u)

print('------------')

print( z, end=" ")
print( u, end=" ")
print()

TypeError: 'tuple' object is not callable

In [67]:
counter = 100          
miles   = 1000.0        
name    = "runoob"      

print (counter)
print (miles)
print (name)

TypeError: 'tuple' object is not callable

In [31]:
tup=4,5,6
tup

(4, 5, 6)

In [39]:
(3, 'hello','hi')+(1,2)+('python',)

(3, 'hello', 'hi', 1, 2, 'python')

In [40]:
b

2

In [41]:
a

1

In [50]:
c

3

In [58]:
a=[3,1,5,2,9]

In [52]:
a.sort()

In [53]:
a

[1, 2, 3, 5, 9]

In [64]:
print("I love you")

TypeError: 'tuple' object is not callable

In [68]:
counter = 100          # 整型变量
miles   = 1000.0       # 浮点型变量
name    = "runoob"     # 字符串

In [69]:
counter

100

In [4]:
miles

NameError: name 'miles' is not defined

In [5]:
a=b=c=1

In [6]:
a

1

In [7]:
b

1

In [8]:
c

1

In [10]:
print("Hens", 25 + 42 / 6)

Hens 32.0

In [11]:
5+2+8-9+6%2-2/6+9

14.666666666666668

In [12]:
print("That is OK", 6>2)

That is OK True

In [13]:
7>=4

True

In [14]:
6>6

False

In [15]:
7>=7

True

In [16]:
3+8<10+4

True

In [17]:
a,b=7,8

In [18]:
c=a+b

In [19]:
c

15

In [21]:
my_name="Damon"
my_age=25#not a lie
my_height=67#inches
my_weight=181#lbs

print(f"Let's talk about {my_name}.")
print(f"He's {my_height} inches tall.")
print(f"He's {my_weight} pounds heavy.")

# this line is tricky, try to get it exactly right
total = my_age + my_height + my_weight
print(f"If I add {my_age}, {my_height}, and {my_weight} I get {total}.")

Let's talk about Damon.
He's 67 inches tall.
He's 181 pounds heavy.
If I add 25, 67, and 181 I get 273.

In [22]:
formatter = "{} {} {} {}"

print(formatter.format(1, 2, 3, 4))
print(formatter.format("one", "two", "three", "four"))
print(formatter.format(True, False, False, True))
print(formatter.format(formatter, formatter, formatter, formatter))
print(formatter.format(
    "I had this thing.",
    "That you could type up right.",
    "But it didn't sing.",
    "So I said goodnight."
))

1 2 3 4
one two three four
True False False True
{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}
I had this thing. That you could type up right. But it didn't sing. So I said goodnight.

In [24]:
print("How old are you?", end=' ')
age = input()
print("How tall are you?", end=' ')
height = input()
print("How much do you weigh?", end=' ')
weight = input()

print(f"So, you're {age} old, {height} tall and {weight} heavy.")

How old are you? 25
How tall are you? 181
How much do you weigh? 67
So, you're 25 old, 181 tall and 67 heavy.

In [25]:
# Here's some new strange stuff, remember type it exactly.

days = "Mon Tue Wed Thu Fri Sat Sun"
months = "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"

print("Here are the days: ", days)
print("Here are the months: ", months)

print("""
There's something going on here.
With the three double-quotes.
We'll be able to type as much as we like.
Even 4 lines if we want, or 5, or 6.
""")

Here are the days:  Mon Tue Wed Thu Fri Sat Sun
Here are the months:  Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

There's something going on here.
With the three double-quotes.
We'll be able to type as much as we like.
Even 4 lines if we want, or 5, or 6.

In [26]:
tabby_cat = "\tI'm tabbed in."
persian_cat = "I'm split\non a line."
backslash_cat = "I'm \\ a \\ cat."

fat_cat = """
I'll do a list:
\t* Cat food
\t* Fishies
\t* Catnip\n\t* Grass
"""

print(tabby_cat)
print(persian_cat)
print(backslash_cat)
print(fat_cat)

	I'm tabbed in.
I'm split
on a line.
I'm \ a \ cat.

I'll do a list:
	* Cat food
	* Fishies
	* Catnip
	* Grass