In [1]:
import numpy as np
data1=[1,2,3,4,5]
array1=np.array(data1)
array1

array([1, 2, 3, 4, 5])

In [2]:
data2=[[1,3,4],[2,5,6]]
array2=np.array(data2)
array2

array([[1, 3, 4],
       [2, 5, 6]])

In [4]:
array2.dtype

dtype('int32')

In [4]:
tup=4,5,6
tup

(4, 5, 6)

In [5]:
nested_tup=(4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [7]:
tuple([4,0,2])

(4, 0, 2)

In [11]:
tup=tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [12]:
tup[0]

's'

In [15]:
tup=tuple(['foo',[1,3],'true'])
tup[1].append(3)
tup

('foo', [1, 3, 3], 'true')

In [18]:
(4,'none','foo')+(6,0)+('bar',)

(4, 'none', 'foo', 6, 0, 'bar')

In [19]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [20]:
tup=(4,5,6)

In [21]:
a,b,c=tup

In [23]:
b

5

In [24]:
tup=4,5,(6,7)

In [25]:
a,b,(c,d)=tup

In [26]:
d

7

In [27]:
a,b=1,2

In [28]:
a

1

In [30]:
b

2

In [31]:
b,a=a,b

In [32]:
a

2

In [35]:
b

1

In [36]:
seq=[(1,23,3),(4,5,6),(7,8,9)]

In [40]:
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=23,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [41]:
values=1,2,3,4,5

In [42]:
a,b,*rest=values

In [43]:
a,b

(1, 2)

In [44]:
rest

[3, 4, 5]

In [45]:
a=(1,2,3,3,3,4,5,66)

In [46]:
a.count(2)

1

In [49]:
a_list=[2,3,7,'none']

In [50]:
tup=('foo','bar','baz')

In [51]:
b_list=list(tup)

In [52]:
b_list

['foo', 'bar', 'baz']

In [53]:
b_list[1]='peekaboo'

In [54]:
b_list

['foo', 'peekaboo', 'baz']

In [55]:
gen=range(10)

In [56]:
gen

range(0, 10)

In [57]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
 b_list.append('dwarf')

In [59]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [60]:
b_list.insert(1,'red')

In [62]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [63]:
b_list.pop(2)

'peekaboo'

In [65]:
b_list.append('foo')

In [66]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [67]:
b_list.remove('foo')

In [68]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [69]:
'dwarf' in b_list

True

In [71]:
[4,'nonoe','foo']+[7,8,(2,3)]

[4, 'nonoe', 'foo', 7, 8, (2, 3)]

In [72]:
x=[4,'none','foo']

In [74]:
x.extend([7,8,(2,3)])

In [75]:
x

[4, 'none', 'foo', 7, 8, (2, 3)]

In [76]:
everything=[],list_of_lists=[1,2,3,4,5]

In [78]:
for chunk in list_of_lists:
    everything.extend(chunk)

NameError: name 'list_of_lists' is not defined

In [79]:
a=[7,2,5,1,3]

In [80]:
a.sort()

In [81]:
a

[1, 2, 3, 5, 7]

In [82]:
b=['saw','small','he','foxes','six']

In [83]:
b.sort(key=len)

In [84]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [86]:
import bisect

In [87]:
c=[1,2,3,4,4,5,6,3822,223,4,2,2,2,]

In [88]:
bisect.bisect(c,2)

2

In [89]:
bisect.bisect(c,5)

6

In [90]:
bisect.insort(c,6)

In [91]:
c

[1, 2, 3, 4, 4, 5, 6, 3822, 223, 4, 2, 2, 2, 6]

In [92]:
seq=[7,2,3,7,3,2,2,3,43,2,2]

In [93]:
seq[1:5]

[2, 3, 7, 3]

In [94]:
seq[3:4]=[6,3]

In [95]:
seq

[7, 2, 3, 6, 3, 3, 2, 2, 3, 43, 2, 2]

In [96]:
seq[:5]

[7, 2, 3, 6, 3]

In [97]:
seq[3:]

[6, 3, 3, 2, 2, 3, 43, 2, 2]

In [98]:
seq[-4:]

[3, 43, 2, 2]

In [99]:
seq[-6:-2]

[2, 2, 3, 43]

In [100]:
seq[::2]

[7, 3, 3, 2, 3, 2]

In [101]:
seq[::-1]

[2, 2, 43, 3, 2, 2, 3, 3, 6, 3, 2, 7]

In [102]:
some_list=['foo','bar','baz']

In [103]:
mapping={}

In [104]:
for i,v in enumerate(some_list):
    mapping[v]=i

In [105]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [106]:
sorted([7,1,2,3,0,3,2])

[0, 1, 2, 2, 3, 3, 7]

In [107]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [108]:
seq1=['foo','bar','baz']

In [109]:
seq2=['one','two','three']

In [110]:
zipped=zip(seq1,seq2)

In [112]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [113]:
seq3 =[False,True]

In [117]:
list(zip(seq1,seq2,seq3))

NameError: name 'seq3' is not defined

In [121]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    print('{0}:{1},{2}'.format(i,a,b))

0:foo,one
1:bar,two
2:baz,three

In [123]:
pitchers=[('nolan','ryan'),('reger','clemens'),('schilling','curt')]

In [125]:
first_names,last_names=zip(*pitchers)

In [126]:
first_names

('nolan', 'reger', 'schilling')

In [127]:
last_names

('ryan', 'clemens', 'curt')

In [128]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [129]:
empty_dict={}

In [130]:
d1={'a':'some values',"b":[1,2,3,4]}

In [131]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4]}

In [132]:
d1[7]='an integer'

In [133]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [134]:
d1['b']

[1, 2, 3, 4]

In [135]:
'b' in d1

True

In [136]:
d1[5]='some value'

In [137]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [138]:
d1['dummy']='another value'

In [139]:
d1

{'a': 'some values',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [140]:
del d1[5]

In [141]:
d1

{'a': 'some values',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [142]:
ret=d1.pop('dummy')

In [143]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [144]:
list(d1.keys())

['a', 'b', 7]

In [146]:
list(d1.values())

['some values', [1, 2, 3, 4], 'an integer']

In [147]:
d1.update({'b':'foo','c':133})

In [148]:
d1

{'a': 'some values', 'b': 'foo', 7: 'an integer', 'c': 133}

In [149]:
mapping=dict(zip(range(5),reversed(range(5))))

In [150]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [151]:
words=['apple','bat','bar','atom','book']

In [152]:
by_letter={}

In [155]:
for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

In [157]:
by_letter

{'a': ['apple', 'apple', 'atom'], 'b': ['bat', 'bat', 'bar', 'book']}

In [158]:
hash('string')

4406280596449301580

In [160]:
hash((1,2,(2,3)))

-9209053662355515447

In [161]:
d={}

In [163]:
d[tuple([1,2,3])]=5

In [164]:
d

{(1, 2, 3): 5}

In [165]:
set([2,2,21,3,3])

{2, 3, 21}

In [166]:
{1,22,23,2,2,}

{1, 2, 22, 23}

In [167]:
a={1,2,3,4,5}

In [168]:
b={3,34,3,2,1}

In [169]:
a.union(b)

{1, 2, 3, 4, 5, 34}

In [170]:
a|b

{1, 2, 3, 4, 5, 34}

In [171]:
a.intersection(b)

{1, 2, 3}

In [172]:
a&b

{1, 2, 3}

In [174]:
c=a.copy()

In [175]:
c |=b

In [176]:
c

{1, 2, 3, 4, 5, 34}

In [177]:
d=a.copy()

In [178]:
d&=b

In [179]:
d

{1, 2, 3}

In [180]:
my_data=[1,2,3,4]

In [181]:
my_set={tuple(my_data)}

In [182]:
my_set

{(1, 2, 3, 4)}

In [183]:
a_set={1,3,4,5,3,3}

In [184]:
{1,2,3,4}.issubset(a_set)

False

In [185]:
a_set.issuperset({1,2,3})

False

In [186]:
strings=['a','as','bat','car','dove','python']

In [188]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [190]:
unique_lengths={len(x) for x in strings}

In [191]:
unique_lengths

{1, 2, 3, 4, 6}

In [192]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [193]:
loc_mapping={val:index for index,val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [194]:
all_data=[['john','emily','michael','mary','steven'],['maria','juan','javier','natalia','pilar']]

In [195]:
result=[name for names in all_data for name in names
       if name.count('e')>=2]

In [196]:
result

['steven']

In [197]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]

In [198]:
flattened=[x for tup in some_tuples for x in tup]

In [199]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [200]:
flattened=[]

In [202]:
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [203]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
def exchange(a,b):
    a,b = b,a
    return (a,b)
 
if __name__ == '__main__':
    x = 10
    y = 20
    print ('x = %d,y = %d' % (x,y))
    x,y = exchange(x,y)
    print ('x = %d,y = %d' % (x,y))

x = 10,y = 20
x = 20,y = 10

In [12]:
weekT={'h':'thursday',
       'u':'tuesday'}
weekS={'a':'saturday',
       'u':'sunday'}
week={'t':weekT,
      's':weekS,
      'm':'monday',
      'w':'wensday',
      'f':'friday'}
a=week[str(input('请输入第一位字母:')).lower()]
if a==weekT or a==weekS:
    print(a[str(input('请输入第二位字母:')).lower()])
else:
    print(a)

请输入第一位字母: s
请输入第二位字母: a

saturday

In [10]:
n=input("随便你输入啥啦：")
a=0
b=len(n)-1
flag=True
while a<b:
    if n[a]!=n[b]:
        print('不是回文串')
        flag=False
        break
    a,b=a+1,b-1
if flag:
    print('是回文串')

随便你输入啥啦： 563

不是回文串

In [14]:
lis=[1,10,100,1000,10000,100000]
n=int(input('insert a number: '))
lis.append(n)
for i in range(len(lis)-1):
    if lis[i]>=n:
        for j in range(i,len(lis)):
            lis[j],lis[-1]=lis[-1],lis[j]
        break
print(lis)

insert a number:  656

[1, 10, 100, 656, 1000, 10000, 100000]

In [15]:
lis=[1,10,100,1000,10000,100000]
for i in range(int(len(lis)/2)):
    lis[i],lis[len(lis)-1-i]=lis[len(lis)-1-i],lis[i]
print('第一种实现：')
print(lis)


lis=[1,10,100,1000,10000,100000]
print('第二种实现：')
lis.reverse()
print(lis)

第一种实现：
[100000, 10000, 1000, 100, 10, 1]
第二种实现：
[100000, 10000, 1000, 100, 10, 1]

In [16]:
i=0
n=0
def dummy():
    i=0
    print(i)
    i+=1
def dummy2():
    global n
    print(n)
    n+=1
print('函数内部的同名变量')
for j in range(20):
    print(i)
    dummy()
    i+=1
print('global声明同名变量')
for k in range(20):
    print(n)
    dummy2()
    n+=10

函数内部的同名变量
0
0
1
0
2
0
3
0
4
0
5
0
6
0
7
0
8
0
9
0
10
0
11
0
12
0
13
0
14
0
15
0
16
0
17
0
18
0
19
0
global声明同名变量
0
0
11
11
22
22
33
33
44
44
55
55
66
66
77
77
88
88
99
99
110
110
121
121
132
132
143
143
154
154
165
165
176
176
187
187
198
198
209
209